
<div class="modal-header">
  <h4 class="modal-title">
    <img src="assets/icons/component.png" alt="" style="margin-right: 19px;">
    组件设置
  </h4>
</div>

<div class="modal-body m_form cycle">
  <!--<div class="m_item">
    <div class="m_label">
      蓝牙MAC地址 <span>*</span>：
    </div>
    <div class="m_input">
      <input type="text" class="form-control" [(ngModel)]="mac" placeholder="请输入蓝牙MAC地址" #macAddr="ngModel"
             pattern="^([A-Z0-9]{2}:){5}[A-Z0-9]{2}$" required (input)="mac=mac.replace('：',':')">
      <div class="sign_tip">
        <span class="text_danger" *ngIf="macAddr.invalid && (macAddr.dirty || macAddr.touched)">
          MAC地址错误，例:FA:58:D6:E4:0F:36
        </span>
      </div>
    </div>
  </div>-->

  <div class="m_item">
    <div class="m_label">
      组件名称：
    </div>
    <div class="m_input">
      <input type="text" class="form-control" [(ngModel)]="name" placeholder="请输入组件名称" maxlength="15">
    </div>
  </div>

  <div class="m_item">
    <div class="m_label">
      设置日期：
    </div>
    <div class="m_input">
      <nz-date-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"
                      [nzDisabledDate]="disabledDate"
                      style="width: 100%;">
      </nz-date-picker>
    </div>
  </div>

  <div class="m_item">
    <div class="m_label">
      提醒时长：
    </div>
    <div class="m_input">
      <div style="display: flex; justify-content: space-between; font-size: 12px; align-items: flex-end;">
        <nz-input-number [(ngModel)]="period" [nzMin]="1" [nzMax]="100" [nzStep]="1"
                         pattern="^[1-9]\d*$" #per="ngModel" style="width:200px;" required>
        </nz-input-number>
        个月
      </div>
      <div class="sign_tip">
        <span class="text_danger" *ngIf="per.invalid && (per.dirty || per.touched)">
          请输入1-100的整数
        </span>
      </div>
    </div>
  </div>

  <div class="m_item">
    <div class="m_label">
      提醒主题：
    </div>
    <div class="m_input">
      <input type="text" class="form-control" [(ngModel)]="topic" placeholder="请输入提醒主题" maxlength="15">
    </div>
  </div>

</div>

<div class="modal-footer">
  <button type="button" class="btn" (click)="activeModal.dismiss('close')">取 消</button>
  <button type="button" class="btn btn_purple" style="margin-left: 35px;" (click)="save()" [disabled]="!name || !date || per.invalid">确 定</button>
</div>



