
<div class="">
  <div class="mat-card-title">
    <h5 class="text_info pull-left">
      <img src="assets/icons/icon_term.png" alt="">
      终端管理
    </h5>

    <div class="pull-right flex flex-row">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="请输入终端编码" [(ngModel)]="search" >
        <div class="input-group-append" (click)="searchChange()">
          <button class="btn btn_info" type="button"><i class="fa fa-search"></i></button>
        </div>
      </div>

      <!--<div class="ml-3" *ngIf="user.Role.RoleId <= 1">
        <button class="btn btn_info" (click)="groupAdd()">
          批量添加
        </button>
      </div>

      <div class="ml-3" *ngIf="user.Role.RoleId <= 1">
        <button class="btn btn_info" (click)="newTerminal()">
          新增终端
        </button>
      </div>-->
    </div>

  </div>

  <div class="t_content">
    <nz-spin [nzSize]="'large'" [nzSpinning]="isSpinning">
      <table class="table">
        <thead class="bg_light_primary">
        <th>
          <div class="checkbox c-checkbox white">
            <label>
              <input type="checkbox" [(ngModel)]="allDelete" (change)="allDel();">
              <span class="fa fa-check"></span></label>
          </div>
        </th>
        <th>序号</th>
        <th>终端编码</th>
        <th>从属企业</th>
        <th>
          在线状态
          <!--<nz-dropdown [nzTrigger]="'click'" [nzPlacement]="'bottomCenter'">
            <a nz-dropdown>
              <i class="fa fa-caret-down"></i>
            </a>
            <ul nz-menu nzSelectable>
              <li nz-menu-item>
                <a>在线</a>
              </li>
              <li nz-menu-item>
                <a>离线</a>
              </li>
            </ul>
          </nz-dropdown>-->
        </th>
        <th>关联设备</th>
        <th>配置状态</th>
        <th>模板状态</th>
        <th>操作</th>
        </thead>
        <tbody>
        <tr *ngFor="let ter of terminals;trackBy: trackByUid; let i = index">
          <td>
            <div class="checkbox c-checkbox">
              <label>
                <input type="checkbox" [(ngModel)]="ter.checkDelete" (change)="checkDel(ter);">
                <span class="fa fa-check"></span></label>
            </div>
          </td>
          <td> {{ i + 1 }} </td>
          <td> {{ ter.Sn }} </td>
          <td> {{ ter.OrganizationName }} </td>
          <td>
            <span class="label" [ngClass]="{'label_info': ter.IsOnline===1, 'label_grey': ter.IsOnline!==1}">
              {{ ter.isOnline }}
            </span>
          </td>

          <td>
            {{ ter.EquipmentName }}
          </td>
          <td>
            <span class="label label_grey" *ngIf="!ter.PlatVer">
              未配置
            </span>
            <span class="label label_info" *ngIf=" ter.PlatVer && ter.PlatVer === ter.TermVer">
              配置成功
            </span>
            <span class="label label_fail" *ngIf="ter.PlatVer && ter.PlatVer !== ter.TermVer">
              配置失败
            </span>
            <span class="">
              &nbsp;
              {{ ter.TermVer }}/{{ter.PlatVer}}
            </span>
          </td>
          <td> {{ ter.TemplateName || "默认配置" }} </td>
          <td>
            <a [routerLink]="['/admin/terminal/messages', ter.Sn]" class="btn btn_info btn-sm" target="_blank" style="color: #ffffff;">调试</a>
            <button class="btn btn_info btn-sm ml-2" (click)="editTerminal(ter)"> 关联 </button>
            <a [routerLink]="['/admin/terminal/config', ter.Sn]" class="btn btn_info btn-sm ml-2" target="_blank" style="color: #ffffff;"> 配置 </a>
            <a [routerLink]="['/admin/terminal/plc', ter.Sn]" class="btn btn_info btn-sm ml-2" target="_blank" style="color: #ffffff;"> 状态 </a>
          </td>
        </tr>
        </tbody>
      </table>
    </nz-spin>

    <p class="text-muted" *ngIf="!terminals||terminals.length===0">
      无有效数据
    </p>

  </div>

  <!--<div class="text-center">
    <nz-spin [nzSize]="'large'" [nzSpinning]="isSpinning"></nz-spin>
  </div>-->

  <div class="t_bottom">

    <div class="pull-left">
      <button class="btn btn_info mr-3" (click)="deleteG()"
              nz-button [nzLoading]="isLoading1"
              *ngIf="user.Role.RoleId <= 1">
        批量删除
      </button>
      <button class="btn btn_info mr-3" (click)="groupConfig()">
        批量配置
      </button>
      <button class="btn btn_info" (click)="groupIssued()"
              nz-button [nzLoading]="isLoading2">
        批量下发
      </button>

      <button class="btn btn_info ml-3" (click)="groupAdd()" *ngIf="user.Role.RoleId <= 1">
        批量添加
      </button>

      <button class="btn btn_info ml-3" (click)="newTerminal()" *ngIf="user.Role.RoleId <= 1">
        新增终端
      </button>

    </div>


    <ngb-pagination class="pull-right"
                    [collectionSize]="totalItems"
                    [pageSize]="pageSize" [(page)]="page"
                    [maxSize]="3" [rotate]="true" [boundaryLinks]="false"
                    (pageChange)="pageChange()">

    </ngb-pagination>
    <div class="pull-right mr-3">
      <select [(ngModel)]="pageSize" class="form-control" (change)="pageSizeChange()">
        <option value="10">10</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
    <div class="pull-right mr-3" style="line-height: 33px;"> 共 {{totalItems}} 项</div>
  </div>

</div>

