
.label{
  padding: 3px 6px;
  border-radius: 4px;
}
.label_info{
  background-color: #00a4ff;
  color: #ffffff;
}
.label_fail{
   background-color: #e99563;
   color: #ffffff;
 }
.label_grey{
  background-color: #aaaaaa;
  color: #ffffff;
}



