<div class="mat-card-title">
  <h5 class="text_info pull-left">
    <!--<img src="assets/icons/icon_term.png" alt="">-->
    <i class="fa fa-terminal"></i>
    终端管理
  </h5>

</div>

<div class="" style="padding: 20px 20px 40px; background-color: #ffffff;">
  <div class="" style="padding-bottom: 20px;  overflow: hidden;">
    <h5 class="pull-left" style="font-size: 16px; line-height: 32px;">
      终端消息调试
      <span class="">
       [ {{ code }} ]
      </span>
    </h5>

    <div class="pull-right flex flex-row">
      <div class="mr-3" style="line-height: 32px;">
        最后收到消息时间：{{ updateDate | date:'yyyy-MM-dd HH:mm:ss' }}
      </div>

      <div class="ml-3" >
        <button class="btn btn_info" (click)="getMessage()">
          <i class="fa fa-repeat"></i>
          刷新
        </button>
      </div>

      <!--<div class="ml-3" >
        <a (click)="goBack()" class="btn btn_info" style="color: #ffffff;">
          <i class="fa fa-reply"></i>
          返回
        </a>
      </div>-->
    </div>

  </div>


  <div class="" style="overflow:auto; width: 100%; height: 550px; border: 1px solid #eeeeee;">
    <div>
      <table class="table table-bordered">
        <thead class="bg_light_primary">
        <th>序号</th>
        <th>采样时间</th>
        <th>版本</th>
        <th colspan="12">模拟量通道A</th>
        <th colspan="12">模拟量通道B</th>
        <th colspan="3">开关量通道</th>
        <th colspan="12">状态量通道</th>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td> - </td>
          <td> - </td>
          <td width="3%" class="num"
              *ngFor="let col of temperCols; let i = index">
            {{ i + 1 }}
          </td>
          <td width="3%" class="num"
              *ngFor="let col of analogCols; let i = index">
            {{ i + 1 }}
          </td>
          <td width="3%" class="num"
              *ngFor="let col of switchCols; let i = index">
            {{ i + 1 }}
          </td>
          <td width="3%" class="num"
              *ngFor="let col of calcCols; let i = index">
            {{ i + 1 }}
          </td>
        </tr>
        <tr *ngFor="let ter of messages; trackBy: trackByUid; let i = index">
          <td> {{ i + 1 }} </td>
          <td style="white-space: nowrap;"> {{ ter.TS}} </td>
          <td> {{ ter.Equipment_data_fmt_ver }} </td>
          <td *ngFor="let col of temperCols">
            {{ ter[col] }}
          </td>
          <td *ngFor="let col of analogCols">
            {{ ter[col] }}
          </td>
          <td *ngFor="let col of switchCols">
            {{ ter[col] }}
          </td>
          <td *ngFor="let col of calcCols">
            {{ ter[col] | number }}
          </td>
        </tr>
        </tbody>
      </table>
      <p class="text-muted" *ngIf="!messages||messages.length===0" style="padding: 20px;">
        无有效数据
      </p>
    </div>

    <div class="text-center">
      <nz-spin [nzSize]="'large'" [nzSpinning]="isSpinning"></nz-spin>
    </div>

  </div>


  <!--<div>
    <ngb-pagination class="pull-right"
                    [collectionSize]="totalItems"
                    [pageSize]="pageSize" [(page)]="page"
                    [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                    (pageChange)="pageChange()">

    </ngb-pagination>
    <div class="pull-right mr-3">
      <select [(ngModel)]="pageSize" class="form-control" (change)="pageSizeChange()">
        <option value="10">10</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
    <div class="pull-right mr-3" style="line-height: 33px;"> 共 {{totalItems}} 项</div>
  </div>-->

</div>
