
<div class="content">
  <div class="list_head">
    <div class="li_head_l">
      <h6>
        账号信息
      </h6>
    </div>
    <div class="li_head_r">
      <!--刷新-->
      <button class="btn btn_purple-o btn_round bps ml-1" (click)="refresh()">
        <i class="iconfont iconicon_Refresh"></i>
      </button>
      <button class="btn btn_purple btn_round bpm ml-1" (click)="changePass()">
        密码修改
      </button>
    </div>
  </div>

  <div class="info_content flex" style="margin-top: 5px;">
    <div class="f_info_l">
      <div class="f_info_basic">
        <div class="f_info_title">
          <h6>
            基础信息
          </h6>

          <!--修改-->
          <a (click)="editConfig()" title="修改">
            <span class="iconfont iconedit text_purple"></span>
          </a>
        </div>
        <div class="f_info_body">
          <ul>
            <li class="f_info_item">
              <div class="f_info_item_title">
                用户名
              </div>
              <div class="f_info_item_value">
                {{user?.name}}
              </div>
            </li>

            <li class="f_info_item">
              <div class="f_info_item_title">
                单位名称
              </div>
              <div class="f_info_item_value">
                {{user?.org_name}}
              </div>
            </li>
            <li class="f_info_item">
              <div class="f_info_item_title">
                单位类型
              </div>
              <div class="f_info_item_value">
                <span *ngIf="user&&user.org_tag === 1">
                  产品使用
                </span>
                <span *ngIf="user&&user.org_tag === 2">
                  产品制造
                </span>
                <span *ngIf="user&&user.org_tag === 3">
                  产品运维
                </span>
                <span *ngIf="user&&user.org_tag === 4">
                  组件供应
                </span>
                <span *ngIf="user&&user.org_tag === 5">
                  监管机构
                </span>
              </div>
            </li>
            <li class="f_info_item">
              <div class="f_info_item_title">
                地域地址
              </div>
              <div class="f_info_item_value">
                {{user?.location_name}}
              </div>
            </li>
            <li class="f_info_item">
              <div class="f_info_item_title">
                邮箱
              </div>
              <div class="f_info_item_value">
                {{user?.email}}
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="f_info_config mt-3">
        <div class="f_info_title">
          <h6>
            配置信息
          </h6>
        </div>
        <div class="f_info_body">
          <ul>
            <li class="f_info_item">
              <div class="f_info_item_title">
                账号
              </div>
              <div class="f_info_item_value">
                {{user?.username}}
              </div>
            </li>
            <li class="f_info_item">
              <div class="f_info_item_title">
                账号状态
              </div>
              <div class="f_info_item_value">
                <span class="text_danger" *ngIf="user&&user.status===0">
                  禁用
                </span>
                <span class="" *ngIf="user&&user.status===1">
                  正常
                </span>
              </div>
            </li>
            <li class="f_info_item">
              <div class="f_info_item_title">
                账号类型
              </div>
              <div class="f_info_item_value">
                <span *ngIf="user&&user.role_id===1">
                  系统用户
                </span>
                <span class="" *ngIf="user&&user.role_id===10">
                  正式用户
                </span>
                <span class="" *ngIf="user&&user.role_id===11">
                  普通用户
                </span>
                <span class="" *ngIf="user&&user.role_id===15">
                  维保用户
                </span>
                <span class="" *ngIf="user&&user.role_id===20">
                  测试用户
                </span>

              </div>
            </li>
            <li class="f_info_item">
              <div class="f_info_item_title">
                扩展应用
              </div>
              <div class="f_info_item_value flex flex-wrap">
                <span *ngFor="let data of expand" class="expand">
                  {{data.name}}
                </span>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </div>

    <div class="f_info_r">
      <div class="f_info_title">
        <h6>
          关联记录
        </h6>

        <a class="btn btn_purple btn_round bpm" [routerLink]="['/admin/ordinary/account/operate', user?.uid]">
          查看更多
        </a>
      </div>
      <div class="f_info_body">
        <ul class="f_info_op">
          <li class="f_info_op_item" *ngFor="let data of operate">
            <div class="f_info_item_date">
              {{data.created_at | date: 'yyyy-MM-dd'}}
            </div>
            <div class="f_info_item_op" >
              {{data.info}}
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>

</div>


