<!--<div class="bread">
  维保管理 <span> / </span>维保记录
</div>-->

<div class="content">
  <div class="info_head">
    <div class="info_tname">
      <img src="assets/icons/icon_buletooth_setting.png" alt="">
      维保详情
    </div>
    <div>
      <!--返回-->
      <button class="btn btn_purple-o btn_round bps" [routerLink]="['/admin/formal/maintenance-record/list', {page: listPage}]">
        <i class="iconfont iconicon_comeback1"></i>
      </button>
      <!--<button class="btn btn_purple btn_round bpm ml-3" (click)="deleteData()">
        删除
      </button>
      <button class="btn btn_purple btn_round bpm ml-3" (click)="scrap()" [disabled]="!basic || basic.status === 4">
        设备报废
      </button>-->
    </div>
  </div>

  <div class="info_content">
    <div class="flex record_info">
      <div>
        <div class="r_info_item">
          <div class="r_info_label">
            维保编号：
          </div>
          <div class="r_info_value">
            asdfa
          </div>
        </div>

        <div class="r_info_item">
          <div class="r_info_label">
            设备名称：
          </div>
          <div class="r_info_value">
            asdfa
          </div>
        </div>

        <div class="r_info_item">
          <div class="r_info_label">
            维保人员：
          </div>
          <div class="r_info_value">
            asdfa
          </div>
        </div>
      </div>

      <div>
        <div class="r_info_item">
          <div class="r_info_label">
            维保模板：
          </div>
          <div class="r_info_value">
            asdfa
          </div>
        </div>

        <div class="r_info_item">
          <div class="r_info_label">
            终端编码：
          </div>
          <div class="r_info_value">
            asdfa
          </div>
        </div>

        <div class="r_info_item">
          <div class="r_info_label">
            提交时间：
          </div>
          <div class="r_info_value">
            asdfa
          </div>
        </div>
      </div>
    </div>

    <div class="record_table">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>
            序号
          </th>
          <th>
            描述
          </th>
          <th>
            状态
          </th>
          <th>
            备注
          </th>
          <th>
            图片
          </th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let item of dataList; let n = index;">
          <td> {{ n+1 }} </td>
          <td style="font-weight: bold; color:#666EE8;"> {{ item.description }} </td>
          <td>
            <span *ngIf="item.status" class="">
              正常
            </span>
            <span *ngIf="!item.status" class="text_danger">
              异常
            </span>
          </td>
          <td>
            {{item.remark || '无'}}
          </td>
          <td>
            <span *ngIf="!item.imgList || item.imgList.length <= 0">无</span>
            <!--<span *ngFor="let img of item.imgList; let n = index;">
              <a href="{{img}}" download="图片{{ n+1 }}">图片{{ n+1 }}</a>
            </span>-->
            <span *ngFor="let img of item.imgList; let n = index;" (click)="preview(img)" class="text_blue">
              <!--<img src="{{img}}" alt="">-->
              <a>图片{{ n+1 }}</a>
            </span>
          </td>
        </tr>

        </tbody>
      </table>
    </div>

    <!--缩略图-->
    <nz-modal
      [nzVisible]="previewVisible"
      [nzContent]="modalContent"
      [nzFooter]="null"
      (nzOnCancel)="previewVisible = false"
    >
      <ng-template #modalContent>
        <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
      </ng-template>
    </nz-modal>

  </div>

</div>



