<div class="modal-header">
  <h4 class="modal-title">
    锅炉地址信息设置
    <span class="text-info" style="font-size: 16px;"> [ {{currentData.Name}} ] </span>
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body" >
  <div class="row">
    <div class="form-location col-6 flex">
      <div class="form-group flex-grow-1">
        <select [(ngModel)]="address.aProvince"
                class="form-control">
          <option *ngFor="let prov of addrList" [value]="prov.LocationId" >{{prov.Name}}</option>
        </select>
      </div>
      <div class="form-group flex-grow-1">
        <select [(ngModel)]="address.aCity"
                [disabled]="!address.aProvince || address.aProvince === 0"
                class="form-control">
        </select>
      </div>
      <div class="form-group flex-grow-1">
        <select [(ngModel)]="address.aRegion"
                [disabled]="!address.aCity || address.aCity === 0"
                class="form-control">
        </select>
      </div>
    </div>
    <div class="form-group col-6">
      <div class="input-group">
        <span class="input-group-prepend">
          <span class="input-group-text">
            所在地址
          </span>
        </span>
        <input type="text"
               [(ngModel)]="address.address"
               class="form-control"
               placeholder="输入详细地址">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-6">
      <div class="input-group">
        <span class="input-group-prepend">
          <span class="input-group-text">
            经度
          </span>
        </span>
        <input type="number" max="180.0" min="-180.0"
               step="any"
               [(ngModel)]="address.longitude"
               class="form-control"
               placeholder="输入所在地经度(0.0 - 180.0)">
      </div>
    </div>
    <div class="form-group col-6">
      <div class="input-group">
        <span class="input-group-prepend">
          <span class="input-group-text">
            纬度
          </span>
        </span>
        <input type="number" max="90.0" min="0.0"
               step="any"
               [(ngModel)]="address.latitude"
               class="form-control"
               placeholder="输入所在地经度(0.0 - 90.0)">
      </div>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-12">
      <div id="container" style="width: 100%; height: 360px;"></div>
    </div>
  </div>





</div>

<div class="modal-footer">
  <button type="button" class="btn btn-info" (click)="save()">
    <span class="">保存</span>
  </button>
  <button class="btn btn-default" type="button" (click)="activeModal.dismiss('close')">取消</button>
</div>


