


<div class="">
  <!--<div class="mat-card-title">
    <h5 class="text_info pull-left">
      <i class="fa fa-user-circle-o"></i>
      人脸识别记录
    </h5>

    &lt;!&ndash;<div class="pull-right flex flex-row">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="请输入视频名称" [(ngModel)]="search" >
        <div class="input-group-append" (click)="searchChange()">
          <button class="btn btn_info" type="button"><i class="fa fa-search"></i></button>
        </div>
      </div>

    </div>&ndash;&gt;

  </div>-->

  <div class="t_content">
    <nz-spin [nzSize]="'large'" [nzSpinning]="isSpinning">
      <table class="table">
        <thead class="bg_light_primary">
        <!--<th *ngIf="user && user.Role.RoleId <= 10">
          <div class="checkbox c-checkbox white">
            <label>
              <input type="checkbox" [(ngModel)]="allDelete" (change)="allDel();">
              <span class="fa fa-check"></span></label>
          </div>
        </th>-->
        <th> 用户账号 </th>
        <th> 用户名称 </th>
        <th> 关联微信 </th>
        <th> 匹配人员 </th>
        <th> 认证结果 </th>
        <th> 认证时间 </th>
        <th> 关联摄像头 </th>
        <th> 操作 </th>
        </thead>
        <tbody>
        <tr *ngFor="let data of faceLists; let i = index">
          <!--<td *ngIf="user && user.Role.RoleId <= 10">
            <div class="checkbox c-checkbox">
              <label>
                <input type="checkbox" [(ngModel)]="data.checkDelete" (change)="checkDel(data);">
                <span class="fa fa-check"></span></label>
            </div>
          </td>-->
          <td> {{ data.User?.Username }}  </td>
          <td> {{ data.User?.Name }}  </td>
          <td> {{ data.WechatName }} </td>
          <td> {{ data.User?.Name}} </td>
          <td style="">
            <span *ngIf="data.Result" class="text-success">
              匹配成功
            </span>
            <span *ngIf="!data.Result" class="text-danger">
              匹配失败
            </span>
          </td>
          <td> {{ data.CreatedDate | date:'yyyy-MM-dd HH:mm:ss'}} </td>
          <td>
              {{ data.Camera.Name }}
          </td>
          <td>

            <button class="btn btn_info btn-sm " title="修改" (click)="viewData(data)"
              *ngIf="user && user.Role.RoleId <= 10">
              查看
            </button>

          </td>
        </tr>
        </tbody>
      </table>
    </nz-spin>
    <p class="text-muted" *ngIf="!faceLists||faceLists.length===0">
      无有效数据
    </p>
  </div>



  <div class="t_bottom">
    <div class="pull-left">
      <!--<button class="btn btn_info" (click)="deleteG()"
              *ngIf="user && user.Role.RoleId <= 10"
              nz-button [nzLoading]="isLoading">
        批量删除
      </button>-->

      <!--<button class="btn btn_info ml-3" (click)="newData()"
              *ngIf="user && user.Role.RoleId <= 10">
        新增匹配
      </button>-->


    </div>



    <ngb-pagination class="pull-right"
                    [collectionSize]="totalItems"
                    [pageSize]="pageSize" [(page)]="page"
                    [maxSize]="3" [rotate]="true" [boundaryLinks]="false"
                    (pageChange)="pageChange()">

    </ngb-pagination>
    <div class="pull-right mr-3">
      <select [(ngModel)]="pageSize" class="form-control" (change)="pageSizeChange()">
        <option value="10">10</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
    <div class="pull-right mr-3" style="line-height: 33px;"> 共 {{totalItems}} 项</div>
  </div>

</div>




