

.c_head{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}


.bill .table th{
  background-color: #EBECF0;
  font-size: 12px;
}
.bill .table th *{
  font-size: 12px;
}
.bill .table td{
  border-bottom: 1px solid #DCDEE3;
  font-size: 12px;
}




