

.tab_a{
  display: flex;
}
.tab_a a{
  /*display: block;*/
  color: #333333;
  border: 1px solid #e5e5e5;
  /*padding: 10px;*/
  /*border-top: 3px solid transparent;*/
  /*text-decoration: none;*/
}
.tab_a a:hover{
  background-color: #19bc9c;
  border: 1px solid #19bc9c;
  color: #ffffff;
}
.tab_a a.btn_info{
  color: #ffffff;
}

.tab_a a.active{
  /*border-top: 3px solid #17a2b8;
  color: #17a2b8;*/
}
