


<div class="content">
  <div class="list_head">
    <div class="li_head_l">
      <h6>
        模板组态设置
      </h6>
    </div>
    <div class="li_head_r">
      <!--返回-->
      <!--<button class="btn btn_purple-o btn_round bps" (click)="goBack()">
        <i class="iconfont iconicon_comeback1"></i>
      </button>-->
    </div>
  </div>

  <div class="list_content">
    <div class="flex lc_head">
      <div class="lc_head_item">
        <div class="lc_head_lable">
          组态编码：
        </div>
        <div class="lc_head_value">
          {{id}}
        </div>
      </div>

      <div class="lc_head_item">
        <div class="lc_head_lable">
          组态名称：
        </div>
        <div class="lc_head_value">
          <div>
            <div *ngIf="!editName" style="display: flex; align-items: center;">
              <span>{{name}}</span>
              <i class="iconfont iconedit1" (click)="editName=true" title="修改"></i>
            </div>
            <div *ngIf="editName" style="display: flex; align-items: center;">
              <input type="text" [(ngModel)]="newName" style="border: 1px solid #dddddd; padding: 0 10px;" maxlength="10">
              <i class="iconfont iconundo" (click)="editName=false; newName=name;" title="撤销"></i>
              <i class="iconfont iconconfirm" (click)="editName=false; name=newName;" title="确定"></i>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!--组态-->
    <div class="zutai">

      <div class="flex">
        <!--组件-->
        <div class="component_box">
          <div class="component">
            <!-- 公共组件-->
            <!--<h6>通用组件</h6>-->
            <div class="imgBox">
              <img *ngFor="let img1 of imgComponents1; let n = index;" src="{{img1.src}}" title="{{img1.name}}"
                   draggable="true" (dragstart)="dragstart($event,img1);" id="imgA{{n}}">
            </div>

            <!--单形态-->
            <!--<h6>自定义组件</h6>-->
            <div class="imgBox">
              <img *ngFor="let img2 of imgComponents2; let n = index;" src="{{img2.img}}" title="{{img2.name}}"
                   draggable="true" (dragstart)="dragstart($event, img2);" id="imgB{{n}}">
            </div>

            <!--多形态-->
            <div class="imgBox">
              <img *ngFor="let img3 of imgComponents3; let n = index;" src="{{img3.imgs[0].img}}" title="{{img3.name}}"
                   draggable="true" (dragstart)="dragstart($event, img3);" id="imgC{{n}}">
            </div>



            <div class="dataBox">
              <div class="dataComp" id="data1" draggable="true" (dragstart)="dragstart($event,'固定文本框');">
                固定文本框
              </div>
              <div class="dataComp" id="data2" draggable="true" (dragstart)="dragstart($event, '自定义文本框');">
                自定义文本框
              </div>
              <!--<div class="dataComp" id="data3" draggable="true" (dragstart)="dragstart($event);">
                开关量
              </div>-->
            </div>

            <div class="btnBox">
              <!--<nz-switch [ngModel]="true" id="btn1" draggable="true" (dragstart)="dragstart($event, '交互按钮');"></nz-switch>-->
              <button class="b_switch" id="btn1" draggable="true" (dragstart)="dragstart($event, '交互按钮');">
                <!--交互按钮-->
              </button>
            </div>

          </div>

          <div class="com_bottom">
            <button class="btn btn_purple bpm" style="width: 100px; padding: 0.375rem;" (click)="createComponentModal()">
              上传自定义组件
            </button>
            <button class="btn btn_purple-o bpm ml-1" style="width: 100px; padding: 0.375rem;" (click)="deleteComponentModal()">
              删除自定义组件
            </button>
          </div>
        </div>

        <!--视图-->
        <div class="view_box">
          <div id="capture" (drop)="drop($event)" (dragover)="allowDrop($event)">
            <!--公共图片-->
            <div class="imgComponent" *ngFor="let img1 of imgLists1" id="{{img1.id}}" (click)="select1(img1)" [class.selected]="selected === img1"
                 [ngStyle]="img1.style" (mousedown)="eventDown($event);select1(img1)" (mouseup)="eventUp($event)">
              <img src="{{img1.src}}" alt="">
              <div class="scale" (mousedown)="select1(img1); resizeItem($event)">
              </div>
            </div>

            <!--单形态图片-->
            <div class="imgComponent" *ngFor="let img2 of imgLists2" id="{{img2.id}}" (click)="select12(img2)" [class.selected]="selected === img2"
                 [ngStyle]="img2.style" (mousedown)="eventDown($event);select12(img2)" (mouseup)="eventUp($event)">
              <img src="{{img2.src}}" alt="">
              <div class="scale" (mousedown)="select12(img2); resizeItem($event)">
              </div>
            </div>

            <!--多形态图片-->
            <div class="imgComponent" *ngFor="let img3 of imgLists3" id="{{img3.id}}" (click)="select13(img3)" [class.selected]="selected === img3"
                 [ngStyle]="img3.style" (mousedown)="eventDown($event);select13(img3)" (mouseup)="eventUp($event)">
              <img src="{{img3.src}}" alt="">
              <div class="scale" (mousedown)="select13(img3); resizeItem($event)">
              </div>
            </div>


            <!--数据-->
            <div class="dataComponent" *ngFor="let data1 of dataLists1" id="{{data1.id}}" (click)="select21(data1)" [class.selected]="selected === data1"
                 [ngStyle]="data1.style" (mousedown)="eventDown($event);select21(data1)" (mouseup)="eventUp($event)">
              <!--{{data1.chanName}}: 监测值--> {{data1.text}}
            </div>

            <div class="dataComponent" *ngFor="let data2 of dataLists2" id="{{data2.id}}" (click)="select22(data2)" [class.selected]="selected === data2"
                 [ngStyle]="data2.style" (mousedown)="eventDown($event);select22(data2)" (mouseup)="eventUp($event)">
              {{data2.chanName}}: 监测值
            </div>


            <!--按钮-->
            <div class="btnComponent" *ngFor="let btn of btnLists" id="{{btn.id}}" (click)="select3(btn)" [class.selected]="selected === btn"
                 [ngStyle]="btn.style" (mousedown)="eventDown($event);select3(btn)" (mouseup)="eventUp($event)">
              <button class="b_switch">
                <!--{{btn.cName}}-->
                <!--<img src="assets/images/customize/switch.png" alt="">-->
              </button>
              <!--<nz-switch [ngModel]="true"></nz-switch>-->
            </div>

          </div>

        </div>

        <!--控制-->
        <div class="ctrl_container">
          <div>
            <div class="ct_item">
              <div class="ct_label">
                组件名称：
              </div>
              <div class="ct_input">
                {{cName}}
              </div>
            </div>

            <div class="ct_item">
              <div class="ct_label">
                组件类型：
              </div>
              <div class="ct_input">
                {{cType}}
              </div>
            </div>
          </div>

          <div *ngIf="ctrl0">
            <div class="ct_item">
              <div class="ct_label">
                关联点位：
              </div>


              <div class="ct_select">
                <select *ngIf="showCh===0" [(ngModel)]="dataValue" (change)="chooseValue(dataValue)">
                  <option *ngFor="let chan of chans; let n = index;" [value]="chan.id">{{chan.name}}</option>
                </select>

                <select *ngIf="showCh===1" [(ngModel)]="dataValue" (change)="chooseValue(dataValue)">
                  <option *ngFor="let chan of chans1; let n = index;" [value]="chan.id">{{chan.name}}</option>
                </select>

                <select *ngIf="showCh===2" [(ngModel)]="dataValue" (change)="chooseValue(dataValue)">
                  <option *ngFor="let chan of chans2; let n = index;" [value]="chan.id">{{chan.name}}</option>
                </select>

                <select *ngIf="showCh===3" [(ngModel)]="dataValue" (change)="chooseValue(dataValue)">
                  <option *ngFor="let chan of chans3; let n = index;" [value]="chan.id">{{chan.name}}</option>
                </select>
              </div>

            </div>
          </div>

          <div *ngIf="ctrl1">
            <div class="ct_item">
              <div class="ct_label">
                显示宽度：
              </div>
              <div class="ct_input">
                <input type="number" id="i_w" [(ngModel)]="i_w" (change)="changeW(i_w)"> px
              </div>
            </div>

            <div class="ct_item">
              <div class="ct_label">
                显示高度：
              </div>
              <div class="ct_input">
                <input type="number" id="i_h" [(ngModel)]="i_h" (change)="changeH(i_h)"> px
              </div>

            </div>
          </div>

          <div *ngIf="ctrl3">
            <div class="ct_item">
              <div class="ct_label">
                文本内容：
              </div>
              <div class="ct_input">
                <input type="text" [(ngModel)]="curText" (change)="changeText(curText)" placeholder="10个汉字以内" maxlength="10">
              </div>
            </div>
          </div>

          <div *ngIf="ctrl2">
            <!--<div>
              <label>显示类型</label>
              <select name="" [(ngModel)]="dataType" (change)="chooseType(dataType)">
                <option value="0">监测点</option>
                <option value="1">监测值</option>
                <option value="2">监测点+检测值</option>
              </select>
            </div>-->
            <div>
              <div class="ct_item">
                <div class="ct_label">
                  背景颜色：
                </div>
                <div>
                  <input type="color" #color11 (change)="changeColor11(color11.value)" [(ngModel)]="color1">
                </div>
              </div>

              <div class="ct_item">
                <div class="ct_label">
                  字体颜色：
                </div>
                <div>
                  <input type="color" #color12 (change)="changeColor12(color12.value)" [(ngModel)]="color2">
                </div>

              </div>

              <div class="ct_item">
                <div class="ct_label">
                  边框颜色：
                </div>
                <div>
                  <input type="color" #color13 (change)="changeColor13(color13.value)" [(ngModel)]="color3">
                </div>
              </div>

              <div class="ct_item">
                <div class="ct_label">
                  字体大小：
                </div>
                <div class="ct_select">
                  <select (change)="changeSize1(fontSize1)" [(ngModel)]="fontSize1">
                    <option value="12">12</option>
                    <option value="14">14</option>
                    <option value="16">16</option>
                    <option value="18">18</option>
                    <option value="24">24</option>
                  </select>
                  px
                </div>
              </div>

            </div>
          </div>

          <div *ngIf="ctrl4">
            <div class="ct_item">
              <div class="ct_label">
                寄存器地址：
              </div>
              <div class="ct_input">
                <input type="text" [(ngModel)]="curAddress" (change)="changeAddress(curAddress)" placeholder="">
              </div>
            </div>
          </div>


          <div class="ct_btn_box">
            <!--<div class="ct_btn">
              <button class="btn btn_purple bpm" (click)="save()">
                保存
              </button>
            </div>-->
            <div class="ct_btn" *ngIf="selected">
              <button class="btn btn_purple bpm" (click)="deleteD()">
                删除
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="text-center">
      <div class="btn-group">
        <button class="btn btn_purple bpm" (click)="goBack()">返回</button>
        <button class="btn btn_purple bpm" (click)="save()" style="margin-left: 1px;">确认提交</button>
      </div>

    </div>


  </div>

</div>
