
<div class="equip_info">

  <div class="mat-card-title">
    <h5 class="text_info pull-left">
      <img src="assets/icons/equip.png" alt="">
      设备信息
    </h5>
    <!--<div class="pull-right">
      <a (click)="goBack()" class="text_info">
        <i class="fa fa-reply"></i>
        返回
      </a>
    </div>-->
  </div>

  <div class="mt-lg-6 panel-group">

    <!--常规信息-->
    <div class="panel panel-info">
      <div class="panel-heading" (click)="panel[0].open = !panel[0].open">
        <div class="panel-title" >
          <h6 class="">常规信息</h6>
        </div>
        <div class="ph_btn" *ngIf="user && user.Role.RoleId<=10">
          <a class="" (click)="editBoiler()">
            <i class="fa fa-edit"></i> 编辑
          </a>
        </div>
      </div>

      <div class="panel-body collapse" [class.show]="panel[0].open">
        <div class="pb_title">
          必填信息
        </div>
        <ul class="row">
          <li class="flex col-6">
            <div class="list_title">
                设备名称
            </div>
            <div class="list_value">
              {{ info?.Name }}
            </div>
          </li>
          <li class="flex col-6">
            <div class="list_title">
              设备型态
            </div>
            <div class="list_value">
              {{ info?.Template?.Name }}
            </div>
          </li>


        </ul>

        <div class="pb_title">
          关联企业
        </div>
        <ul class="row" style="border-bottom: 1px solid #dddddd;">
          <li class="flex col-6" *ngFor="let or of info?.OrganizationsLinked">
            <div class="list_title">
              {{ or.Type.Name}}
            </div>
            <div class="list_value">
              {{ or.Name }}
            </div>
          </li>

        </ul>

        <div class="pb_title">
          其他信息
        </div>
        <ul class="row" style="border-bottom: 1px solid #dddddd;">
          <li class="flex col-6" *ngFor="let li of info?.EquipmentInfo">
            <div class="list_title">
              {{ li.Name }}
            </div>
            <div class="list_value">
              {{ li.Value }}
            </div>
          </li>

        </ul>

        <!--<div class="p-3 text-center" *ngIf="user && user.Role.RoleId<=10">
          <button class="btn btn-outline-info btn-block" (click)="editBoiler()">
            <i class="fa fa-edit"></i> 编辑
          </button>
        </div>-->

      </div>
    </div>

    <!--终端信息-->
    <div class="panel panel-info">
      <div class="panel-heading" (click)="panel[1].open = !panel[1].open">
          <div class="panel-title flex justify-content-between">
            <h6 class="">终端信息</h6>
            <!--<button class="btn btn-outline-info btn-sm" (click)="terBind($event)"
                    *ngIf="user && user.Role.RoleId<=10"
                    style="border-radius: 30px; padding: 0.2rem 0.45rem;">
              <i class="fa fa-plus"></i>
            </button>-->
          </div>
      </div>

      <div class="panel-body collapse" [class.show]="panel[1].open">
        <table class="table table-bordered">
          <tbody>
          <tr>
            <th>
            </th>
            <th>终端编码</th>
            <th>操作</th>
          </tr>
          <tr *ngFor="let ter of terminals; let i = index;">
            <td>
              {{ter.TerminalSetId}}
            </td>
            <td> {{ter.TerminalCode || '未绑定'}} </td>
            <td>

              <button class="btn btn-sm btn-outline-danger" (click)="terBind($event,ter.TerminalSetId)"
                      *ngIf="user && user.Role.RoleId<=10 && !ter.TerminalCode">
                添加终端
              </button>

              <button class="btn btn-sm btn-outline-danger" (click)="unBind(ter)"
                      *ngIf="user && user.Role.RoleId<=10 && ter.TerminalCode">
                解绑
              </button>

              <a [routerLink]="['/admin/terminal/messages', ter.TerminalCode]" target="_blank"
                 class="btn btn-sm btn-outline-info ml-2"
                 *ngIf="user && user.Role.RoleId<=10 && ter.TerminalCode">
                调试
              </a>

              <a [routerLink]="['/admin/terminal/config', ter.TerminalCode]" target="_blank"
                 class="btn btn-sm btn-outline-info ml-2"
                 *ngIf="user && user.Role.RoleId<=10 && ter.TerminalCode">
                配置
              </a>

            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>


    <!--地址信息-->
    <div class="panel panel-info">
      <div class="panel-heading" (click)="panel[2].open = !panel[2].open">
        <div class="panel-title">
          <h6 class="">地址信息</h6>
        </div>
        <div class="ph_btn" *ngIf="user && user.Role.RoleId<=10">
            <a class="" (click)="editAddress($event)">
              <i class="fa fa-edit"></i> 编辑
            </a>
        </div>
      </div>

      <div class="panel-body collapse" [class.show]="panel[2].open">
        <table class="table table-bordered">
          <tbody>
          <tr>
            <th>所在区域</th>
            <td>{{ info?.Address?.Location?.LocationName }}</td>
            <th>使用地址</th>
            <td>{{ info?.Address?.Address }}</td>
          </tr>

          <tr>
            <th>经度</th>
            <td>{{ info?.Address?.Longitude }}</td>
            <th>纬度</th>
            <td>{{ info?.Address?.Latitude }}</td>
          </tr>
          <tr>
            <td colspan="4" style="">
              <div style="width: 100%; height: 250px;">
                <div id="container" style="width: 100%; height: 250px;"></div>
              </div>
            </td>
          </tr>

          </tbody>
        </table>
      </div>

    </div>


    <!--维护信息-->
    <div class="panel panel-info">
      <div class="panel-heading" (click)="panel[3].open = !panel[3].open">
        <div class="panel-title">
          <h6 class="">维护信息</h6>
        </div>
        <div class="ph_btn" *ngIf="user && user.Role.RoleId<=10">
            <a class="" (click)="editMaintain($event)">
              <i class="fa fa-edit"></i> 编辑
            </a>
        </div>
      </div>

      <div class="panel-body collapse" [class.show]="panel[3].open">
        <table class="table table-bordered">
          <tbody>
          <tr>
            <td colspan="4" class="" style="text-align: left; color: #333333;">联系信息</td>
          </tr>
          <tr>
            <th width="18%">联系人</th>
            <td width="32%">{{ info?.Contact?.Name }}</td>

            <th width="18%">联系电话（座机）</th>
            <td width="32%">{{ info?.Contact?.PhoneNumber }}</td>
          </tr>
          <tr>
            <th>移动电话</th>
            <td>{{ info?.Contact?.MobileNumber }}</td>

            <th>邮箱地址</th>
            <td>{{ info?.Contact?.Email }}</td>
          </tr>
          <tr>
            <td colspan="4" class="" style="text-align: left; color: #333333;">维护信息</td>
          </tr>
          <tr>
            <th>下次内部检测日期</th>
            <td>{{ info?.InspectInnerDateNext | date:"yyyy-MM-dd" }}</td>

            <th>下次安全阀检测日期</th>
            <td>{{ info?.InspectValveDateNext | date:"yyyy-MM-dd" }}</td>
          </tr>
          <tr>
            <th>下次外部检测日期</th>
            <td>{{ info?.InspectOuterDateNext | date:"yyyy-MM-dd" }}</td>

            <th>下次压力表检测日期</th>
            <td>{{ info?.InspectGaugeDateNext | date:"yyyy-MM-dd" }}</td>
          </tr>

          </tbody>
        </table>
      </div>

    </div>




  </div>

  <div class="panel-footer">
    <a (click)="goBack()" class="btn btn_info mr-2" style="color: #ffffff;">
      <i class="fa fa-reply"></i>
      返回
    </a>
    <button class="btn btn-danger" (click)="delete()" *ngIf="user && user.Role.RoleId<=10">
      <i class="fa fa-trash"></i>
      删除
    </button>
  </div>

</div>
