
/*mat-expansion-panel-header{
  background-color: #d1ecf1;
}
.mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover{
  background-color: #d1ecf1;
}
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover{
  background-color: #d1ecf1;
}
.mat-expansion-panel .mat-expansion-panel-body {
  padding: 0 !important;
}*/



/*.cdk-overlay-backdrop{
  z-index: 800;
}
.modal-backdrop{
  z-index: 880;
}
.modal{
  z-index: 900;
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0;
}*/

.modal_backdrop{
  z-index: 800;
}
.dark_modal{
  z-index: 900;
}




.equip_info .panel-group{
  margin-bottom: 20px;
  /*background-color: #ffffff;*/
}
.equip_info .panel-group .panel {
  margin-bottom: 25px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.equip_info .panel-info {
  border-color: #d1ecf1;
}
.equip_info .panel-info>.panel-heading {
  /*color: #17a2b8;*/
  /*background-color: #d1ecf1;*/
  /*border-color: #d1ecf1;*/
  background-image: url("../../../../assets/images/table_header.jpg");
  background-position: center;
  background-size: 100% 100%;
  color: #ffffff;
}
.equip_info .panel-group .panel-heading {
  border-bottom: 0;
}

.equip_info .panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  /*display: flex;
  justify-content: space-between;*/
  position: relative;
}
.equip_info .panel-title{
  width: 100%;
}
.equip_info .panel-title h6{
  width: 100%;
  text-align: center;
  font-size: 15px;
}
.equip_info .panel-heading .ph_btn{
  position: absolute;
  top:10px;
  right: 10px;
}
.equip_info .panel-body{

}
.equip_info .panel-body .pb_title{
  border-bottom: 1px solid #dddddd;
  line-height: 40px;
  padding-left: 10px;
}
.equip_info .panel-body ul.row{
  margin: 0;
}
.equip_info .panel-body ul li{
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 0;
}
.equip_info .panel-body ul li .list_title{
  padding: 10px;
  font-weight: bold;
  width: 150px;
  /*background-color: #edf3f4;*/
  background-color: #ccedff;
  border-right: 1px solid #dddddd;
  color: #666666;
}
.equip_info .panel-body ul li .list_value{
  padding: 10px;
}

.equip_info .table th{
  /*background-color: #edf3f4;*/
  background-color: #ccedff;
}

.equip_info .panel-footer{
  padding: 20px;
  text-align: center;
}

.btn-danger {
  background-color: #f4523b;
  border-color: #f4523b;
}


