


<div class="content">
  <div class="list_head">
    <div class="li_head_l flex">
      <h6>流量卡列表</h6>
      <div style="color: #666EE8; margin-left: 28px;font-size:15px;font-weight: bold;">
        系统余额：{{amount | currency: '￥'}}
      </div>
    </div>
    <div class="li_head_r">
      <button class="btn btn_purple-o btn_round bps" (click)="searchChange()">
        <i class="iconfont iconicon_Refresh"></i>
      </button>

      <button class="btn btn_purple btn_round bpm ml-1" (click)="batchCharge()">
        批量充值
      </button>

      <button class="btn btn_purple btn_round bpm ml-1" (click)="batchDelete(1)">
        批量启用
      </button>
      <button class="btn btn_purple btn_round bpm ml-1" (click)="batchDelete(2)">
        批量停用
      </button>
    </div>
  </div>

  <div class="list_content">
    <div class="content_h">
      <div class="search_box">
        <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate" [nzSuffix]="addOnAfterTemplate">
          <input type="text" name="svalue" nz-input [(ngModel)]="value" (keyup)="searchEnter($event)"
                 maxlength="20" [placeholder]="searchLabel"/>
        </nz-input-group>
        <ng-template #addOnBeforeTemplate>
          <nz-select [(ngModel)]="search" (ngModelChange)="searchSelect()">
            <nz-option [nzLabel]="'ICCID'" [nzValue]="'iccid'"></nz-option>
            <nz-option [nzLabel]="'关联终端编码'" [nzValue]="'terminal_code'"></nz-option>
          </nz-select>
        </ng-template>
        <ng-template #addOnAfterTemplate>
          <img src="assets/icons/icon_seach.png" alt="" class="search_icon" (click)="searchChange()">
        </ng-template>

      </div>
      <div class="flex">


      </div>
    </div>
    <div class="content_t">
      <nz-table
        #dataTable
        [nzFrontPagination]="false"
        [nzShowPagination] = "false"
        [nzLoading]="loading"
        [nzData]="dataLists"
      >
        <thead>
        <tr>
          <th
            nzShowCheckbox
            [(nzChecked)]="isAllChecked"
            (nzCheckedChange)="checkAll($event)"
          >
          </th>
          <th>流量卡ICCID</th>
          <th>套餐名称</th>
          <th>关联终端编码</th>
          <th>生命周期</th>
          <th>开户日期</th>
          <th>激活日期</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of dataTable.data">
          <td
            nzShowCheckbox
            [(nzChecked)]="data.checked"
            [nzDisabled]="data.disabled"
            (nzCheckedChange)="refreshStatus()"
          ></td>
          <td> {{data.iccid}} </td>
          <!--<td>
            <span style="color: #28D094;">
              正常使用
            </span>
            <span style="color: #FF4961;">
              测试期
            </span>
            <span style="color: #1E9FF2;">
              沉默期
            </span>
            <span style="color: #A7ABBE;">
              其他
            </span>
          </td>
          <td>
            <span style="color: #28D094;">
              正常
            </span>
            <span style="color: #FF4961;">
              停机
            </span>
          </td>
          <td>
            <span style="color: #28D094;">
              开机
            </span>
            <span style="color: #FF4961;">
              停机
            </span>
          </td>-->
          <td> {{data.prod_name}} </td>
          <td> {{data.terminal_code}} </td>
          <td> {{data.life_cycle}} </td>
          <td> {{data.create_date | date: 'yyyy-MM-dd HH:mm:ss'}} </td>
          <td> {{data.active_date | date: 'yyyy-MM-dd HH:mm:ss'}} </td>
          <td>
            <a class="btn btn_purple btn-sm" [routerLink]="['/admin/ad/flow/info', data.iccid, page]">
              详情
            </a>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>

    <ng-template #totalTemplate let-total> 共计 {{ totalItems }} 项 </ng-template>

    <div class="content_b">
      <nz-pagination nzShowSizeChanger
                     [nzTotal]="totalItems"
                     [nzShowTotal]="totalTemplate"
                     [(nzPageIndex)]="page"
                     [(nzPageSize)]="pageSize"
                     (nzPageIndexChange)="pageChange()"
                     (nzPageSizeChange)="pageSizeChange()"
                     [nzPageSizeOptions] = "pageSizeList">

      </nz-pagination>
      <div class="ant-pagination-options-quick-jumper"> 跳至
        <input type="number" [(ngModel)]="pageNum"> 页 </div>
      <button (click)="goPage()" nz-button class="btn_purple ml-3">跳转</button>
    </div>

  </div>

</div>










