

<div class="home_container content">
  <div class="h_con">
    <div class="h_l">
      <div class="hc_1">
        <div class="info_title">
          <h6>主监控台</h6>
        </div>
        <div class="hc_content">

          <div class="hc_f1" routerLink="/admin/ordinary/equip-list/list">
            <img src="assets/icons/monitor_1.png" alt="">
            <h6>监控设备总数</h6>
            <div class="hc_f1_value" style="color: #666EE8;">
              {{monitor?.all_count}}
            </div>
          </div>
          <div class="h_divide"></div>

          <div class="hc_f1" [routerLink]="['/admin/ordinary/equip-list/list', {online:'true'}]">
            <img src="assets/icons/monitor_2.png" alt="">
            <h6>在线设备</h6>
            <div class="hc_f1_value" style="color: #1E9FF2;">
              {{monitor?.online_count}}
            </div>
          </div>
          <div class="h_divide"></div>

          <div class="hc_f1" [routerLink]="['/admin/ordinary/equip-list/list', {run:'run'}]">
            <img src="assets/icons/monitor_3.png" alt="">
            <h6>运行设备</h6>
            <div class="hc_f1_value" style="color: #28D094;">
              {{monitor?.run_count}}
            </div>
          </div>
          <div class="h_divide"></div>

          <div class="hc_f1" [routerLink]="['/admin/ordinary/equip-list/list', {run:'malfunction'}]">
            <img src="assets/icons/monitor_4.png" alt="">
            <h6>故障设备</h6>
            <div class="hc_f1_value" style="color: #FFC06A;">
              {{monitor?.malfunction_count}}
            </div>
          </div>
          <div class="h_divide"></div>

          <div class="hc_f1" [routerLink]="['/admin/ordinary/equip-list/list', {run:'alarm'}]">
            <img src="assets/icons/monitor_5.png" alt="">
            <h6>告警设备</h6>
            <div class="hc_f1_value" style="color: #FF4961;">
              {{monitor?.alarm_count}}
            </div>
          </div>
          <div class="h_divide"></div>

          <div class="hc_f1"  [routerLink]="['/admin/ordinary/equip-list/list', {online:'false'}]">
            <img src="assets/icons/monitor_6.png" alt="">
            <h6>离线设备</h6>
            <div class="hc_f1_value" style="color: #A7ABBE;">
              {{monitor?.no_run_count}}
            </div>
          </div>
        </div>
      </div>

      <div class="hc_2">
        <div *ngIf="roleId === '11'">
          <div class="general_box">
            <div class="info_title">
              <h6>设备关联</h6>
              <button class="btn btn_purple bpm">
                关联设备
              </button>
            </div>
            <div class="hc_content">
              <img src="assets/images/video.jpg" alt="">
              <!--<button class="gen_btn">
                关联设备
              </button>-->
            </div>
          </div>
        </div>

        <div *ngIf="roleId === '10'">
          <div class="general_box">
            <div class="info_title">
              <h6>创建产品</h6>
              <button class="btn btn_purple bpm" (click)="addTerm()">
                关联设备
              </button>
            </div>
            <div class="hc_content">
              <img src="assets/images/photo2.png" alt="">
              <!--<button class="gen_btn">
                关联设备
              </button>-->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="h_r">
      <div class="hc_3">
        <div class="info_title">
          <h6>重要提醒</h6>
        </div>
        <div class="hc_content2">
          <ul>
            <li class="h_item" *ngFor="let item of reminds" [routerLink]="['/admin/ordinary/home/remind-info', item.id, item.import_type]">
              <a>
                <div class="h_date">
                  <span class="h_circle" [class.active]="!item.is_read"></span>
                  {{item.created_at | date: 'yyyy-MM-dd HH:mm:ss'}}
                </div>
                <div>
                  {{item.description}}
                </div>
              </a>
            </li>

          </ul>
          <div class="hc_more" >
            <a [routerLink]="['/admin/ordinary/home/remind']">
              <img src="assets/icons/direct_right.png" alt="" title="查看更多">
              <!--<i nz-icon nzType="arrow-right" nzTheme="outline" class="text_purple" title="查看更多"></i>-->
            </a>
          </div>
        </div>
      </div>

      <div class="hc_4">
        <div class="info_title">
          <h6>通知消息</h6>
        </div>
        <div class="hc_content2">
          <ul>
            <li class="h_item" *ngFor="let item of notice" [routerLink]="['/admin/ordinary/home/notice-info', item.id, item.log_type, item.log_status]">
              <a>
                <div class="h_date">
                  <span class="h_circle" [class.active]="!item.is_read"></span>
                  {{item.created_at | date: 'yyyy-MM-dd HH:mm:ss'}}
                </div>
                <div style="margin-left: 20px;">
                  {{item.info}}
                </div>
              </a>
            </li>
          </ul>
          <div class="hc_more">
            <a [routerLink]="['/admin/ordinary/home/notice']">
              <img src="assets/icons/direct_right.png" alt="" title="查看更多">
              <!--<i nz-icon nzType="arrow-right" nzTheme="outline"
                 class="text_purple" title="查看更多">
              </i>-->
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

