.home_container{

}
.h_con{
  display: flex;
}
.h_l{
  flex: 2;
}
.h_r{
  flex: 1;
  margin-left: 12px;
}
.hc_1,.hc_3{
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .h_con{
    display: block;
  }
  .h_l,.h_r{
    width: 100%;
  }
}

.hc_content{
  position: relative;
  border-radius:4px;
  border:1px solid #E4E5EC;
  overflow: hidden;
}
.hc_content2{
  height:260px;
  padding: 12px;
  box-sizing: border-box;
  background:#F9FAFD;
  border-radius:4px;
  border:1px solid #E4E5EC;
}

.hc_content2 ul{
  height: 215px;
}
.hc_content2 ul li a{
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
  cursor: pointer;
  align-items: flex-start;
}
.hc_content2 ul li *{
  font-size: 12px;
}

.h_date{
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.h_circle{
  width: 6px;
  height: 6px;
  border-radius: 6px;
  border: 1px solid #666EE8;
  margin-right: 10px;
}
.h_circle.active{
  background-color: #666EE8;
}
.hc_more i{
  font-size: 12px;
}

/*主监控台*/
.hc_1 .hc_content{
  height: 138px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hc_f1{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.hc_f1 img{
  margin: auto;
  margin-bottom: 24px;
}
.hc_f1 h6{
  font-size: 14px;
  color:#464855;
}
.h_divide{
  width:1px;
  height:30px;
  background-color: #666EE8;
}
.hc_f1_value{
  font-size: 16px;
  font-weight: bold;
}




/*设备关联*/
.hc_2 .hc_content{
  height: 384px;
  overflow: hidden;
}
.hc_2 .hc_content img{
  /*width: 100%;*/
  /*height: 384px;*/
}
.gen_btn{
  position: absolute;
  top:20px;
  right: 20px;
}
.hc_pic2{
  background-color: #F9F9F9;
  padding: 75px 16px;
}
.hc_pic2 .hc_pic_img{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 70px;
  padding: 0 20px;
}
.hc_pic2 .hpic_circle{
  color: #666EE8;
}
.hc_pic2 .hpic_circle i{
  font-size: 19px;
}

.hc_pic_text{
  display: flex;
}
.hpic_t{
  flex: 1;
  text-align: center;
  position: relative;
}
.hpic_t b{
  display: block;
  font-weight: normal;
  font-size: 13px;
  color: #000000;
  margin-bottom: 15px;
  /*cursor: pointer;*/
}
.round-line{
  width:13px;
  height:13px;
  margin: auto;
  background:#FFA200;
  border-radius: 50%;
}

.round-line:after{
  content: '';
  position: absolute;
  bottom:6px;
  left: 0;
  width: 100%;
  border-bottom: 1px dotted #FFA200;
}


.hc_more{
  text-align: right;
  font-size: 12px;
}


