<div class="">
  <div class="clearfix" style="padding: 15px 0; ">
    <div class="pull-right flex flex-row">
      <div class="mr-3">
        <a routerLink="/admin/monitor/clusters" class="btn btn-info" style="color: #ffffff;">
          <i class="fa fa-reply"></i>
          返回
        </a>
      </div>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="请输入设备名称" [(ngModel)]="search" >
        <div class="input-group-append" (click)="searchChange()">
          <button class="btn btn_info" type="button"><i class="fa fa-search"></i></button>
        </div>
      </div>

    </div>

  </div>

  <div>
    <table class="table table-bordered">
      <thead class="bg_light_primary">
      <th>
        <div class="checkbox c-checkbox white">
          <label>
            <input type="checkbox" [(ngModel)]="allCheck" (change)="allDel();">
            <span class="fa fa-check"></span>
            <!--全选-->
          </label>
        </div>
      </th>
      <th> 序号 </th>
      <th> 设备名称 </th>
      <th> 终端状态 </th>
      <th> 运行状态 </th>
      <th> 告警状态 </th>
      <th> 故障状态 </th>
      <th> 操作 </th>
      </thead>
      <tbody>
      <tr *ngFor="let data of equips; let i = index">
        <td>
          <div class="checkbox c-checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="data.checkDelete" (change)="checkDel(data);">
              <span class="fa fa-check"></span></label>
          </div>
        </td>
        <td> {{ i+1 }}  </td>
        <td>
          <a [routerLink]="['/admin/runtime', data.uid, data.name]">
            {{ data.name }}
          </a>
        </td>
        <td [ngClass]="{'text_info':data.termStatus > 0}"> {{ data.online }} </td>
        <td [ngClass]="{'text_info':data.termStatus > 0 && data.eptStatus}">
          {{data.isBurning}}
        </td>
        <td [ngClass]="{'text-danger':data.termStatus > 0 && data.alarmStatus, 'text_info':data.termStatus > 0 && !data.alarmStatus}">
          {{data.warning}}
        </td>
        <td>
          {{data.malfunction}}
        </td>
        <td>

          <nz-dropdown [nzPlacement]="'bottomRight'">
            <button nz-dropdown class="btn btn_info btn-sm">控制</button>
            <ul nz-menu>
              <li nz-menu-item (click)="control(data,1)">
                启动
              </li>
              <li nz-menu-item (click)="control(data,2)">
                关闭
              </li>
              <li nz-menu-item (click)="control(data,3)">
                重置
              </li>
            </ul>
          </nz-dropdown>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div>

    <div class="pull-left">
      <nz-dropdown [nzPlacement]="'topLeft'">
        <button nz-dropdown class="btn btn_info">批量控制</button>
        <ul nz-menu>
          <li nz-menu-item (click)="groupControl(1)">
            批量启动
          </li>
          <li nz-menu-item (click)="groupControl(2)">
            批量关闭
          </li>
          <li nz-menu-item (click)="groupControl(3)">
            批量重置
          </li>
        </ul>
      </nz-dropdown>
    </div>

    <ngb-pagination class="pull-right"
                    [collectionSize]="totalItems"
                    [pageSize]="pageSize" [(page)]="page"
                    [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                    (pageChange)="pageChange()">

    </ngb-pagination>
    <div class="pull-right mr-3">
      <select [(ngModel)]="pageSize" class="form-control" (change)="pageSizeChange()">
        <option value="10">10</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
    <div class="pull-right mr-3" style="line-height: 33px;"> 共 {{totalItems}} 项</div>
  </div>

</div>
