<div class="modal-header">
  <h3 class="modal-title">设备基本信息设置</h3>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body" >
  <h5 class="text-danger mb-3">必填信息</h5>
  <div class="row">
    <div class="form-group col-md-6">
      <div class="input-group">
        <span class="input-group-prepend">
          <span class="input-group-text">
            设备名称
          </span>
        </span>
        <input type="text" [(ngModel)]="data.name"
               class="form-control"
               placeholder="输入设备名称" required>
      </div>
    </div>
    <div class="form-group col-md-6">
      <div class="input-group">
        <span class="input-group-prepend">
          <span class="input-group-text">
            设备型态
          </span>
        </span>
        <select [(ngModel)]="data.templateId"
                class="form-control">
          <option *ngFor="let temp of templates" [value]="temp.TemplateId" >{{temp.Name}}</option>
        </select>
      </div>
    </div>
  </div>
  <hr style="margin-top: 6px;">


  <!--企业关联-->
  <h5 class="text-info mb-3 mt-lg-3">企业关联</h5>
  <div class="row">
    <div class="col-12">
      <div class="form-group flex" *ngFor="let link of links; let i = index">
        <div class="input-group" style="width: 90%;">
          <span class="input-group-prepend">
            <span class="input-group-text">
              企业关联
            </span>
          </span>
          <select [(ngModel)]="link.type" (change)="linkTypeChanged(link)"
                  class="form-control" style="width: 25%;">
            <option *ngFor="let type of orgTypes" [value]="type.TypeId" >{{type.Name}}</option>
          </select>
          <!--<select [(ngModel)]="link.uid"
                  class="form-control" style="width: 60%;">
            <option *ngFor="let org of link.orgs" [value]="org.Uid" >{{org.Name}}</option>
          </select>-->
          <nz-select nzShowSearch nzPlaceHolder="选择关联企业" [(ngModel)]="link.uid" style="width: 60%;">
            <nz-option *ngFor="let option of link.orgs" [nzLabel]="option.Name" [nzValue]="option.Uid"></nz-option>
          </nz-select>
        </div>
        <div>
          <button (click)="removeLink(i);"
                  class="btn btn-outline-danger btn-sm" style=" margin-left: 10px; border-radius: 25px;">
            <i class="fa fa-minus" style="font-size: 12px;"></i>
          </button>
        </div>

      </div>

      <button type="button"
              (click)="addNewLink();"
              class="btn btn-block btn-info">
        <i class="fa fa-plus-circle"></i>
        添加企业关联
      </button>
    </div>

  </div>

  <!--其他信息-->
  <h5 class="text-muted mb-3 mt-lg-3">选填信息</h5>
  <div class="row">
    <div class="col-12">
      <div class="form-group flex" *ngFor="let info of info; let i = index">
        <div class="input-group" style="width: 90%;">
          <input type="text" [(ngModel)]="info.title" class="form-control" [class.input-group-text]="info.title" style="width: 25%;" placeholder="请输入信息类型">
          <input type="text" [(ngModel)]="info.value" class="form-control" style="width: 75%;" placeholder="请输入信息内容" [disabled]="!info.title">
        </div>
        <div>
          <button (click)="removeInfo(i);"
                  class="btn btn-outline-danger btn-sm" style=" margin-left: 10px; border-radius: 25px;">
            <i class="fa fa-minus" style="font-size: 12px;"></i>
          </button>
        </div>

      </div>

      <button type="button"
              (click)="addNewInfo();"
              class="btn btn-block btn-info">
        <i class="fa fa-plus-circle"></i>
        添加其他信息
      </button>
    </div>

  </div>


  <!--上传图片-->
  <h5 class="text-muted mb-3 mt-lg-3">上传设备图片</h5>
  <div class="row">
    <div class="col-12">
      <div class="pull-left" style="width: 200px; height: 150px; overflow: hidden;">
        <img src="{{imgUrl}}" title="点击上传图片" style="width: 200px; height: 150px;">
        <input type="file"  (change)="imgChange($event)" style="position: absolute; left: 0; top: 0; opacity: 0; width: 210px; height: 150px;">
      </div>

      <div class="pull-left ml-5" style="width: 50%;">
        <p>
          请点击左侧图片选择要上传的设备图片，<br/>
          文件格式请用jpg、png或gif，文件大小不超过200k
        </p>
        <p class="text-danger">
          {{errMes}}
        </p>

      </div>

    </div>

  </div>

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-info" [disabled]="!data.name || !data.templateId" (click)="save()">
    <span class="">保存</span>
  </button>
  <button class="btn btn-default" type="button" (click)="activeModal.dismiss('close')">取消</button>
</div>


