<div class="bread">
  信息维护 <span> / </span>用户管理
</div>

<div class="content">
  <div class="list_head">
    <div class="li_head_l">
      <h6>
        用户详情
      </h6>
    </div>
    <div class="li_head_r">
      <!--刷新-->
      <button class="btn btn_purple-o btn_round bps" (click)="searchChange()">
        <i class="iconfont iconicon_Refresh"></i>
      </button>

    </div>
  </div>

  <div class="content_h2">
    <div class="h2_row">
      <div class="h2_col">
        <div class="h2_col_title">手机号码</div>
        <div class="h2_col_value">
          122345667833
        </div>
      </div>

      <div class="h2_col">
        <div class="h2_col_title">用户名</div>
        <div class="h2_col_value">
          hhah
        </div>
      </div>

      <div class="h2_col">
        <div class="h2_col_title">关联微信</div>
        <div class="h2_col_value">
          122345667833
        </div>
      </div>

      <div class="h2_col">
        <div class="h2_col_title">所属单位</div>
        <div class="h2_col_value">
          122345667833
        </div>
      </div>

      <div class="h2_col">
        <div class="h2_col_title">单位类型</div>
        <div class="h2_col_value">
          122345667833
        </div>
      </div>

      <div class="h2_col">
        <div class="h2_col_title">地域地址</div>
        <div class="h2_col_value">
          122345667833
        </div>
      </div>

      <div class="h2_col">
        <div class="h2_col_title">邮箱地址</div>
        <div class="h2_col_value">
          122345667833
        </div>
      </div>

    </div>
  </div>

  <div class="list_content">
    <div class="content_h">
      <div class="search_box">
        <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate" [nzSuffix]="addOnAfterTemplate">
          <input type="text" nz-input [(ngModel)]="value" (keyup)="searchEnter($event)" maxlength="15"/>
        </nz-input-group>
        <ng-template #addOnBeforeTemplate>
          <nz-select [(ngModel)]="search">
            <nz-option [nzLabel]="'设备名称'" [nzValue]="'phone'"></nz-option>
            <nz-option [nzLabel]="'地域地址'" [nzValue]="'address'"></nz-option>
          </nz-select>
        </ng-template>
        <ng-template #addOnAfterTemplate>
          <img src="assets/icons/icon_seach.png" alt="" class="search_icon" (click)="searchChange()">
        </ng-template>

      </div>

      <div class="flex">


      </div>
    </div>

    <div class="content_t" style="height: 360px;">
      <nz-table
        #dataTable
        [nzFrontPagination]="false"
        [nzShowPagination] = "false"
        [nzLoading]="loading"
        [nzData]="dataLists"
      >
        <thead>
        <tr>
          <!--<th
            nzShowCheckbox
            [(nzChecked)]="isAllChecked"
            (nzCheckedChange)="checkAll($event)"
          >
          </th>-->
          <th>设备名称</th>
          <th>终端编码</th>
          <th>地域地址</th>
          <th>使用单位</th>
          <th>
            <nz-dropdown [nzTrigger]="'click'">
              <a nz-dropdown>
                连接状态
                <i nz-icon type="down" style="color: #898EA3;"></i>
              </a>

              <ul nz-menu>
                <li nz-menu-item (click)="searchStatus('')">
                  <a>全部</a>
                </li>
                <li nz-menu-item (click)="searchStatus('1')">
                  <a>已联网</a>
                </li>
                <li nz-menu-item (click)="searchStatus('2')">
                  <a>未联网</a>
                </li>
              </ul>
            </nz-dropdown>
          </th>
          <th>
            <nz-dropdown [nzTrigger]="'click'">
              <a nz-dropdown>
                设备状态
                <i nz-icon type="down" style="color: #898EA3;"></i>
              </a>

              <ul nz-menu>
                <li nz-menu-item (click)="searchStatus('')">
                  <a>全部</a>
                </li>
                <li nz-menu-item (click)="searchStatus('1')">
                  <a>已联网</a>
                </li>
                <li nz-menu-item (click)="searchStatus('2')">
                  <a>未联网</a>
                </li>
              </ul>
            </nz-dropdown>
          </th>
          <th>
            <nz-dropdown [nzTrigger]="'click'">
              <a nz-dropdown>
                使用状态
                <i nz-icon type="down" style="color: #898EA3;"></i>
              </a>

              <ul nz-menu>
                <li nz-menu-item (click)="searchStatus('')">
                  <a>全部</a>
                </li>
                <li nz-menu-item (click)="searchStatus('1')">
                  <a>已联网</a>
                </li>
                <li nz-menu-item (click)="searchStatus('2')">
                  <a>未联网</a>
                </li>
              </ul>
            </nz-dropdown>
          </th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of dataTable.data">
          <!--<td
            nzShowCheckbox
            [(nzChecked)]="data.checked"
            [nzDisabled]="data.disabled"
            (nzCheckedChange)="refreshStatus()"
          ></td>-->
          <td> {{data.id}} </td>
          <td> {{data.mac}} </td>
          <td> {{data.name}} </td>
          <td> {{data.username || '空'}} ({{data.org_name || '空'}}) </td>
          <td>
            <span *ngIf="data.status === 1" class="text_grey">
              <img src="assets/icons/icon_active2.png" alt="" style="margin-right: 6px;">
              未激活
            </span>
            <span *ngIf="data.status === 2" class="text_green">
              <img src="assets/icons/icon_active.png" alt="" style="margin-right: 6px;">
              已激活
            </span>
            <span *ngIf="data.status === 3" class="text_warning">
              <img src="assets/icons/icon_repair.png" alt="" style="margin-right: 6px;">
              维修
            </span>
            <span *ngIf="data.status === 4" class="text_danger">
              <img src="assets/icons/icon_Scrap.png" alt="" style="margin-right: 6px;">
              报废
            </span>
          </td>
          <td>
             <span *ngIf="data.status === 1" class="text_grey">
              <img src="assets/icons/icon_active2.png" alt="" style="margin-right: 6px;">
              未联网
            </span>
            <span *ngIf="data.status === 2" class="text_green">
              <img src="assets/icons/icon_active.png" alt="" style="margin-right: 6px;">
              已联网
            </span>
          </td>
          <td>
            <span *ngIf="data.status === 1" class="text_grey">
              <img src="assets/icons/icon_active2.png" alt="" style="margin-right: 6px;">
              未激活
            </span>
            <span *ngIf="data.status === 2" class="text_green">
              <img src="assets/icons/icon_active.png" alt="" style="margin-right: 6px;">
              已激活
            </span>
            <span *ngIf="data.status === 3" class="text_warning">
              <img src="assets/icons/icon_repair.png" alt="" style="margin-right: 6px;">
              维修
            </span>
            <span *ngIf="data.status === 4" class="text_danger">
              <img src="assets/icons/icon_Scrap.png" alt="" style="margin-right: 6px;">
              报废
            </span>
          </td>
          <td>
            <button class="btn btn_purple btn-sm" (click)="enter()">
              进入
            </button>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>

    <ng-template #totalTemplate let-total> 共计 {{ totalItems }} 项 </ng-template>

    <div class="content_b">
      <nz-pagination nzShowSizeChanger
                     [nzTotal]="totalItems"
                     [nzShowTotal]="totalTemplate"
                     [(nzPageIndex)]="page"
                     [(nzPageSize)]="pageSize"
                     (nzPageIndexChange)="pageChange()"
                     (nzPageSizeChange)="pageSizeChange()"
                     [nzPageSizeOptions] = "pageSizeList">

      </nz-pagination>
      <div class="ant-pagination-options-quick-jumper"> 跳至
        <input type="number" [(ngModel)]="pageNum"> 页 </div>
      <button (click)="goPage()" nz-button class="btn_purple ml-3">跳转</button>
    </div>

  </div>

</div>





