
<!--<div class="bread">
  设备管理 <span> / </span>视频设备
</div>-->


<div class="content">
  <div class="info_head">
    <div class="info_tname">
      <img src="assets/icons/icon_v_setting.png" alt="">
      视频详情
    </div>
    <div>
      <!--返回-->
      <button class="btn btn_purple-o btn_round bps" [routerLink]="['/admin/formal/video/list', {page: listPage}]">
        <i class="iconfont iconicon_comeback1"></i>
      </button>
      <a class="btn btn_purple btn_round bpm ml-1" [routerLink]="['/video-live', uid]" target="_blank" *ngIf="basic&&basic.status !== 4">
        在线直播
      </a>
      <!--<button class="btn btn_purple btn_round bpm ml-3" (click)="deleteData()">
        删除
      </button>-->
      <button class="btn btn_purple btn_round bpm ml-1" (click)="repair()" [disabled]="!basic || basic.status === 4">
        设备维修
      </button>
    </div>
  </div>

  <div class="info_content flex">
    <div class="info_l">
      <div class="info_basic">
        <div class="info_title">
          <h6>
            基础信息
          </h6>
          <button class="btn btn_purple btn_round bpm" (click)="editBasic()" [disabled]="!basic || basic.status === 4">
            编辑
          </button>
        </div>
        <div class="info_body">
          <ul>
            <li class="info_item">
              <div class="info_item_title">
                视频设备序列号
              </div>
              <div class="info_item_value">
                {{basic?.serial_number}}
              </div>
            </li>
            <li class="info_item">
              <div class="info_item_title">
                视频设备通道号
              </div>
              <div class="info_item_value">
                {{basic?.channel_number}}
              </div>
            </li>
            <li class="info_item">
              <div class="info_item_title">
                视频名称
              </div>
              <div class="info_item_value">
                {{basic?.name}}
              </div>
            </li>
            <li class="info_item">
              <div class="info_item_title">
                关联产品
              </div>
              <div class="info_item_value">
                {{basic?.terminal_code || '空'}} ({{basic?.ept_name || '空'}})
              </div>
            </li>
            <li class="info_item">
              <div class="info_item_title">
                所属单位
              </div>
              <div class="info_item_value">
                {{basic?.org_name || '空'}}
              </div>
            </li>


          </ul>
        </div>
      </div>

      <div class="info_config">
        <div class="info_title">
          <h6>
            状态信息
          </h6>
        </div>
        <div class="info_body">
          <ul>
            <li class="info_item">
              <div class="info_item_title">
                联网状态
              </div>
              <div class="info_item_value">
                <span class="text_blue" *ngIf="basic&&basic.online===1">
                  已联网
                </span>
                <span class="text_grey" *ngIf="basic&&basic.online===0">
                  未联网
                </span>
                <span class="text_grey" *ngIf="basic&&basic.online===-1">
                  不存在
                </span>
              </div>
            </li>
            <li class="info_item">
              <div class="info_item_title">
                扩展应用支持
              </div>
              <div class="info_item_value">
                {{expand}}

              </div>
            </li>
            <li class="info_item">
              <div class="info_item_title">
                视频设备状态
              </div>
              <div class="info_item_value">
                <span *ngIf="basic&&basic.status === 1" class="text_grey">
                  未激活
                </span>
                <span *ngIf="basic&&basic.status === 2" class="text_green">
                  已激活
                </span>
                <span *ngIf="basic&&basic.status === 3" class="text_warning">
                  维修
                </span>
                <span *ngIf="basic&&basic.status === 4" class="text_danger">
                  报废
                </span>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </div>

    <div class="info_r">
      <div class="info_title">
        <h6>
          状态记录
        </h6>
        <a class="btn btn_purple btn_round bpm" [routerLink]="['/admin/formal/video/operate', uid]">
          查看更多
        </a>
      </div>
      <div class="info_body">
        <ul>
          <li class="info_item" *ngFor="let data of operate">
            <div class="info_item_date">
              {{data.created_at | date: 'yyyy-MM-dd  HH:mm:ss'}}
            </div>
            <div class="info_item_op">
              {{data.info}}
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>

</div>





