<!--<div class="bread">
  信息维护 <span> / </span>服务支持
</div>-->

<div class="content">

  <div class="list_head">
    <div class="li_head_l">
      <h6>
        服务支持
      </h6>
    </div>
    <div class="li_head_r">
      <button class="btn btn_purple btn_round bpm" (click)="add()">
        创建表单
      </button>
      <!--返回-->
      <button class="btn btn_purple-o btn_round bps ml-1" (click)="goBack()">
        <i class="iconfont iconicon_comeback1"></i>
      </button>
    </div>
  </div>

  <div class="list_content">
    <div class="ser_tab" nz-row nzType="flex" nzJustify="end">
      <!--类别-->
      <!---->
      <div [class.activate]="type===1" nz-col [nzSpan]="8" (click)="changeType(1)" class="ser_tab_1">
        <div class="tab_1">
          <div class="tab_title">
            <div>
              <img src="assets/images/service/ser_pic1.png" alt="">
            </div>
            <div>
              <img src="assets/images/service/ser_more.png" alt="">
            </div>
          </div>
          <div class="tab_text">
            <h6>
              A类
            </h6>
            <p> - 帮助文档</p>
          </div>
        </div>
      </div>

      <div [class.activate]="type===2" nz-col [nzSpan]="8" (click)="changeType(2)" class="ser_tab_2">
        <div class="tab_1">
          <div class="tab_title">
            <div>
              <img src="assets/images/service/ser_pic2.png" alt="">
            </div>
            <div>
              <img src="assets/images/service/ser_more.png" alt="">
            </div>
          </div>
          <div class="tab_text">
            <h6>
              B类
            </h6>
            <p> - 系统问题</p>
          </div>
        </div>
      </div>

      <div [class.activate]="type===3" nz-col [nzSpan]="8" (click)="changeType(3)" class="ser_tab_3">
        <div class="tab_1">
          <div class="tab_title">
            <div>
              <img src="assets/images/service/ser_pic3.png" alt="">
            </div>
            <div>
              <img src="assets/images/service/ser_more.png" alt="">
            </div>
          </div>
          <div class="tab_text">
            <h6>
              C类
            </h6>
            - 售后维保
          </div>
        </div>
      </div>

    </div>

    <div>
      <div class="question">
        <div class="q_l">
          <div class="q_h">
            <h6>问题列表</h6>
            <div>
              <img src="assets/images/service/right.png" alt="">
            </div>

          </div>
          <ul>
            <li *ngFor="let data of questionList; let i = index;">
              <a (click)="question(data)">
                <div class="q_list">
                  <p>{{(page-1)*10 + i + 1}}.  {{data.name}}</p>
                  <!--<i class="fa fa-caret-right" [class.text_blue]="data.id === currentData"></i>-->
                </div>
              </a>
            </li>
          </ul>


          <div class="mt-3">
            <nz-pagination [(nzPageIndex)]="page" [nzTotal]="totalItems" (nzPageIndexChange)="pageChange()" class="pull-right" style="margin-right: 20px;"></nz-pagination>
          </div>
        </div>

        <div class="q_r">
          <div class="q_r_1">
            <p>智能顾问为您推荐解决率最高的热门知识点，可能有您需要的答案：</p>
            <div class="q_r_11">
              <div class="answer">
                <ul class="row">
                  <li *ngFor="let data of answerList; let i = index;" class="col-12">
                    <a href="{{data.rel_html}}" target="_blank">
                      <p> {{i + 1}}. {{ data.name }}</p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>


          <div class="q_r_2">
            <div class="q_r_2_in">
              <button class="btn btn_purple btn_round bpm">
                <i class="iconfont iconkefu"></i>
                <span style="font-size: 10px;">在线客服</span>
              </button>
              <div class="q_text">
                实时在线人工服务，快速解决您的问题
              </div>
            </div>

            <!--<p>您还可以通过以下渠道提交您的问题：</p>-->
            <!--<div class="q_r_22">
              &lt;!&ndash;<div class="qr_23">
                <b class="text-muted">
                  智能顾问
                </b>
                <p class="text-muted" style="font-size: 12px;">
                  智能诊断，<span class="" style="color: #00a4ff; font-size: 12px;">即时应答</span>的云服务专家库顾问
                </p>
              </div>&ndash;&gt;

              <div class="qr_23">
                <b class="text-muted">
                  在线客服
                </b>
                <p class="text-muted" style="font-size: 12px;">
                  实时在线人工服务，快速解决您的问题
                </p>
              </div>

              <div class="qr_23" (click)="add()" style="cursor: pointer;">
                <b>
                  创建表单
                </b>
                <p class="text-muted" style="font-size: 12px;">
                  专业的设备运维工程师，为你尽快解答
                </p>
              </div>


            </div>-->
          </div>

        </div>

      </div>
    </div>
  </div>





</div>
