
<div class="pb-3" style="position: relative;">
  <div id="container" style="width: 100%; height: 480px;">

  </div>

  <div style="position: absolute; bottom:0; left: 0; width:800px; height: 60px; background-color: #ffffff; padding: 10px; line-height: 30px;">
    <b> 设备数量 </b>：{{ statusData?.eptCount }}  &nbsp;&nbsp;
    <b> 运行设备 </b>：{{ statusData?.eptOnline }}  &nbsp;&nbsp;
    <b> 在线终端 </b>：{{ statusData?.termOnline }}  &nbsp;&nbsp;
    <b> 离线终端 </b>：{{ statusData?.termOffline }}  &nbsp;&nbsp;
    <b> 告警数量 </b>：{{ statusData?.alarmCount }}  &nbsp;&nbsp;
  </div>
</div>

