
<div class="mat-card-title">
  <h5 class="text_info pull-left">
    <img src="assets/icons/monitor.png" alt="">
    设备概览
  </h5>
  <nav class="pull-left flex">

    <a routerLink="/admin/monitor/dashboard" routerLinkActive="btn_info" class="btn">图文模式</a>
    <a routerLink="/admin/monitor/list" routerLinkActive="btn_info" class="btn">列表模式</a>
    <a routerLink="/admin/monitor/map" routerLinkActive="btn_info" class="btn">地图模式</a>
    <a routerLink="/admin/monitor/clusters" routerLinkActive="btn_info" class="btn mr-3">集群模式</a>
  </nav>

  <div class="pull-right flex flex-row">

    <div class="input-group">
      <input type="text" class="form-control" placeholder="请输入设备名称" [(ngModel)]="search">
      <div class="input-group-append" (click)="searchChange()">
        <button class="btn btn_info" type="button"><i class="fa fa-search"></i></button>
      </div>
    </div>

  </div>

</div>



<div class="mb-3" style="position: relative;">
  <div id="container" style=" width: 100%; height: 900px;">

  </div>

  <div class="map_stat" >
    <div class="flex" style="justify-content: space-between;">
      <div>
        <img src="assets/icons/mapicon_1.png" alt="">
        <b> 运行设备 </b>： <span>{{ statusData?.eptOnline}}</span>
      </div>
      <div>
        <img src="assets/icons/mapicon_2.png" alt="">
        <b> 停止设备 </b>： <span>{{ statusData?.eptOffline }}</span>
      </div>
      <!--<div>
        <img src="assets/icons/map03.png" alt="">
        <b> 在线终端 </b>： <span>{{ statusData?.termOnline }}</span>
      </div>-->
      <div>
        <img src="assets/icons/mapicon_3.png" alt="">
        <b> 故障设备 </b>： <span>{{ statusData?.mtCount }} </span>
      </div>
      <div>
        <img src="assets/icons/mapicon_4.png" alt="">
        <b> 告警设备 </b>： <span>{{ statusData?.alarmCount }}</span>
      </div>
      <div>
        <img src="assets/icons/mapicon_5.png" alt="">
        <b> 离线终端 </b>： <span>{{ statusData?.termOffline }}</span>
      </div>
    </div>

  </div>
</div>

