
<div class="content">
  <div>
    <router-outlet></router-outlet>
  </div>
</div>









<!--<div>-->
  <!--<div>-->
    <!--<video id="myPlayer" poster="" controls playsInline webkit-playsinline autoplay>-->
      <!--&lt;!&ndash;<source src="rtmp://rtmp.open.ys7.com/openlive/f01018a141094b7fa138b9d0b856507b" type="" />&ndash;&gt;-->
      <!--<source src="http://hls.open.ys7.com/openlive/691df6192a414a9b99c00743dafa2e9d.hd.m3u8" type="application/x-mpegURL" />-->
    <!--</video>-->
  <!--</div>-->
<!--</div>-->
