
<div class="modal-header">
  <h4 class="modal-title">
    <img src="assets/icons/icon_disabled.png" alt="" style="margin-right: 19px;">
    批量禁用
  </h4>
</div>

<div class="modal-body m_form">

  <div class="m_item">
    <div class="m_label">
      原因：
    </div>
    <div class="m_input">
      <nz-select [(ngModel)]="reason" style="width: 180px;">
        <nz-option [nzLabel]="'非法操作'" [nzValue]="'非法操作'"></nz-option>
        <nz-option [nzLabel]="'异常行为'" [nzValue]="'异常行为'"></nz-option>
        <nz-option [nzLabel]="'认证过期'" [nzValue]="'认证过期'"></nz-option>
      </nz-select>

    </div>
  </div>

</div>

<div class="modal-footer">
  <button type="button" class="btn" (click)="activeModal.dismiss('close')">取 消</button>
  <button type="button" class="btn btn_purple" style="margin-left: 35px;" (click)="save()">确 定</button>
</div>








