
<div class="">
  <div class="mat-card-title">
    <h5 class="text_info pull-left">
      <img src="assets/icons/cluster.png" alt="">
      考勤管理
    </h5>

    <div class="pull-right flex flex-row">
      <!--<div class="input-group">
        <input type="text" class="form-control" placeholder="请选择查看时间" [(ngModel)]="search" >
        <div class="input-group-append">
          <button class="btn btn_info" type="button"><i class="fa fa-search"></i></button>
        </div>
      </div>-->
      <nz-range-picker [(ngModel)]="dateRange" (ngModelChange)="onChange($event)"></nz-range-picker>


      <!--<div class="ml-3" >
        <button class="btn btn_info" (click)="newCluster()"
                *ngIf="user && user.Role.RoleId === 10">
          新增集群
        </button>
      </div>-->

    </div>

  </div>

  <div class="t_content">
    <nz-spin [nzSize]="'large'" [nzSpinning]="isSpinning">
      <table class="table">
        <thead class="bg_light_primary">
        <!--<th *ngIf="user && user.Role.RoleId === 10">
          <div class="checkbox c-checkbox white">
            <label>
              <input type="checkbox" [(ngModel)]="allDelete" (change)="allDel();">
              <span class="fa fa-check"></span></label>
          </div>
        </th>-->
        <th> 编号 </th>
        <th> 设备名称 </th>
        <th> 签到时间 </th>
        <th> 签到地点 </th>
        <th> 签到角色 </th>
        <th> 关联微信 </th>
        <th> 联系方式 </th>
        </thead>
        <tbody>
        <tr *ngFor="let data of attendances; let i = index">
          <!--<td *ngIf="user && user.Role.RoleId === 10">
            <div class="checkbox c-checkbox">
              <label>
                <input type="checkbox" [(ngModel)]="data.checkDelete" (change)="checkDel(data);">
                <span class="fa fa-check"></span></label>
            </div>
          </td>-->
          <td> {{ data.Uid }}  </td>
          <td> {{ data.Equipment?.Name }} </td>
          <td> {{ data.CreatedDate | date: "yyyy-MM-dd HH:mm:ss" }}  </td>
          <td> {{ data.AttendanceAddress }} </td>
          <td> {{ data.CreatedBy?.Name}} </td>
          <td> {{ data.WeixinName}} </td>
          <td>
            {{ data.CreatedBy?.MobileNumber }}
          </td>
        </tr>
        </tbody>
      </table>
    </nz-spin>
    <p class="text-muted" *ngIf="!attendances||attendances.length===0">
      无有效数据
    </p>
  </div>


  <div class="t_bottom">
    <div class="pull-left">
      <button class="btn btn_info" (click)="getAll()"
              nz-button [nzLoading]="isLoading">
        导出数据
      </button>
    </div>


    <ngb-pagination class="pull-right"
                    [collectionSize]="totalItems"
                    [pageSize]="pageSize" [(page)]="page"
                    [maxSize]="3" [rotate]="true" [boundaryLinks]="false"
                    (pageChange)="pageChange()">

    </ngb-pagination>
    <div class="pull-right mr-3">
      <select [(ngModel)]="pageSize" class="form-control" (change)="pageSizeChange()">
        <option value="10">10</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
    <div class="pull-right mr-3" style="line-height: 33px;"> 共 {{totalItems}} 项</div>
  </div>

</div>

