

<div class="sign_up">
  <div class="sign_up_container">
    <div class="sign_box">
      <form>
        <!--<div class="sign_item form-group">
          <div class="sign_label">
            <label>企业名称 *</label>
          </div>
          <div class="sign_input">
            <input type="text" [(ngModel)]="orgName" class="form-control" name="orgName" required>
            <div class="sign_tip">
              企业名称
            </div>
          </div>
        </div>

        <div class="sign_item form-group">
          <div class="sign_label">
            <label>企业类型 *</label>
          </div>
          <div class="sign_input">
            <select [(ngModel)]="orgType" class="form-control" name="orgType" required>
              <option *ngFor="let type of orgTypes" [value]="type.TypeId" >{{type.Name}}</option>
            </select>
            &lt;!&ndash;<input type="text" [(ngModel)]="orgType" class="form-control" name="orgType" required>&ndash;&gt;
            <div class="sign_tip">
              企业类型
            </div>
          </div>
        </div>-->

        <div class="sign_item form-group">
          <div class="sign_label">
            <label>手机号 <span>*</span></label>
          </div>
          <div class="sign_input">
            <input type="text" [(ngModel)]="phone" class="form-control" name="phone" required #telephone="ngModel"
                   pattern="^(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}$"
                   placeholder="作为登录账号">
            <img src="assets/icons/icon_account.png" class="input_icon" alt="">
            <div class="sign_tip">
              <span *ngIf="telephone.invalid && (telephone.dirty || telephone.touched)">
                请输入正确的11位手机账号
              </span>
              <!--<span *ngIf="telephone.valid || telephone.untouched">作为登录账号</span>-->
            </div>
          </div>
        </div>

        <div class="sign_item">
          <div class="sign_label">
            <label>密码 <span>*</span></label>
          </div>
          <div class="sign_input">
            <input type="password" [(ngModel)]="password" class="form-control" name="password" minlength="6" required #pword="ngModel"
                   placeholder="6-20个数字，小写字母，大写字母，特殊符号">
            <img src="assets/icons/icon_password.png" class="input_icon" alt="">
            <div class="sign_tip">
              <div *ngIf="pword.invalid && (pword.dirty || pword.touched)" class="err_tip"></div>
            </div>
          </div>
        </div>

        <div class="sign_item">
          <div class="sign_label">
            <label>确认密码 <span>*</span></label>
          </div>
          <div class="sign_input">
            <input type="password" [(ngModel)]="confirmPass" class="form-control" name="confirmPass" (change)="pComfirm()" required #cPass="ngModel"
                   placeholder="请再次输入密码">
            <img src="assets/icons/icon_password.png" class="input_icon" alt="">
            <div class="sign_tip">
              <div *ngIf="(cPass.invalid || (confirmPass && !equal)) && (cPass.dirty || cPass.touched) " class="err_tip">
                两次密码输入不一致
              </div>
            </div>
          </div>
        </div>

        <div class="sign_item">
          <div class="sign_label">
            <label>短信验证码 <span>*</span></label>
          </div>
          <div class="sign_input flex">
            <input type="text" [(ngModel)]="verifyCode" name="verifyCode" class="form-control"
                   placeholder="请输入短信验证码">
            <img src="assets/icons/icon_message.png" class="input_icon" alt="" style="top:18px;">
            <button class="btn btn_purple ml-2" (click)="getCode()" [disabled]="hideBtn">
              <!--获取短信验证码-->
              {{getCodeMess}}
            </button>
          </div>
        </div>

        <div class="sign_agree">
          <div class="agreement1">
            <div class="checkbox c-checkbox">
              <label>
                <input type="checkbox" [(ngModel)]="agreement" name="confirm">
                <span class="fa fa-check"></span>
                我已阅读并同意
              </label>
            </div>
            <!--<input type="checkbox" [(ngModel)]="agreement" name="confirm">-->

          </div>
          <div class="agreement2">
            <a href="/" target="_blank" style="color: #666EE8;">《LUKEEP物联网平台服务协议》</a>
          </div>
        </div>

        <div style="">
          <button class="btn btn_purple" (click)="submit()"
                  [disabled]="!phone || !password || !verifyCode || !agreement || !equal">
            提交
          </button>
        </div>

      </form>

      <div style="padding-top: 10px;">
        <a routerLink="/login" style="color: #666EE8;">已有账号，直接登录</a>
      </div>

      <div class="text-danger text-center">
        {{errMess}}
      </div>

    </div>
  </div>
</div>



