
.sign_up{

}

.sign_up_container{

}
.sign_up_container h5{
    padding-bottom: 20px;
}

.sign_item{
  /*display: flex;*/
  margin-bottom: 15px;
}
.sign_item .sign_label label{
  font-size: 14px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 6px;
}
.sign_item .sign_label span{
  color: #666EE8;
  font-size: 16px;
}
.sign_input{
  position: relative;
}

.sign_input .form-control{
  height: 38px;
  padding-left: 36px;
  font-size: 12px;
}
.input_icon{
  position: absolute;
  top: 13px;
  left: 13px;
  width: 12px;
  height: 12px;
}
.sign_tip{
  position: absolute;
  top: 100%;
  left: 36px;
  font-size: 10px;
  color: #FF4961;
}
.sign_tip span{
  font-size: 10px;
}

.sign_agree{
  display: flex;
  margin-bottom: 30px;
}
.agreement1{
  display: flex;
  align-items: center;
  font-size: 11px;
  color: #999999;
}
.agreement2 a{
  font-size: 11px;
}

.btn_purple{
  width:100%;
  height:38px;
  background:#666EE8;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing:1px;
}

/*checkbox*/
.c-checkbox{
  margin-right: 4px;
}
.c-checkbox *{
  cursor: pointer;
}
.c-checkbox input{
  opacity: 0;
  position: absolute;
  margin-left: 0 !important;
}
.c-checkbox span{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  /*margin-left: -20px;*/
  width: 15px;
  height: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 5px;
  text-align: center;
}
.c-checkbox span:before{
  margin-left: 0;
}
.c-checkbox:hover span{
  border-color: #666EE8;
  background-color: #ffffff;
}
.form-inline .c-checkbox span{
  margin-left: 0;
}
.c-checkbox.c-checkbox-rounded span{
  border-radius: 500px;
}
.c-checkbox label{
  margin-bottom: 0;
}


/* the icon */
.c-checkbox span:before{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  text-align: center !important;
  font-size: 12px;
  line-height: 14px;
  vertical-align: middle;
}
/* Checked state */
.c-checkbox input[type=checkbox]:checked + span:before{
  color: #666EE8;
  opacity: 1;
  transition: color 0.3s ease-out;
}
.c-checkbox input[type=checkbox]:checked + span{
  border-color: #666EE8;
  background-color: #ffffff;
}
.c-checkbox input[type=checkbox]:disabled + span{
  border-color: #dddddd !important;
  background-color: #dddddd !important;
}

.form-control-rounded {
  border-radius: 100px;
}


