<div class="modal-header">
  <h4 class="modal-title">
    视频信息设置
    <!--<span class="text_info" style="font-size: 16px;"> [ {{currentData?.Name}} ] </span>-->
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body" >
  <div class="input-group form-group">
    <span class="input-group-prepend">
      <span class="input-group-text" style="width: 107px;">
        视频名称
      </span>
    </span>
    <input type="text" [(ngModel)]="name" class="form-control">
  </div>

  <div class="input-group form-group">
    <span class="input-group-prepend">
      <span class="input-group-text" style="width: 107px;">
        摄像头编号
      </span>
    </span>
    <input type="text" [(ngModel)]="cameraId" class="form-control">
  </div>

  <div class="input-group form-group">
    <span class="input-group-prepend">
      <span class="input-group-text">
        视频直播地址
      </span>
    </span>
    <input type="text" [(ngModel)]="videoAdress" class="form-control">
  </div>


  <!--<div class="input-group">
    <span class="input-group-prepend">
      <span class="input-group-text">
        使用企业
      </span>
    </span>
    <nz-select style="width: 83%;" nzShowSearch nzAllowClear nzPlaceHolder="选择使用企业" [(ngModel)]="org">
      <nz-option *ngFor="let data of orgList" [nzLabel]="data.Name" [nzValue]="data.Uid"></nz-option>
    </nz-select>
  </div>-->
</div>

<div class="modal-footer">
  <button type="button" class="btn btn_info" (click)="save()">
    <span class="">绑定</span>
  </button>
  <button class="btn btn-default" type="button" (click)="activeModal.dismiss('close')">取消</button>
</div>



