

.conf_confirm{
  margin-bottom: 30px;
  box-shadow: 1px 1px 5px #cccccc;
}

.conf_title{
  padding: 20px 0;
  background-color: #2b303b;
  color: #ffffff;
  text-align: center;
  position: relative;
}
.conf_title i{
  font-size: 18px;
}
.conf_add{
  position: absolute;
  right: 20px;
  top:20px;
  color: #ffffff;
}

.t_head{
  background-color: #ccedff;
}
.conf_confirm .table thead th {
  font-weight: normal;
  border: 1px solid #dee2e6;
  padding: 20px 10px;
  height: auto;
  text-align: center;
}



.table{
  margin-bottom: 0;
}


.table tr td{
  padding: 0;
  height: 60px;
  vertical-align: middle;
}
.table input{
  border: none;
  height: 60px;
}
.table td:not(.t_btn) button{
  height: 100%;
}
.table tr td.chanel_label{
  padding:0.75rem;
}

.table select{
  border: none;
  height: 60px;
}
.table tr td.t_btn{
  padding: 0 20px;
}


.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button{
  min-width: 50px;
}

mat-grid-tile {
  cursor: pointer;
}
mat-grid-tile:hover{
  background-color: #cce5ff;
}

h6.text-muted{
  text-align: center;
}


