
.table{
  margin-bottom: 0;
}

.table input{
  border: none;
}
.table tr td{
  padding: 0;
  height: 36px;
}

.table select{
  border: none;
}

.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button{
  min-width: 50px;
}

mat-grid-tile {
  cursor: pointer;
}
mat-grid-tile:hover{
  background-color: #cce5ff;
}
