

<div class="content">
  <div class="charge_info_head">
    <div class="c_head_l">
      <h5>数据存储服务</h5>
    </div>
    <div class="c_head_r"></div>
  </div>

  <div class="c_info">
    <div class="c_content">
      <div class="cf_label">
        充值时间：
      </div>
      <div class="">
        <nz-select style="width: 120px;" [(ngModel)]="type" nzAllowClear>
          <nz-option *ngFor="let item of timeList" [nzValue]="item" [nzLabel]="item.name"></nz-option>
        </nz-select>
      </div>
    </div>

    <div class="c_content">
      <div class="cf_label">
        资费标准：
      </div>
      <div class="standard">
        <span class="text_purple">{{type?.price | currency: '￥'}} </span>
        <span style="color: #333333;"> 定期 </span>
      </div>
    </div>

    <div class="c_content">
      <div class="cf_label">
        有效期：
      </div>
      <div class="standard" style="color: #333333;">
        2019-01-20至2019-07029
      </div>
    </div>

    <div class="c_intro">
      <div>功能说明：</div>
      <p>
        {{type?.description}}
      </p>

    </div>



  </div>

  <div class="cf_bottom">
    <div class="cost">
      <div class="cost_label">
        费用小计：
      </div>
      <div class="cost_value">
        {{type?.price | currency: '￥'}}
      </div>
    </div>

    <div>
      <button class="btn btn_purple bpm" (click)="save()">
        提交
      </button>
    </div>

  </div>
</div>






