<!--<div class="breadcrumb">
  信息维护 / 账号管理
</div>-->



<div class="content">
  <div class="mat-card-title" style="padding: 20px 0; ">
    <h5 class="text-info pull-left">账号列表</h5>
    <div class="pull-right flex flex-row">

      <div class="input-group mb-4">
        <input type="text" class="form-control" placeholder="请输入登录名或企业" [(ngModel)]="search" >
        <div class="input-group-append" (click)="searchChange()">
          <button class="btn btn-info" type="button"><i class="fa fa-search"></i></button>
        </div>
      </div>

      <!--<div class="ml-3" *ngIf="user && user.Role.RoleId <= 10">
        <button (click)="new()" class="btn btn-info">
          新增账号
        </button>
      </div>-->

    </div>
  </div>
  <div>
    <table class="table table-bordered">
      <thead class="bg_light_primary">
      <th>
        <div class="checkbox c-checkbox white">
          <label>
            <input type="checkbox" [(ngModel)]="allDelete" (change)="allDel();">
            <span class="fa fa-check"></span></label>
        </div>
      </th>
      <th>登录名</th>
      <th>用户角色</th>
      <th>用户名称</th>
      <th>所属企业</th>
      <th>用户状态</th>
      <th>操作</th>
      </thead>
      <tbody>
      <tr *ngFor="let account of accounts">
        <td>
          <div class="checkbox c-checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="account.checkDelete" (change)="checkDel(account);">
              <span class="fa fa-check"></span></label>
          </div>
        </td>
        <td> {{ account.Username }} </td>
        <td> {{ account.Role.Name }} </td>
        <td> {{ account.Name }} </td>
        <td> <span *ngIf="account.Organization"> {{ account.Organization.Name }} </span>  </td>
        <td> {{ account.stat.name }} </td>
        <td>
          <button class="btn btn-sm btn-info" (click)="open(account)">设置</button>
          <button class="btn btn-sm btn-info ml-2" *ngIf="user.Role.RoleId <= 1" (click)="openManage(account)">
            权限管理
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <p class="text-muted" *ngIf="!accounts||accounts.length===0">
      无有效数据
    </p>

    <div>
      <div class="pull-left">
        <button class="btn btn-info" (click)="deleteG()">
          批量删除
        </button>
      </div>

      <ngb-pagination class="pull-right"
                      [collectionSize]="totalItems"
                      [pageSize]="pageSize" [(page)]="page"
                      [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                      (pageChange)="pageChange()">

      </ngb-pagination>

      <div class="pull-right mr-3">
        <select [(ngModel)]="pageSize" class="form-control" (change)="pageSizeChange()">
          <option value="10">10</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
      <div class="pull-right mr-3" style="line-height: 33px;"> 共 {{totalItems}} 项</div>
    </div>
  </div>

</div>

<div>
  <!--<router-outlet></router-outlet>-->
</div>









