
<div class="content">
  <div class="charge_info_head">
    <div class="c_head_l">
      <h5>订单详情</h5>
      <div>
        <span>
          已支付
        </span>
      </div>
    </div>
    <div class="c_head_r">
      <!--返回-->
      <button class="btn btn_purple-o btn_round bps" (click)="goBack()">
        <i class="iconfont iconicon_comeback1"></i>
      </button>
    </div>
  </div>

  <div class="c_info">
    <div>
      <h5>支付信息</h5>

      <div class="cinfo_info">
        <div class="cinfo_l">
          <ul>
            <li class="cinfo_item">
              <div class="cinfo_label">订单编号：</div>
              <div class="cinfo_value">
                203861209130361
              </div>
            </li>

            <li class="cinfo_item">
              <div class="cinfo_label">创建时间：</div>
              <div class="cinfo_value">
                2019-12-21 12:12:12
              </div>
            </li>

            <li class="cinfo_item">
              <div class="cinfo_label">订单创建账号：</div>
              <div class="cinfo_value">
                18012341234（张三）
              </div>
            </li>


            <li class="cinfo_item">
              <div class="cinfo_label">所属单位：</div>
              <div class="cinfo_value">
                A企业
              </div>
            </li>


            <li class="cinfo_item">
              <div class="cinfo_label">订单类型：</div>
              <div class="cinfo_value">
                <span style="color: #5584FF;">定期</span>
                <span class="text_purple">永久</span>
              </div>
            </li>


          </ul>
        </div>

        <div class="cinfo_r">
          <ul>
            <li class="cinfo_item">
              <div class="cinfo_label">支付状态：</div>
              <div class="cinfo_value">
                <span class="text_purple">支付完成</span>
                <span style="color: #B20000;">待支付</span>
              </div>
            </li>

            <li class="cinfo_item">
              <div class="cinfo_label">支付完成时间：</div>
              <div class="cinfo_value">
                2019-12-21 12:12:12
              </div>
            </li>

            <li class="cinfo_item">
              <div class="cinfo_label">支付金额：</div>
              <div class="cinfo_value">
                ¥1000.00
              </div>
            </li>

            <li class="cinfo_item">
              <div class="cinfo_label">支付方式：</div>
              <div class="cinfo_value">
                <span>对公转账</span>
                <span><img src="assets/images/charge/alipay.png" alt=""></span>
              </div>
            </li>

            <li class="cinfo_item">
              <div class="cinfo_label">支付账号：</div>
              <div class="cinfo_value">
                **********@162.com
              </div>
            </li>
          </ul>
        </div>


      </div>
    </div>

    <div class="mt-3">
      <h5>订单产品信息</h5>

      <div>
        <ul>
          <li class="cinfo_item">
            <div class="cinfo_label">订购产品：</div>
            <div class="cinfo_value">
              集群服务
            </div>
          </li>

          <li class="cinfo_item">
            <div class="cinfo_label">产品说明：</div>
            <div class="cinfo_value">
              <div class="cinfo_content">
                开通服务集群功能
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>

  </div>
</div>


