
<div class="site">
  <header>
    <app-header [user]="user" [btnShow]="true" [matches]="mobileQuery.matches" [auth]="authority"
                (toggle)="sidenav.toggle()">

    </app-header>
  </header>

  <main class="directive" [class.formal]="roleId==='10' || roleId==='11'">
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav class="sidenav bg_light_default"  [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches" #sidenav>
        <app-sidebar [user]="user" [sideList]="sideList"></app-sidebar>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>

  </main>



</div>

