
.view_equip{
  padding: 30px;
}
.view_equip h5{
  font-size: 14px;
}

.veq_head{
  border-bottom: 1px solid #eeeeee;
}
.veq_head h6{
  font-size: 18px;
  color: #333333;
}


a.btn_info{
  color: #ffffff;
}
a.btn_info:hover{
  color: #ffffff;
}
a.btn_grey{
  background-color: #e9ecef;
  color: #495057;
  border: 1px solid #e9ecef;
}

.view_step{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.view_step .btn{
  border-radius: 30px;
}
.view_step .step_c{
  width: 100%;
  height: 8px;
  background-color: #e9ecef;
}

.view_step .step_c_info{
  width: 100%;
  height: 8px;
  background-color: #00a4ff;
}

.veq_body{
  margin-top: 20px;
}
.veq_bottom{
  padding-bottom: 20px;
}

