


<div class="content cal">
  <div class="list_head">
    <div class="li_head_l">
      <h6>
        【{{code}}】 能效计算设置
      </h6>
    </div>
    <div class="li_head_r">
      <!--返回-->
      <!--<button class="btn btn_purple-o btn_round bps" (click)="goBack()">
        <i class="iconfont iconicon_comeback1"></i>
      </button>-->


    </div>
  </div>

  <div class="list_content">

    <div class="content_t">

      <div class="ct_radio">
        <nz-radio-group [(ngModel)]="checked">
          <label nz-radio nzValue="1">启用</label>
          <label nz-radio nzValue="0">停用</label>
        </nz-radio-group>
      </div>

      <div class="ct_h">
        能效正平衡计算
      </div>
      <nz-table nzTemplateMode nzBordered>
        <thead>
        <tr>
          <th>序号</th>
          <th>对应计算参数</th>
          <th>数据通道</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td> 1 </td>
          <td> 锅炉类型 </td>
          <td>
            <!--<nz-select
              style="width: 200px;"
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Select a person"
              [(ngModel)]="selectedValue"
            >
              <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
              <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
              <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
            </nz-select>-->

            <nz-radio-group [(ngModel)]="radioValue">
              <label nz-radio nzValue="A">蒸汽</label>
              <label nz-radio nzValue="B">热水</label>
            </nz-radio-group>
          </td>

        </tr>
        <tr>
          <td> 2 </td>
          <td> A书记模型蒸汽温度 </td>
          <td>
            <input nz-input placeholder="Basic usage" [(ngModel)]="value" />
          </td>

        </tr>
        <tr>
          <td> 3 </td>
          <td> A数据模型蒸汽温度 </td>
          <td>
            <nz-radio-group [(ngModel)]="radioValue">
              <label nz-radio nzValue="A">A</label>
              <label nz-radio nzValue="B">B</label>
              <label nz-radio nzValue="C">C</label>
              <label nz-radio nzValue="D">D</label>
            </nz-radio-group>
          </td>

        </tr>
        </tbody>
      </nz-table>

      <div class="ct-b">
        <div class="btn-group">
          <button class="btn btn_purple bpm" (click)="goBack()">
            返回
          </button>
          <button class="btn btn_purple bpm" (click)="save()" style="margin-left: 1px;">
            确认提交
          </button>
        </div>

      </div>
    </div>

    <!--<ng-template #totalTemplate let-total> 共计 {{ totalItems }} 项 </ng-template>

    <div class="content_b">
      <nz-pagination nzShowSizeChanger
                     [nzTotal]="totalItems"
                     [nzShowTotal]="totalTemplate"
                     [(nzPageIndex)]="page"
                     [(nzPageSize)]="pageSize"
                     (nzPageIndexChange)="pageChange()"
                     (nzPageSizeChange)="pageSizeChange()"
                     [nzPageSizeOptions] = "pageSizeList">

      </nz-pagination>
      <div class="ant-pagination-options-quick-jumper"> 跳至
        <input type="number" [(ngModel)]="pageNum"> 页 </div>
      <button (click)="goPage()" nz-button class="btn_purple ml-3">跳转</button>
    </div>-->



  </div>

</div>









