
<div class="home_container flex">
  <div class="" style="flex: 2;">
    <div class="hc_1 mb-3">
      <div class="hc_header">
        主监控台
      </div>
      <div class="hc_content flex">
        <div class="hc_f1">
          <h6>用户总数</h6>
          <div>
            1234
          </div>
        </div>
        <div class="hc_f1">
          <h6>监控设备总数</h6>
          <div>
            1222
          </div>
        </div>
        <div class="hc_f1">
          <h6>监控设备总数</h6>
          <div>
            1222
          </div>
        </div>
        <div class="hc_f1">
          <h6>监控设备总数</h6>
          <div>
            1222
          </div>
        </div>
        <div class="hc_f1">
          <h6>监控设备总数</h6>
          <div>
            1222
          </div>
        </div>
        <div class="hc_f1">
          <h6>监控设备总数</h6>
          <div>
            1222
          </div>
        </div>
      </div>
    </div>

    <div class="hc_2">
      <div *ngIf="user && user.Role.RoleId > 10">
        <app-home-general></app-home-general>
      </div>

      <div *ngIf="user && user.Role.RoleId <= 10">
        <app-home-vip></app-home-vip>
      </div>
    </div>
  </div>


  <div style="flex: 1; margin-left: 20px;">
    <div class="hc_3 mb-3">
      <div class="hc_header">
        重要提醒
      </div>
      <div class="hc_content">
        <ul>
          <li>
            <a href="/">aaaaa</a>
          </li>
          <li>
            <a href="/">bbbbb</a>
          </li>
          <li>
            <a href="/">ccccc</a>
          </li>
        </ul>
        <div class="hc_more">
          <a href="">查看更多</a>
        </div>
      </div>
    </div>

    <div class="hc_4">
      <div class="hc_header">
        通知消息
      </div>
      <div class="hc_content">
        <ul>
          <li>
            <a href="/">aaaaa</a>
          </li>
          <li>
            <a href="/">bbbbb</a>
          </li>
          <li>
            <a href="/">ccccc</a>
          </li>
        </ul>
        <div class="hc_more">
          <a href="">查看更多</a>
        </div>
      </div>
    </div>
  </div>




</div>
