<!--头像-->

<div class="mt-lg-3 row">
  <div class="col-6">

    <p> 说明：
      <br/>请选择您要添加的头像文件，文件格式请用jpg、png或gif，文件大小不超过200k。
      <br/>最佳适配 128*128到256*256 方形图片作为头像。</p>
    <div class="clearfix margin-top-10">
      <span class="" style="color: red"> 注意  </span><br/>
      <span class="" style="color: red">请用最新的 Firefox, Chrome, Opera, Safari 或者 Internet Explorer 10+ 来进行用户头像上传的操作。 </span>
    </div>
  </div>
  <div class="col-6" style="padding-left: 80px">

      <div class="form-group">
        <div class="fileinput fileinput-new" data-provides="fileinput">

          <div class="thumbnail" style="width: 212px; height: 162px; padding: 5px;">
            <img src="{{imgUrl}}" style="max-width: 200px; max-height: 150px;">
          </div>

          <div>
            <button class="btn btn-primary mr-3" style="position: relative; overflow: hidden;">
              选择头像图片...
              <input type="file"  (change)="imgChange($event)" style="position: absolute; left: 0; top: 0; opacity: 0;">
            </button>

            <button class="btn btn_info" (click)="uploadImg()" [disabled]="!img"> 上传头像 </button>
          </div>
        </div>

        <div>
          {{errMes}}
        </div>
      </div>

  </div>
</div>




