<div class="service">
  <div class="mat-card-title">
    <h5 class="text_info pull-left">
      <!--<i nz-icon type="customer-service" theme="outline"></i>-->
      <img src="assets/icons/service.svg" alt="" style="width: 20px;">
      <!--<i class="fa fa-credit-card"></i>-->
      服务支持
    </h5>

    <nav class="pull-left">
      <a routerLink="/admin/service/list" routerLinkActive="btn_info" class="btn">我的表单</a>
      <a routerLink="/admin/service/dashboard" routerLinkActive="btn_info" class="btn ml-2 mr-3">提交表单</a>
    </nav>

    <div class="pull-right flex flex-row">
      <div class="input-group mb-2">
        <input type="text" class="form-control" placeholder="请输入表单关键字" [(ngModel)]="search" >
        <div class="input-group-append" (click)="searchChange()">
          <button class="btn btn_info" type="button"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>

  </div>

  <div class="t_content">
    <table class="table">
      <thead class="bg_light_primary">
      <th>
        <div class="checkbox c-checkbox white">
          <label>
            <input type="checkbox" [(ngModel)]="allDelete" (change)="allDel();">
            <span class="fa fa-check"></span></label>
        </div>
      </th>
      <th> 表单编号 </th>
      <th> 主题内容 </th>
      <th> 主题分类 </th>
      <th> 提交人 </th>
      <th> 提交时间 </th>
      <th> 所属企业 </th>
      <th> 当前状态 </th>
      <th> 操作 </th>
      </thead>
      <tbody>
        <tr *ngFor="let data of serviceList; let i = index">
          <td>
            <div class="checkbox c-checkbox">
              <label>
                <input type="checkbox" [(ngModel)]="data.checkDelete" (change)="checkDel(data);">
                <span class="fa fa-check"></span></label>
            </div>
          </td>
          <td> {{ data.Uid }}  </td>
          <td style="width: 180px;">
            <div style="width: 160px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" title="{{data.Name}}">
              {{ data.Name }}
            </div>
          </td>
          <td> {{ data.DialogueType?.Name }} </td>
          <td>
            {{ data.CreatedBy?.Name }}
          </td>
          <td>
            {{ data.CreatedDate | date: 'yyyy-MM-dd' }}
          </td>
          <td> {{ data.Organization?.Name }} </td>
          <td>
            <span class="text_blue" *ngIf="data.Status">
              已回复
            </span>

            <span class="text-muted" *ngIf="!data.Status">
              未回复
            </span>
          </td>
          <td>
            <!--[routerLink]="['/admin/service/view', data.Uid]" -->
            <a (click)="goView(data)"
               class="btn btn_info btn-sm" style="color: #ffffff;">
              查看
            </a>
          </td>

        </tr>
      </tbody>
    </table>
    <p class="text-muted" *ngIf="!serviceList||serviceList.length===0">
      无有效数据
    </p>
  </div>


  <div class="t_bottom">


    <div class="pull-left" *ngIf="user.Role.RoleId>10">
       <button class="btn btn_info" (click)="deleteG()">
         批量删除
       </button>
    </div>


    <ngb-pagination class="pull-right"
                    [collectionSize]="totalItems"
                    [pageSize]="pageSize" [(page)]="page"
                    [maxSize]="3" [rotate]="true" [boundaryLinks]="false"
                    (pageChange)="pageChange()">

    </ngb-pagination>
    <div class="pull-right mr-3">
      <select [(ngModel)]="pageSize" class="form-control" (change)="pageSizeChange()">
        <option value="10">10</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
    <div class="pull-right mr-3" style="line-height: 33px;"> 共 {{totalItems}} 项</div>
  </div>

</div>
