
.con1 .head{
  display: flex;
  align-items: center;
}
.con1 .head h6{
  margin: 0;
  font-size:18px;
  font-weight:bold;
  color: #464855;
}

.con2{
  display: flex;
  justify-content: space-between;
  margin: 0 12px;
  padding-bottom: 20px;
}
.con21, .con22{
  background-color: #FFFFFF;
  flex: 1;
  box-shadow:0px 0px 8px 8px rgba(249,250,253,0.5);
  border-radius:4px;
  border:1px solid #E4E5EC;
  overflow: hidden;
}
.con21{
  display: flex;
  flex-direction: column;
}
.con22{
  margin-left: 11px;
}
.con21 .term_info_body{
  flex: auto;
  display: flex;
  flex-direction: column;
}
.term_info_h{
  height:40px;
  background:#F9FAFD;
  border-bottom:1px solid #E4E5EC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 19px;
  padding-right: 16px;
}
.term_info_h h6{
  color: #464855;
  margin: 0;
}

.term_info_item{
  display: flex;
  border-bottom:1px solid #E4E5EC;
}
.con21 .term_info_item{
  flex: 1;
  align-items: center;
}
.con22 .term_info_item{
  padding: 12px 0;
}

.t_info_label{
  width: 80px;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 12px;
  text-align: right;
  color: #464855;
  margin-right: 76px;
}
.t_info_value{
  font-size: 12px;
  color: #666EE8;
}
.t_info_value *{
  font-size: 12px;
}
.expand{
  display: flex;
  flex-wrap: wrap;
}
.ex_item{
  padding: 2px 6px;
  border: 1px solid #666EE8;
  margin-right: 8px;
  margin-bottom: 2px;
}



.chart{
  margin-top: 20px;
}






