<!--<div class="bread">
  信息维护 <span> / </span>用户管理
</div>-->


<div class="content">
  <div class="info_head">
    <div class="info_tname">
      <img src="assets/icons/icon_Personal.png" alt="">
      {{basic?.username}}
    </div>
    <div>
      <!--返回-->
      <button class="btn btn_purple-o btn_round bps" [routerLink]="['/admin/ad/account/list', {page: listPage}]">
        <i class="iconfont iconicon_comeback1"></i>
      </button>
      <button class="btn btn_purple btn_round bpm ml-1" (click)="entry()" [disabled]="!config || config.account_type!==10">
        进入
      </button>
      <!--<button class="btn btn_purple btn_round bpm ml-3" (click)="disable()">
        账号禁用
      </button>-->
      <!--<button class="btn btn_purple btn_round" (click)="goBack()">-->
        <!--返回-->
      <!--</button>-->
    </div>
  </div>

  <div class="info_content flex">
    <div class="info_l">
      <div class="info_basic">
        <div class="info_title">
          <h6>
            基础信息
          </h6>
        </div>
        <div class="info_body">
          <ul>
            <li class="info_item">
              <div class="info_item_title">
                账号
              </div>
              <div class="info_item_value">
                {{basic?.username}}
              </div>
            </li>
            <li class="info_item">
              <div class="info_item_title">
                用户名
              </div>
              <div class="info_item_value">
                {{basic?.name}}
              </div>
            </li>

            <li class="info_item">
              <div class="info_item_title">
                单位名称
              </div>
              <div class="info_item_value">
                {{basic?.org_name}}
              </div>
            </li>
            <li class="info_item">
              <div class="info_item_title">
                单位类型
              </div>
              <div class="info_item_value">
                <span *ngIf="basic&&basic.org_tag === 1">
                  产品使用
                </span>
                <span *ngIf="basic&&basic.org_tag === 2">
                  产品制造
                </span>
                <span *ngIf="basic&&basic.org_tag === 3">
                  产品运维
                </span>
                <span *ngIf="basic&&basic.org_tag === 4">
                  组件供应
                </span>
                <span *ngIf="basic&&basic.org_tag === 5">
                  监管机构
                </span>
              </div>
            </li>
            <li class="info_item">
              <div class="info_item_title">
                地域地址
              </div>
              <div class="info_item_value">
                {{basic?.location_name}}
              </div>
            </li>
            <li class="info_item">
              <div class="info_item_title">
                邮箱
              </div>
              <div class="info_item_value">
                {{basic?.email}}
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="info_config">
        <div class="info_title">
          <h6>
            配置信息
          </h6>

          <!--设置-->
          <a (click)="editConfig()" title="编辑" *ngIf="config&&config.account_type!==1&&config.account_type!==15">
            <span class="iconfont iconedit text_purple"></span>
          </a>
          <!--<button class="btn btn_purple btn_round bpm" (click)="editConfig()" *ngIf="config&&config.account_type!==1&&config.account_type!==15">
            编辑
          </button>-->
        </div>
        <div class="info_body">
          <ul>
            <li class="info_item">
              <div class="info_item_title">
                账号状态
              </div>
              <div class="info_item_value">
                <span class="text_danger" *ngIf="config&&config.account_status===0">
                  禁用
                </span>
                <span class="" *ngIf="config&&config.account_status===1">
                  正常
                </span>
              </div>
            </li>
            <li class="info_item">
              <div class="info_item_title">
                账号类型
              </div>
              <div class="info_item_value">
                <span *ngIf="config&&config.account_type===1">
                  系统用户
                </span>
                <span class="" *ngIf="config&&config.account_type===5">
                  运营用户
                </span>
                <span class="" *ngIf="config&&config.account_type===6">
                  财务用户
                </span>
                <span class="" *ngIf="config&&config.account_type===10">
                  正式用户
                </span>
                <span class="" *ngIf="config&&config.account_type===11">
                  普通用户
                </span>
                <span class="" *ngIf="config&&config.account_type===15">
                  维保用户
                </span>
                <span class="" *ngIf="config&&config.account_type===20">
                  测试用户
                </span>

              </div>
            </li>
            <li class="info_item">
              <div class="info_item_title">
                基础功能
              </div>
              <div class="info_item_value">
                基础功能（默认）
              </div>
            </li>
            <li class="info_item">
              <div class="info_item_title">
                扩展功能
              </div>
              <div class="info_item_value">
                <span *ngFor="let data of expand">
                  {{data.name}}
                </span>
              </div>
            </li>



          </ul>
        </div>

      </div>
    </div>

    <div class="info_r">
      <div class="info_title">
        <h6>
          状态记录
        </h6>
        <a class="btn btn_purple btn_round bpm" [routerLink]="['/admin/ad/account/operate', uid, basic?.username]">
          查看更多
        </a>
      </div>
      <div class="info_body" style="height: 640px;">
        <ul>
          <li class="info_item" *ngFor="let data of operate">
            <div class="info_item_date">
              {{data.created_at | date: 'yyyy-MM-dd  HH:mm:ss'}}
            </div>
            <div class="info_item_op">
              {{data.info}}
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>

</div>





