

<div class="content" style="min-height: 550px;">
  <div class="charge_info_head">
    <div class="c_head_l">
      <h5>支付</h5>
    </div>
    <div class="c_head_r" style="font-size: 12px; color:#414B92;">
      总金额： {{info?.pay_money | currency: '￥'}}
    </div>
  </div>

  <div class="c_info">
    <div class="c_content">

      <div class="c_title">
        <div class="c_t_id">
          订单号：23134123415521
        </div>
        <div class="text_purple" style="font-size: 18px;">
          {{info?.pay_money | currency: '￥'}}
        </div>
      </div>
      <div class="c_text">
        {{info?.item_name}}  版本{{info?.item_type}}  数量{{info?.item_number}}
        <div *ngIf="info&&info.shipping_user">
          {{info?.shipping_user}} {{info?.shipping_addr}} {{info?.shipping_tel}}
        </div>
      </div>
    </div>

    <hr>

    <div class="pay_type">
      <div style="font-size: 20px; font-weight: bold; margin-right: 10px; color: #000000;">
        支付方式：
      </div>
      <div>
        <div class="pay_item">
          <div class="c_c1" (click)="selectPay(1)" [class.active]="type === 1">对公转账</div>
        </div>
        <div class="pay_item">
          <div class="c_c1" (click)="selectPay(2)" [class.active]="type === 2">支付宝</div>
          <img src="assets/images/charge/alipay.png" alt="">
        </div>

      </div>
    </div>

  </div>

  <div class="cf_bottom">
    <!--<div class="cost">
      <div class="cost_label">
        费用小计：
      </div>
      <div class="cost_value">
        ¥ 9000.00
      </div>
    </div>-->

    <div>
      <button class="btn btn_purple" (click)="save()">
        确认支付
      </button>
    </div>

    <nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" nzClosable="false" [nzFooter]="null">
      <ng-template #modalTitle>
        <div style="font-size: 20px; padding: 10px 0;">
          对公转账
        </div>
      </ng-template>
      <ng-template #modalContent>
        <div style="padding: 15px 55px;">
          <div class="mo_text">
          <span class="mo_text_label">
            企业开户名称：
          </span>
            <span class="mo_text_value">
            宁波厚德能源科技有限公司
          </span>
          </div>
          <div class="mo_text">
          <span class="mo_text_label">
            企业开户银行：
          </span>
            <span class="mo_text_value">
            中国银行宁波鄞州投资创业支行
          </span>
          </div>
          <div class="mo_text">
          <span class="mo_text_label">
            企业银行账号：
          </span>
            <span class="mo_text_value">
            375370325182
          </span>
          </div>
        </div>

        <div style="padding: 60px 55px 30px 55px; display: flex; align-items: flex-end;">
          <button class="btn btn_purple bpm" (click)="handleOk()">确认</button>
          <span style="margin-left: 15px; font-size: 12px;">转账成功后请联系管理员确认完成订单支付。</span>
        </div>
      </ng-template>

    </nz-modal>

  </div>
</div>






