
<div class="content">
  <div class="mat-card-title">
    <h5 class="text_info pull-left">
      <img src="assets/icons/monitor.png" alt="">
      设备概览
    </h5>
    <nav class="pull-left">
      <a routerLink="/admin/monitor/dashboard" routerLinkActive="btn_info" class="btn">图文模式</a>
      <a routerLink="/admin/monitor/list" routerLinkActive="btn_info" class="btn">列表模式</a>
      <a routerLink="/admin/monitor/map" routerLinkActive="btn_info" class="btn">地图模式</a>
      <a routerLink="/admin/monitor/clusters" routerLinkActive="btn_info" class="btn mr-3">集群模式</a>
    </nav>



    <div class="pull-right flex flex-row">

      <!--<div class="btn-group mr-2">
        <button class="btn" [ngClass]="{'btn-outline-info': checkValue !== 2, 'btn_info': checkValue === 2}" (click)="checkStatus(2)">
          全部
        </button>
        <button class="btn" [ngClass]="{'btn-outline-info': checkValue !== 1, 'btn_info': checkValue === 1}" (click)="checkStatus(1)">
          运行
        </button>
        <button class="btn" [ngClass]="{'btn-outline-info': checkValue !== 0, 'btn_info': checkValue === 0}" (click)="checkStatus(0)">
          未运行
        </button>
      </div>-->


      <div class="input-group">
        <input type="text" class="form-control" placeholder="请输入设备名称" [(ngModel)]="search" >
        <div class="input-group-append" (click)="searchChange()">
          <button class="btn btn_info" type="button"><i class="fa fa-search"></i></button>
        </div>
      </div>

    </div>
  </div>

  <!--<div class="clearfix" style="padding-bottom: 20px; font-size: 18px;">
    <h5 class="pull-left"> 图文模式 </h5>
  </div>-->

  <div class="dashboard">
    <div class="grid grid-pad row">
      <div *ngFor="let data of boilers; trackBy: trackByUid" class="col-sm-12 col-md-6">
        <div class="flex_c module">
          <div class="status_name">
            <a [routerLink]="['/admin/runtime', data.uid, data.name]" target="_blank">
              <h5 class="">
                {{data.name}}
              </h5>
            </a>
          </div>

          <div class="status_box">
            <div class="status_content">
              <div class="status_row">
                <a class="status_col" [routerLink]="['/admin/terminal']"
                   [ngClass]="{'bg_info':data.termStatus > 0 ,'bg_grey':data.termStatus <= 0}">
                  {{data.online}} <!--终端状态-->
                </a>
                <a class="status_col" [routerLink]="['/admin/runtime', data.uid, data.name]" target="_blank"
                   [ngClass]="{'bg_info':data.termStatus > 0 && data.eptStatus ,'bg_grey':data.termStatus <= 0 || !data.eptStatus}">
                  {{data.isBurning}} <!--运行状态-->
                </a>
                <a class="status_col" [routerLink]="['/admin/runtime', data.uid, data.name]" target="_blank"
                   [ngClass]="{'bg_grey':data.termStatus <= 0, 'bg-warning':data.termStatus > 0 && data.alarmStatus , 'bg_info':data.termStatus > 0 && !data.alarmStatus}">
                  {{data.warning}}
                </a>
                <a class="status_col bg_grey" [routerLink]="['/admin/runtime/' + data.uid + '/' + data.name + '/maintain/dashboard']" target="_blank"
                   [ngClass]="{'bg_grey':data.termStatus <= 0, 'bg-warning':data.termStatus > 0 && data.mtStatus , 'bg_info':data.termStatus > 0 && !data.mtStatus}">
                  {{data.malfunction}}
                </a>
              </div>
            </div>
            <div class="img_content ">
              <a [routerLink]="['/admin/runtime', data.uid, data.name]" target="_blank">
                <img src="{{data.img}}" alt="">
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="clearfix mt-3">
      <!--<div class="pull-left"> 共 {{totalItems}} 项</div>-->
      <ngb-pagination class="pull-right"
                      [collectionSize]="totalItems"
                      [pageSize]="pageSize" [(page)]="page"
                      [maxSize]="3" [rotate]="true" [boundaryLinks]="false"
                      (pageChange)="pageChange()">
      </ngb-pagination>
    </div>
  </div>



</div>





