/* DashboardComponent's private CSS styles */
/*[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}*/
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.dashboard{
  background-color: #ffffff;
  padding: 20px 0;
}

.grid {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/*.col-1-4 {
  width: 50%;
}*/
.module {
  padding: 0 15px;
  border: 1px solid #eeeeee;
  /*color: #607d8b;*/
  width: 100%;
  /*box-shadow: 1px 1px 5px #aaaaaa;*/
  margin-bottom: 30px;
}
.flex_c{
  display: flex;
  flex-direction: column;
}
.module a h6{
  color: #666666;
}

/*.grid-pad {
  padding: 10px 0;
}*/
/*.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}*/
/*@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}*/



.module .status_name{
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #dddddd;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.module .status_name .sn_l{
  display: flex;
  align-items: center;
  width: 50%;
}
.status_name .sn_l a{
  display: block;
}
.status_name .sn_title{
  width: 82%;
}
.module .status_name .sn_r{
  flex: auto;
  text-align: right;
}
.status_param0{
  width: 16%;
  height: 34px;
  border-radius: 5px;
  margin-right: 5px;
}
.status_param{
  width: 30%;
  margin-left: 3%;
  box-sizing: border-box;
  padding: 9px 5px;
  border-radius: 3px;
}
.module .status_name h6{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.2rem;
}
.module .status_name p{
  margin-bottom: 0;
}



.module .status_box{
  display: flex;
}
.module .status_content{
  padding: 10px;
  width: 50%;
}

.module .img_content{
  /*flex: 2;*/
  overflow: hidden;
  height: 220px;
  width: 50%;
  padding: 10px 0;
  /*line-height: 500px;*/
}
.module .img_content img{
  width: 100%;
  height: 200px;
  /*transform: scale(1);
  transition: all 1s ease 0s;
  -webkit-transform: scale(1);
  -webkit-transform: all 1s ease 0s;*/
}
@media (max-width: 1024px) {
  /*.module .img_content{
    height: 220px;
    width: 50%;
  }
  .module .img_content img{
    width: 100%;
    height: 200px;
  }*/
}


.status_row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.status_data_item{
  width: 48%;
  height: 100px;
  box-sizing: border-box;
  text-align: center;
}
.status_data_head{
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
}
.status_data_content{
  font-size: 20px;
  color: #007bff;
  padding-top: 10px;
}


.module .status_content a.status_col{
  width: 42%;
  /*margin-right: 3%;*/
  box-sizing: border-box;
  padding: 12px 0;
  border-radius: 3px;
  margin-top: 15px;
  margin-bottom: 15px;
  /*line-height: 40px;*/

  text-align: center;
  /*color: #ffffff;*/
}



.module:hover {
  /*color: #607d8b;*/
  border: 1px solid #607d8b;
}
.module .status_content a:hover{
  color: #ffffff;
}
.module .status_content a.bg_grey:hover{
  color: #333333;
}

/*.module:hover .img_content img{*/
  /*transform: scale(1.2);*/
  /*transition: all 1s ease 0s;*/
  /*-webkit-transform: scale(1.2);*/
  /*-webkit-transform: all 1s ease 0s;*/
/*}*/




