<!--<div class="bread">
  信息维护 <span> / </span>订单管理
</div>-->


<div class="content">
  <div class="info_head">
    <div class="info_tname">
      <img src="assets/icons/delivery2.png" alt="">
      发货详情
    </div>
    <div style="text-align: right;">
      <!--返回-->
      <button class="btn btn_purple-o btn_round bps" [routerLink]="['/admin/operator/delivery/list', {page: listPage}]">
        <i class="iconfont iconicon_comeback1"></i>
      </button>
      <button class="btn btn_purple btn_round bpm ml-1" (click)="statusSet()">
        状态设置
      </button>
    </div>
  </div>

  <div class="info_c0">
    <div class="flex">
      <div>
        发货编号：
      </div>
      <div class="text_purple">
        {{basic?.order_sn}}
      </div>
    </div>

    <div>
      当前状态：
      <span style="color: #1E9FF2;" *ngIf="basic && basic.ship_status">已发货</span>
      <span style="color: #FFC06A;" *ngIf="basic && !basic.ship_status">未发货</span>
    </div>

  </div>

  <div class="info_content">
    <div class="info_order_1">
      <div class="info_title">
        <h6>
          发货信息
        </h6>
      </div>
      <div class="info_body">
        <div class="flex" style="margin-bottom: 16px; justify-content: space-between;">
          <div class="de_item_c1">
            <div class="item_c1_label">
              订单编号
            </div>
            <div class="item_c1_value">
              {{basic?.order_sn}}
            </div>
          </div>

          <div class="de_item_c1">
            <div class="item_c1_label">
              订单创建时间
            </div>
            <div class="item_c1_value">
              {{basic?.created_at | date: 'yyyy-MM-dd HH:mm:ss'}}
            </div>
          </div>

          <div class="de_item_c1">
            <div class="item_c1_label">
              预计发货时间
            </div>
            <div class="item_c1_value">
              {{basic?.ship_expect_at | date: 'yyyy-MM-dd'}}
            </div>
          </div>


        </div>

        <div class="flex">
          <div class="item_c1_label">
            收件信息
          </div>
          <div class="item_c2_value">
            <div style="margin-bottom: 15px;">
              <b style="font-size: 18px; color: #000000;">{{basic?.shipping_user}}</b>
              <span style="font-size: 12px; color: #666666;">
                {{basic?.shipping_tel}}
              </span>
            </div>
            <div style="font-size: 16px; color: #000000;">
              {{basic?.shipping_addr}}
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="info_order_2">
      <div class="info_title">
        <h6>
          设备清单
        </h6>

        <button class="btn btn_purple bpm" (click)="addData()">添 加</button>
      </div>
      <div class="info_body">
        <div style="overflow: auto; height: 320px; width: 100%;">
          <nz-table
            #dataTable
            [nzFrontPagination]="false"
            [nzShowPagination] = "false"
            [nzLoading]="loading"
            [nzData]="dataLists"
          >
            <thead>
            <tr>
              <th>设备编码</th>
              <th>设备类型</th>
              <th>固件版本</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of dataTable.data">
              <td> {{data.item_code}} </td>
              <td>
                <span *ngIf="data.item_type === 1">
                  终端
                </span>
                <span *ngIf="data.item_type === 2">
                  蓝牙
                </span>
                <span *ngIf="data.item_type === 3">
                  视频
                </span>
              </td>
              <td> {{data.remark}} </td>
            </tr>
            </tbody>
          </nz-table>
        </div>


        <ng-template #totalTemplate let-total> 共计 {{ totalItems }} 项 </ng-template>

        <div class="content_b">
          <nz-pagination nzShowSizeChanger
                         [nzTotal]="totalItems"
                         [nzShowTotal]="totalTemplate"
                         [(nzPageIndex)]="page"
                         [(nzPageSize)]="pageSize"
                         (nzPageIndexChange)="pageChange()"
                         (nzPageSizeChange)="pageSizeChange()"
                         [nzPageSizeOptions] = "pageSizeList">

          </nz-pagination>
          <div class="ant-pagination-options-quick-jumper"> 跳至
            <input type="number" [(ngModel)]="pageNum"> 页 </div>
          <button (click)="goPage()" nz-button class="btn_purple ml-3">跳转</button>
        </div>

      </div>
    </div>

  </div>
</div>




