<div class="container-flud login-screen ">

  <div class="login-form-container">
    <h3 class="center-block sys-title">用户登录</h3>
    <form novalidate class="form-horizontal login-form" role="form">
      <div class="form-group" style="padding-bottom: 10px;">
        <div class="col-xs-12">
          <input required [(ngModel)]="user.username" name="userName" type="text" class="form-control" #userName="ngModel" placeholder="用户名">
          <div *ngIf="userName.invalid && (userName.dirty || userName.touched) && userName.errors.required" class="text-danger">用户名不能为空</div>
        </div>
      </div>
      <div class="form-group" style="padding-bottom: 10px;">
        <div class="col-xs-12">
          <input required  name="password"  type="password" class="form-control"
                 [(ngModel)]="user.password" #password="ngModel"
                 placeholder="密码">
          <div *ngIf="password.invalid && (password.dirty || password.touched)&& password.errors.required" class="text-danger">请输入密码</div>
        </div>
      </div>
      <div class="form-group">
        <div class="">
          <button type="submit" class="btn btn-info btn-block" (click)="login()">登录</button>
        </div>
      </div>

      <div class="form-group row">

        <span>
          {{errMes}}
        </span>

        <!--<div class="col-4">
          <a href="javascript:void(0);" (click)="forgetPwd()" class="btn-link btn-block">忘记密码</a>
        </div>
        <div class="col-4">
          <a href="https://gitee.com/mumu-osc/OpenWMS-Frontend" target="_blank">
            <i class="fa fa-github fa-2" aria-hidden="true"></i> 11
          </a>
        </div>
        <div class="col-4">
          <a href="" target="_blank">22</a>
        </div>-->

      </div>
    </form>
  </div>
</div>




