
.login-screen {
  position: absolute;
  height: 100%;
  width: 100%;
  /*background-color: #29434e;*/
  background-image: url("../../assets/images/bg0.jpg");
  overflow: hidden;
}
.login-form-container {
  position: absolute;
  width: 400px;
  height: 420px;
  left: 50%;
  top: 50%;
  /*margin-left: -200px;*/
  margin-top: -225px;
  padding: 30px 60px;
  background: rgba(41,67,78,0.8);

  color: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);}
.sys-title {
  text-align: center;
  font-size: 38px;
  line-height: 100px;
  margin: 0px;
  /*font-weight: bold;*/
}
.login-form{
  margin-top: 20px;
}
a{
  text-align: center;
  color: #fff;
}





.login_content{
  position: absolute;
  height: 100%;
  width: 100%;
}
.login_header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding:10px 20px;
}
.logo{
  font-size: 24px;
  font-weight: bold;
}
.banner{
  width: 100%;
  height: 560px;
}

[nz-carousel-content] {
  text-align: center;
  height: 560px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

h3 {
  color: #fff;
}






