
.login{
  color:#333333;
}
.login_head img{
  width: 100%;
}

.login_con{
  padding-top: 30px;
}



/*切换按钮*/
.login_tab .btn-group{
  display: flex;
  justify-content: center;
}

/*按钮*/
.btn_tab{
  width:106px;
  height:38px;
  border-radius:3px;
  border:1px solid rgba(0,0,0,0.2);
  background-color: #ffffff;
  cursor: pointer;
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  letter-spacing:2px;
}
.btn_tab.active{
  background: #666EE8;
  border: 1px solid #666EE8;
  color: #ffffff;
}

/*表单*/
.login_form{
  padding-top: 20px;
}
.login_box{
  width: 482px;
  margin: auto;
}

.footer{
  /*position: fixed;
  bottom: 0;
  left: 0;
  right: 0;*/
  margin-top: 80px;
  width: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  color: #666;
  font-size: 12px;
}








