<div class="modal-header">
  <h3 class="modal-title">
    新增终端
  </h3>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body" >
  <div class="row">
    <!--<div class="form-group col-md-6">
      <div class="input-group">
        <span class="input-group-prepend">
          <span class="input-group-text">
            终端名称
          </span>
        </span>
        <input type="text" [(ngModel)]="data.name"
               class="form-control" maxlength="16"
               placeholder="输入终端名称" required>
      </div>
    </div>-->
    <div class="form-group col-md-6">
      <div class="input-group">
        <span class="input-group-prepend">
          <span class="input-group-text">
            终端编码
          </span>
        </span>
        <input type="text" [(ngModel)]="data.code" maxlength="6"
               class="form-control"
               placeholder="输入六位终端编码" required>
      </div>
    </div>

    <div class="form-group col-md-6">
      <div class="input-group">
        <span class="input-group-prepend">
          <span class="input-group-text">
            所属企业
          </span>
        </span>
        <!--<select [(ngModel)]="data.org"
                class="form-control">
          <option *ngFor="let temp of orgLists" [value]="temp.Uid" >{{temp.Name}}</option>
        </select>-->
        <!--<nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" [(ngModel)]="data.org" style="width: 291px;">
          <nz-option *ngFor="let option of orgLists" [nzLabel]="option.Name" [nzValue]="option.Uid"></nz-option>
        </nz-select>-->
        <input type="text" [(ngModel)]="data.org"
               class="form-control"
               placeholder="请输入企业名称" required>
      </div>
    </div>

  </div>


 <!-- <div class="row">

    <div class="form-group col-md-6">
      <div class="input-group">
        <span class="input-group-prepend">
          <span class="input-group-text">
            物联网卡号
          </span>
        </span>
        <input type="text" [(ngModel)]="data.simNum"
               class="form-control"
               placeholder="请输入十一位卡号" required>

      </div>
    </div>
  </div>-->






</div>

<div class="modal-footer">
  <button type="button" class="btn btn-info" [disabled]="!data.code || !data.org" (click)="save()">
    <span class="">保存</span>
  </button>
  <button class="btn btn-default" type="button" (click)="activeModal.dismiss('close')">取消</button>
</div>


