
<div class="question">
  <div class="q_l">
    <ul>
      <li *ngFor="let data of questionList; let i = index;" class="q_list">
        <a (click)="question(data)">
          <div class="flex justify-content-between">
            <p>{{(page-1)*10 + i + 1}}.  {{data.Name}}</p>
            <i class="fa fa-caret-right" [class.text_blue]="data.Uid === currentData"></i>
          </div>
        </a>
      </li>
    </ul>


    <div>
      <!--<ngb-pagination class="pull-right"
                      [collectionSize]="totalItems"
                      [pageSize]="pageSize" [(page)]="page"
                      [maxSize]="3" [rotate]="true" [boundaryLinks]="false"
                      (pageChange)="pageChange()">

      </ngb-pagination>-->
      <nz-pagination [(nzPageIndex)]="page" [nzTotal]="totalItems" nzSimple (nzPageIndexChange)="pageChange()" class="pull-right"></nz-pagination>


      <!--<div class="pull-right mr-3" style="line-height: 33px;"> 共 {{totalItems}} 项</div>-->
    </div>
  </div>

  <div class="q_r">
    <div class="q_r_1">
      <p>智能顾问为您推荐解决率最高的热门知识点，可能有您需要的答案：</p>
      <div class="q_r_11">
        <app-ser-dashboard3 [currentData]="currentData"></app-ser-dashboard3>
      </div>
    </div>


    <div class="q_r_2">
      <p>您还可以通过以下渠道提交您的问题：</p>
      <div class="q_r_22">
        <div class="qr_23">
          <b class="text-muted">
            智能顾问
          </b>
          <p class="text-muted" style="font-size: 12px;">
            智能诊断，<span class="" style="color: #00a4ff; font-size: 12px;">即时应答</span>的云服务专家库顾问
          </p>
        </div>

        <div class="qr_23">
          <b class="text-muted">
            在线客服
          </b>
          <p class="text-muted" style="font-size: 12px;">
            实时在线人工服务，快速解决您的问题
          </p>
        </div>

        <div class="qr_23" (click)="add()" style="cursor: pointer;">
          <b>
            创建表单
          </b>
          <p class="text-muted" style="font-size: 12px;">
            专业的设备运维工程师，为你尽快解答
          </p>
        </div>


      </div>
    </div>

  </div>

</div>


