
.site{
  display: flex;
  flex-direction: column;
}

main{
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.display{
  flex: 9;
  padding: 10px;
}

.sidenav-container {
  height: 100%;
  width: 100%;
  flex: 2;
}

.sidenav {
  width: 260px;
  background-color: #2b303b;
  overflow-x: hidden;
  color: #fff;
}

.sideBtn{
  position:absolute;
  top:48%;
  right:0;
  padding: 20px 3px;
  background-color: red;
  color:#fff;
  cursor: pointer;
}

