<div class="site">
  <header>
    <app-header [user]="user" (toggle)="sidenav.toggle()"></app-header>
  </header>

  <main>
    <mat-sidenav-container class="sidenav-container">
      <!--<mat-sidenav class="sidenav bg_light_default"  mode="side" #sidenav>
        <app-sidebar [user]="user"></app-sidebar>
      </mat-sidenav>-->

      <mat-sidenav-content>
        <div class="content">
          <div class="mat-card-title">
            <h5 class="text_info">
              {{name}} <span style="font-weight: normal;">[ {{num}} ]</span>
            </h5>
          </div>

          <video id="myPlayer" poster="" controls playsInline webkit-playsinline style="width: 100%;">
            <source [src]="url" type="application/x-mpegURL" />
          </video>

          <div (click)="sidenav.toggle()" class="sideBtn">
            <i class="fa fa-angle-right" *ngIf="sideshow"></i>
            <i class="fa fa-angle-left" *ngIf="!sideshow"></i>
          </div>

        </div>
      </mat-sidenav-content>



      <mat-sidenav class="sidenav" mode="side" position="end" #sidenav
                   (opened)="sideshow = true" (closed)="sideshow = false">
        <div class="v_side">
          <h6 style="font-size: 16px; padding: 10px 0;">云台控制</h6>
          <div *ngIf="!isControl">
            当前设备没有控制功能
          </div>

          <div *ngIf="isControl">
            <div class="v_con">
              <div class="v_cr">
                <div class="v_item" (mousedown)="startCtrl(4)" (mouseup)="endCtrl(4)">
                  <img src="assets/images/video/5.png" alt="" title="左上">
                </div>
                <div class="v_item" (mousedown)="startCtrl(0)" (mouseup)="endCtrl(0)">
                  <img src="assets/images/video/12.png" alt="" title="上">
                </div>
                <div class="v_item" (mousedown)="startCtrl(6)" (mouseup)="endCtrl(6)">
                  <img src="assets/images/video/11.png" alt="" title="右上">
                </div>
              </div>
              <div class="v_cr">
                <div class="v_item" (mousedown)="startCtrl(2)" (mouseup)="endCtrl(2)">
                  <img src="assets/images/video/6.png" alt="" title="左">
                </div>
                <div class="v_item">

                </div>
                <div class="v_item" (mousedown)="startCtrl(3)" (mouseup)="endCtrl(3)">
                  <img src="assets/images/video/10.png" alt="" title="右">
                </div>
              </div>
              <div class="v_cr">
                <div class="v_item" (mousedown)="startCtrl(5)" (mouseup)="endCtrl(5)">
                  <img src="assets/images/video/7.png" alt="" title="左下">
                </div>
                <div class="v_item" (mousedown)="startCtrl(1)" (mouseup)="endCtrl(1)">
                  <img src="assets/images/video/8.png" alt="" title="下">
                </div>
                <div class="v_item" (mousedown)="startCtrl(7)" (mouseup)="endCtrl(7)">
                  <img src="assets/images/video/9.png" alt="" title="右下">
                </div>
              </div>
            </div>

            <div class="v_con" style="padding-top:10px;">
              <div class="v_cr">
                <div class="v_item" (mousedown)="startCtrl(8)" (mouseup)="endCtrl(8)">
                  <img src="assets/images/video/1.png" alt="" title="放大">
                </div>
                <div class="v_item" (mousedown)="startCtrl(9)" (mouseup)="endCtrl(9)">
                  <img src="assets/images/video/2.png" alt="" title="缩小">
                </div>
              </div>
              <div class="v_cr">
                <div class="v_item" (mousedown)="startCtrl(10)" (mouseup)="endCtrl(10)">
                  <img src="assets/images/video/3.png" alt="" title="近焦距">
                </div>
                <div class="v_item" (mousedown)="startCtrl(11)" (mouseup)="endCtrl(11)">
                  <img src="assets/images/video/4.png" alt="" title="远焦距">
                </div>
              </div>
            </div>
          </div>


        </div>
      </mat-sidenav>

    </mat-sidenav-container>

  </main>

</div>


