
<div class="content charge">
  <div class="charge_info_head">
    <div class="c_head_l">
      <h5>开具发票</h5>
    </div>
    <div class="c_head_r" style="color: #414B92; font-size: 12px; text-decoration: underline;">
      开票总金额：
      {{amount | currency: '￥'}}
    </div>
  </div>

  <div class="c_info">
    <h6>选择地址：</h6>

    <!--添加地址-->
    <div *ngIf="!addressList || addressList.length === 0;">
      <div class="add_btn" (click)="selectNewAddr()" [class.active]="newAddr">
        添加地址
      </div>

      <!--<div *ngIf="showAddAddr" class="m_form">
        <div class="m_item">
          <div class="m_label">
            <span>*</span>姓名：
          </div>
          <div class="m_input_l">
            <input type="text" class="form-control" [(ngModel)]="newAddress.name" placeholder="请输入姓名" #macAddr="ngModel"
                   required>
            <div class="sign_tip">
              &lt;!&ndash;<span class="text_danger" *ngIf="macAddr.invalid && (macAddr.dirty || macAddr.touched)">
                MAC地址错误，例:FA:58:D6:E4:0F:36
              </span>&ndash;&gt;
            </div>
          </div>
        </div>

        <div class="m_item">
          <div class="m_label">
            <span>*</span>地址：
          </div>
          <div class="m_input_l">
            <div>
              <nz-select style="width: 138px;" [(ngModel)]="selectedProvince" (ngModelChange)="provinceChange($event)">
                <nz-option *ngFor="let p of addrList" [nzValue]="p" [nzLabel]="p.Name"></nz-option>
              </nz-select>
              <span style="padding: 0 8px;">
          省
        </span>
              <nz-select style="width: 138px;" [(ngModel)]="selectedCity" (ngModelChange)="cityChange($event)" [nzDisabled]="!selectedProvince || selectedProvince.LocationId===0 ">
                <nz-option *ngFor="let c of cities" [nzValue]="c" [nzLabel]="c.Name"></nz-option>
              </nz-select>
              <span style="padding: 0 8px;">
          市
        </span>
              <nz-select style="width: 138px;" [(ngModel)]="selectedRegion" (ngModelChange)="regionChange($event)" [nzDisabled]="!selectedCity">
                <nz-option *ngFor="let r of regions" [nzValue]="r" [nzLabel]="r.Name"></nz-option>
              </nz-select>
              <span style="padding-left: 8px;">
          区/县
        </span>
            </div>

          </div>
        </div>

        <div class="m_item">
          <div class="m_label">
            <span>*</span>详细地址：
          </div>
          <div class="m_input" style="width: 358px;">
            <input type="text" class="form-control" [(ngModel)]="newAddress.address">
          </div>
        </div>

        <div class="m_item">
          <div class="m_label">
            <span>*</span>联系方式：
          </div>
          <div class="m_input_l">
            <input type="text" class="form-control" [(ngModel)]="newAddress.contact">
          </div>
        </div>


        <div class="m_bottom">

          <div class="checkbox c-checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="checkAddr" name="checkR">
              <span class="fa fa-check"></span>
              将该地址保存到我的地址簿。
            </label>
          </div>

        </div>
      </div>-->
    </div>

    <!--地址列表-->
    <div *ngIf="addressList && addressList.length > 0" style="padding-bottom: 17px;">
      <!--默认地址-->
      <div class="def_con">
        <div class="addr_item" [class.active]="selectedAddr && selectedAddr.uid === defaultAddress.uid" (click)="selectAddr(defaultAddress)">
          <div class="addr_l">
            <div class="addr_name">
              <b>{{defaultAddress?.name}}</b>
              <span>
                {{defaultAddress?.telephone}}
              </span>
            </div>
            <div class="addr_addr">
              {{defaultAddress?.location_name}}
            </div>
          </div>
          <div class="addr_r">
            默认地址
          </div>

        </div>

        <div class="def_btn">
          <a (click)="editAddr(defaultAddress)">修改地址</a>
          <a (click)="showAll = !showAll" class="ml-3">所有地址</a>
        </div>
      </div>

      <!--其他地址-->
      <div *ngIf="showAll" class="other_con">
        <div *ngFor="let data of otherAddress" class="addr_ot_con" (click)="selectAddr(data)">
          <div class="addr_item" [class.active]="selectedAddr && selectedAddr.uid === data.uid">
            <div class="addr_l">
              <div class="addr_name">
                <b>{{data.name}}</b>
                <span>
                {{data.telephone}}
              </span>
              </div>
              <div class="addr_addr">
                {{data.location_name}}
              </div>
            </div>
            <div class="addr_r" (click)="setDefaultAddr(data)">
              设为默认
            </div>
          </div>
          <div class="ot_edit" *ngIf="selectedAddr.uid === data.uid">
            <img src="assets/images/charge/invoice_edit.png" alt="" (click)="editAddr(data)">
            <img src="assets/images/charge/invoice_del.png" alt="" (click)="deleteAddr(data)">
          </div>
        </div>
      </div>


      <div>
        <div class="add_btn" (click)="selectNewAddr()" [class.active]="newAddr">
          使用新地址
        </div>

      </div>

    </div>

    <div *ngIf="newAddr" class="m_form">
      <div class="m_item">
        <div class="m_label">
          <span>*</span>姓名：
        </div>
        <div class="m_input_l">
          <input type="text" class="form-control" [(ngModel)]="newAddress.name" placeholder="请输入姓名" #macAddr="ngModel"
                 required>
          <div class="sign_tip">
            <!--<span class="text_danger" *ngIf="macAddr.invalid && (macAddr.dirty || macAddr.touched)">
              MAC地址错误，例:FA:58:D6:E4:0F:36
            </span>-->
          </div>
        </div>
      </div>

      <div class="m_item">
        <div class="m_label">
          <span>*</span>地址：
        </div>
        <div class="m_input_l">
          <div>
            <nz-select style="width: 138px;" [(ngModel)]="selectedProvince" (ngModelChange)="provinceChange($event)">
              <nz-option *ngFor="let p of addrList" [nzValue]="p" [nzLabel]="p.Name"></nz-option>
            </nz-select>
            <span style="padding: 0 8px;">
          省
        </span>
            <nz-select style="width: 138px;" [(ngModel)]="selectedCity" (ngModelChange)="cityChange($event)" [nzDisabled]="!selectedProvince || selectedProvince.LocationId===0 ">
              <nz-option *ngFor="let c of cities" [nzValue]="c" [nzLabel]="c.Name"></nz-option>
            </nz-select>
            <span style="padding: 0 8px;">
          市
        </span>
            <nz-select style="width: 138px;" [(ngModel)]="selectedRegion" (ngModelChange)="regionChange($event)" [nzDisabled]="!selectedCity">
              <nz-option *ngFor="let r of regions" [nzValue]="r" [nzLabel]="r.Name"></nz-option>
            </nz-select>
            <span style="padding-left: 8px;">
          区/县
        </span>
          </div>

        </div>
      </div>

      <div class="m_item">
        <div class="m_label">
          <span>*</span>详细地址：
        </div>
        <div class="m_input" style="width: 358px;">
          <input type="text" class="form-control" [(ngModel)]="newAddress.address">
        </div>
      </div>

      <div class="m_item">
        <div class="m_label">
          <span>*</span>联系方式：
        </div>
        <div class="m_input_l">
          <input type="text" class="form-control" [(ngModel)]="newAddress.telephone" #tel="ngModel"
                 pattern="^(13|14|15|17|18|19)\d{9}$">
          <div class="sign_tip">
            <span class="text_danger" *ngIf="tel.invalid && (tel.dirty || tel.touched)">
              请填写11位手机号
            </span>
          </div>
        </div>
      </div>


      <div class="m_bottom">

        <div class="checkbox c-checkbox">
          <label>
            <input type="checkbox" [(ngModel)]="checkAddr" name="checkR">
            <span class="fa fa-check"></span>
            将该地址保存到我的地址簿。
          </label>
        </div>

      </div>
    </div>


    <h6>发票信息：</h6>

    <div class="flex">
      <div style="width: 550px;">
        <!--添加信息-->
        <div *ngIf="!infoList || infoList.length === 0;">
          <div class="add_btn" (click)="selectNewInfo()" [class.active]="showNewInfo">
            增值税专用发票
          </div>
        </div>

        <!--信息列表-->
        <div *ngIf="infoList && infoList.length > 0">
          <!--默认信息-->
          <div class="def_con">
            <div class="addr_item"  [class.active]="selectedInfo.id === defaultInfo.id" (click)="selectInfo(defaultInfo)">
              <div class="info_item_l">
                {{defaultInfo.company}}
              </div>
              <div class="addr_r">
                默认信息
              </div>

            </div>

            <div class="def_btn">
              <a (click)="showDefInfo = !showDefInfo; selectInfo(defaultInfo);">修改信息</a>
              <a (click)="showAllInfo = !showAllInfo" class="ml-3">所有信息</a>
            </div>

            <div *ngIf="showDefInfo">
              <mat-form-field class="invoice_input">
                <input matInput placeholder="公司注册名称" [(ngModel)]="selectedInfo.name">
              </mat-form-field>

              <mat-form-field class="invoice_input">
                <input matInput placeholder="纳税人识别号" [(ngModel)]="selectedInfo.taxpayer">
              </mat-form-field>

              <mat-form-field class="invoice_input">
                <input matInput placeholder="开户银行名称" [(ngModel)]="selectedInfo.bank">
              </mat-form-field>

              <mat-form-field class="invoice_input">
                <input matInput placeholder="基本开户账号" [(ngModel)]="selectedInfo.account">
              </mat-form-field>

              <mat-form-field class="invoice_input">
                <input matInput placeholder="注册场地" [(ngModel)]="selectedInfo.address">
              </mat-form-field>

              <mat-form-field class="invoice_input">
                <input matInput placeholder="注册固定电话" [(ngModel)]="selectedInfo.phone">
              </mat-form-field>
            </div>
          </div>



          <!--其他信息-->
          <div *ngIf="showAllInfo" class="other_con">
            <div *ngFor="let data of otherInfo" >
              <div class="addr_ot_con">
                <div class="addr_item" [class.active]="selectedInfo.id === data.id" (click)="selectInfo(data)">
                  <div class="info_item_l">
                    {{data.company}}
                  </div>
                  <div class="addr_r" (click)="setDefaultInfo(data)">
                    设为默认
                  </div>
                </div>
                <div class="ot_edit" *ngIf="selectedInfo.id === data.id">
                  <img src="assets/images/charge/invoice_edit.png" alt="" (click)="data.showInfo = !data.showInfo">
                  <img src="assets/images/charge/invoice_del.png" alt="" (click)="deleteInfo(data)">
                </div>
              </div>

              <div *ngIf="selectedInfo.id === data.id" style="margin-bottom: 10px;">
                <div *ngIf="data.showInfo">
                  <mat-form-field class="invoice_input">
                    <input matInput placeholder="公司注册名称" [(ngModel)]="selectedInfo.name">
                  </mat-form-field>

                  <mat-form-field class="invoice_input">
                    <input matInput placeholder="纳税人识别号" [(ngModel)]="selectedInfo.taxpayer">
                  </mat-form-field>

                  <mat-form-field class="invoice_input">
                    <input matInput placeholder="开户银行名称" [(ngModel)]="selectedInfo.address">
                  </mat-form-field>

                  <mat-form-field class="invoice_input">
                    <input matInput placeholder="基本开户账号" [(ngModel)]="selectedInfo.account">
                  </mat-form-field>

                  <mat-form-field class="invoice_input">
                    <input matInput placeholder="注册场地" [(ngModel)]="selectedInfo.address">
                  </mat-form-field>

                  <mat-form-field class="invoice_input">
                    <input matInput placeholder="注册固定电话" [(ngModel)]="selectedInfo.phone">
                  </mat-form-field>

                </div>
              </div>

            </div>
          </div>


          <div class="add_btn" (click)="selectNewInfo()" [class.active]="showNewInfo">
            新增增值税专用发票
          </div>

          <!--<div *ngIf="showNewInfo">
            <mat-form-field class="invoice_input">
              <input matInput placeholder="公司注册名称" [(ngModel)]="newInfo.name">
            </mat-form-field>

            <mat-form-field class="invoice_input">
              <input matInput placeholder="纳税人识编号" [(ngModel)]="newInfo.id">
            </mat-form-field>

            <mat-form-field class="invoice_input">
              <input matInput placeholder="开户银行名称" [(ngModel)]="newInfo.bank">
            </mat-form-field>

            <mat-form-field class="invoice_input">
              <input matInput placeholder="基本开户账号" [(ngModel)]="newInfo.account">
            </mat-form-field>

            <mat-form-field class="invoice_input">
              <input matInput placeholder="注册场地" [(ngModel)]="newInfo.address">
            </mat-form-field>

            <mat-form-field class="invoice_input">
              <input matInput placeholder="注册固定电话" [(ngModel)]="newInfo.phone">
            </mat-form-field>

            <div class="m_bottom">
              <div class="checkbox c-checkbox">
                <label>
                  <input type="checkbox" [(ngModel)]="checkInfo">
                  <span class="fa fa-check"></span>
                  将该信息保存到常用信息
                </label>
              </div>
            </div>
          </div>-->



          <!--<mat-form-field class="invoice_input">
            <input matInput placeholder="Favorite food">
          </mat-form-field>-->
        </div>



        <div *ngIf="showNewInfo">
          <mat-form-field class="invoice_input">
            <input matInput placeholder="公司注册名称" [(ngModel)]="newInfo.name">
          </mat-form-field>

          <mat-form-field class="invoice_input">
            <input matInput placeholder="纳税人识编号" [(ngModel)]="newInfo.taxpayer">
          </mat-form-field>

          <mat-form-field class="invoice_input">
            <input matInput placeholder="开户银行名称" [(ngModel)]="newInfo.bank">
          </mat-form-field>

          <mat-form-field class="invoice_input">
            <input matInput placeholder="基本开户账号" [(ngModel)]="newInfo.account">
          </mat-form-field>

          <mat-form-field class="invoice_input">
            <input matInput placeholder="注册场地" [(ngModel)]="newInfo.address">
          </mat-form-field>

          <mat-form-field class="invoice_input">
            <input matInput placeholder="注册固定电话" [(ngModel)]="newInfo.phone">
          </mat-form-field>

          <div class="m_bottom">
            <div class="checkbox c-checkbox">
              <label>
                <input type="checkbox" [(ngModel)]="checkInfo">
                <span class="fa fa-check"></span>
                将该信息保存到常用信息
              </label>
            </div>
          </div>
        </div>
      </div>


      <div style="font-size: 12px; color: #000000; width: 386px;">
        注意事项：<br>
        电子发票与纸质发票具有同等法律效力，可支持报销入账；同时根据增值税管理办法要求，如需为企业开具增值税发票，需提供纳税人识别号或统一社会信用代码，否则该发票无法作为税收凭证。
      </div>
    </div>




    <!--提交按钮-->
    <div style="padding-top: 29px;">
      <button class="btn btn_i btn_default" style="margin-right: 58px;" (click)="closeW()">返回</button>
      <button class="btn btn_i btn_purple" (click)="save()">提交</button>
    </div>


  </div>
</div>








