
mat-toolbar{
  /*background-color: #3C8DBC;*/
  background-color: #607D8B;
  color: #fff;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.ant-avatar, .ant-avatar>* {
  line-height: 26px;
}

