
mat-toolbar{
  /*background-color: #3C8DBC;*/
  /*background-color: #607D8B;*/
  /*background-color: #51859d;*/
  background-color:#096e7a;
  /*background-image: url("../../../assets/images/header.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;*/
  color: #fff;
  border-bottom: 1px solid #ffffff;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.ant-avatar, .ant-avatar>* {
  line-height: 26px;
}


/*告警*/
.alarm_tip_box{
  position: relative;
  padding: 10px 0;
}
.alarm_tip_btn{
  cursor: pointer;
}
.alarm_tip{
  position: absolute;
  top:99%;
  right: -10px;
  z-index: 19;
  /*width: 100px;*/
  background-color: #ffffff;
  padding: 20px 10px;
  box-shadow: 1px 1px 3px #888888;
  display: none;
}
.alarm_tip_box:hover .alarm_tip{
  display: block;
}
.tip_item{
  margin-bottom: 10px;
  padding: 5px;
  color: #333333;
  text-decoration: none;
  font-size: 14px;
}
.alarm_tip a{
  text-decoration: none;
}

.we_box{
  position: relative;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.we_box .we_show{
  position: absolute;
  top:90%;
  right: 0;
  z-index: 99;
  border: 1px solid #e5e5e5;
  display: none;
}
.we_box:hover .we_show{
  display: block;
}

