<mat-toolbar >

  <mat-toolbar-row>

    <!--企业标识-->
    <a class="navbar-brand" routerLink="/admin"
       *ngIf="user && !checkAuth('1001')">
      <img src="assets/images/global/head_logo.png"  height="38" style="margin-top: 9px;" alt="">
      <!--<h2 style="color: #ffffff;"> LUKEEP</h2>-->
    </a>

    <!--显示企业标识-->
    <a class="navbar-brand" routerLink="/admin" *ngIf="user && checkAuth('1001')">
      <h3 *ngIf="!user.brand_image" style="color: #ffffff; line-height: 63px;">
        {{user.brand_name}}
      </h3>
      <span *ngIf="user.brand_image">
        <img src="{{user.brand_image}}" alt="" height="30">
      </span>
    </a>

    <!--<a class="navbar-brand" routerLink="/admin"
       *ngIf="user && user.RoleId===11 && (user.Organization.SuperOrganization && user.Organization.SuperOrganization.ShowBrand)">
      <h3 *ngIf="!user.Organization.SuperOrganization.BrandImageUrl" style="color: #ffffff;">
        {{user.Organization.SuperOrganization.BrandName}}
      </h3>
      <span *ngIf="user.Organization.SuperOrganization.BrandImageUrl" >
        <img src="{{user.Organization.SuperOrganization.BrandImageUrl}}" alt="" height="30" style="max-width: 180px;">
      </span>
    </a>-->



    <!--侧边栏按钮-->
    <button mat-icon-button (click)="onClick()" style=" height: 64px;" *ngIf="btnShow" title="显示/隐藏侧边栏">
      <img src="assets/icons/icon_open.png" alt="">
    </button>

    <!--二维码-->
    <div class="we_box">
      <span>
        <img src="assets/icons/icon_QR.png"  alt="">
      </span>
      <div class="we_show">
        <img src="assets/images/wechat.jpg" alt="">
      </div>
    </div>

    <a style="display:block; width: 40px; height: 64px; line-height: 64px;" title="云组态监控台"
         *ngIf="roleId === '10' || roleId === '11'">
      <img src="assets/icons/cloud.png" alt="">
    </a>

    <!-- This fills the remaining space of the current row -->
    <span class="example-spacer"></span>
    <!--<nz-breadcrumb [nzAutoGenerate]="true"></nz-breadcrumb>-->

    <!--告警-->
    <!--<mat-icon> email </mat-icon>-->
    <div ngbDropdown class="alarm_tip_box" placement="bottom">
      <div class="alarm_tip_btn" style="position: relative;" id="dropdownBasic2" ngbDropdownToggle>
        <img src="assets/icons/remind0.png" alt="">
        <span class="badge badge-pill badge-danger" *ngIf="totalNum && totalNum !== 0"
              style="position: absolute; top: 12px; right: -12px;">
        {{totalNum}}
        </span>
      </div>

      <div ngbDropdownMenu aria-labelledby="dropdownBasic2" class="animated fadeInDown dropdown_content">
        <a class="dropdown-item" [routerLink]="['/admin/ordinary/home/remind']">
          <div class="tip_item">
            重要提醒 &nbsp;
            {{remindNum}} 条
          </div>
        </a>

        <a class="dropdown-item" [routerLink]="['/admin/ordinary/home/notice']">
          <div class="tip_item">
            通知消息 &nbsp;
            {{noticeNum}} 条
          </div>
        </a>
        <!--<a class="dropdown-item" [routerLink]="['/admin']">
          <div class="tip_item">
            提醒信息 &nbsp;
            {{noticeNum}} 条
          </div>
        </a>-->
      </div>

    </div>


    <!--费用-->
    <div ngbDropdown class="alarm_tip_box" placement="bottom" *ngIf="roleId === '10'">
      <div class="alarm_tip_btn" style="position: relative; margin-left: 20px;" id="dropdownBasic3" ngbDropdownToggle>
        <img src="assets/icons/charge.png" alt="">
      </div>

      <div ngbDropdownMenu aria-labelledby="dropdownBasic3" class="animated fadeInDown dropdown_content">
        <a class="dropdown-item" routerLink="/charge/overview" target="_blank">
          <div class="tip_item">
            账户总览
          </div>
        </a>

        <a class="dropdown-item" routerLink="/charge/bill" target="_blank">
          <div class="tip_item">
            费用帐单
          </div>
        </a>
        <a class="dropdown-item" routerLink="/charge/order" target="_blank">
          <div class="tip_item">
            我的订单
          </div>
        </a>
        <a class="dropdown-item" routerLink="/charge/renewal" target="_blank">
          <div class="tip_item">
            续费管理
          </div>
        </a>
        <a class="dropdown-item" routerLink="/charge/invoice" target="_blank">
          <div class="tip_item">
            发票管理
          </div>
        </a>
      </div>

    </div>


    <div style="width:1px; height:38px; background-color: #2D2E4F; margin-left: 20px; margin-right: 20px;"></div>

    <!--<i class="fa fa-envelope-o"></i>-->

    <!--用户-->
    <div ngbDropdown placement="bottom">
      <div id="dropdownBasic1" ngbDropdownToggle style="" class="head_user">
        <div *ngIf="!matches">
          <div style="line-height: 20px; font-size: 12px;">
            {{user?.username}} ( {{ user?.org_name}} )
          </div>
          <span *ngIf="user && user.role_id === 1">
              系统用户
          </span>
          <span *ngIf="user && user.role_id === 10">
              正式用户
          </span>
          <span *ngIf="user && user.role_id === 11">
              普通用户
          </span>
          <span *ngIf="user && user.role_id === 15">
              维保用户
          </span>
          <span *ngIf="user && user.role_id === 20">
              测试用户
          </span>
        </div>
        <!--<img [src]="user?.Picture" alt="" style="width: 25px; height: 25px; border-radius: 25px;">-->
        <nz-avatar nzIcon="anticon anticon-user" nzSrc="{{picture}}" class="ml-3">

        </nz-avatar>
      </div>

      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="animated fadeInDown dropdown_content">
        <a class="dropdown-item" (click)="viewAccount()">用户信息</a>
        <a class="dropdown-item" (click)="logout()">退出</a>
      </div>
    </div>

    <!--<button mat-button [matMenuTriggerFor]="menu">用户名</button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item >用户信息</button>
      <button mat-menu-item>设置</button>
      <button mat-menu-item>退出</button>
    </mat-menu>-->


  </mat-toolbar-row>

</mat-toolbar>

