<mat-toolbar >

  <mat-toolbar-row>

    <!--企业标识-->
    <a class="navbar-brand" routerLink="/admin"
       *ngIf="user && !user.show_brand">
      <!--<img src="assets/images/light.png"  height="30" alt="">-->
      <h2 style="color: #ffffff;"> LUKEEP</h2>
    </a>

    <!--显示企业标识-->
    <a class="navbar-brand" routerLink="/admin" *ngIf="user && user.show_brand">
      <h3 *ngIf="!user.brand_image" style="color: #ffffff;">
        {{user.brand_name}}
      </h3>
      <span *ngIf="user.brand_image" >
        <img src="{{user.brand_image}}" alt="" height="30">
      </span>
    </a>

    <!--<a class="navbar-brand" routerLink="/admin"
       *ngIf="user && user.RoleId===11 && (user.Organization.SuperOrganization && user.Organization.SuperOrganization.ShowBrand)">
      <h3 *ngIf="!user.Organization.SuperOrganization.BrandImageUrl" style="color: #ffffff;">
        {{user.Organization.SuperOrganization.BrandName}}
      </h3>
      <span *ngIf="user.Organization.SuperOrganization.BrandImageUrl" >
        <img src="{{user.Organization.SuperOrganization.BrandImageUrl}}" alt="" height="30" style="max-width: 180px;">
      </span>
    </a>-->



    <!--侧边栏按钮-->
    <button mat-icon-button (click)="onClick()" style=" height: 64px; margin-left: 8px;">
      <!--<mat-icon>menu</mat-icon>-->
      <!--<img src="assets/icons/show_side.png" height="20" alt="">-->
      <img src="assets/icons/menu_unfold.svg" height="18" alt="">
    </button>

    <div class="we_box">
      <span>
        <img src="assets/images/wechat.png" style="width: 18px; height: 18px;" alt="">
      </span>
      <div class="we_show">
        <img src="assets/images/wechat.jpg" alt="">
      </div>
    </div>

    <!-- This fills the remaining space of the current row -->
    <span class="example-spacer"></span>


    <!--<mat-icon> email </mat-icon>-->
    <div class="alarm_tip_box">
      <div class="alarm_tip_btn" style="position: relative;">
        <i class="fa fa-bell-o"></i>
        <span class="badge badge-pill badge-danger" *ngIf="totalNum && totalNum !== 0"
              style="position: absolute; top: -5px; right: -12px;">
        {{totalNum}}
        </span>
      </div>

      <div class="alarm_tip">
        <a routerLink="/admin/alarm">
          <div class="tip_item" style="background-color: #f4959c;">
            告警信息 &nbsp;
            {{alarmNum}} 条
          </div>
        </a>

        <a routerLink="/admin/malfunction">
          <div class="tip_item" style="background-color: #f6bd95;">
            故障信息 &nbsp;
            {{malNum}} 条
          </div>
        </a>
        <a routerLink="/admin/alarm">
          <div class="tip_item" style="background-color: #dcedd3;">
            提醒信息 &nbsp;
            {{noticeNum}} 条
          </div>
        </a>
      </div>

    </div>

    <!--<i class="fa fa-envelope-o"></i>-->

    <div ngbDropdown class="d-inline-block ml-3">
      <button mat-button id="dropdownBasic1" ngbDropdownToggle style="height: 64px;">
        <!--<img [src]="user?.Picture" alt="" style="width: 25px; height: 25px; border-radius: 25px;">-->
        <nz-avatar nzIcon="anticon anticon-user" nzSrc="{{user?.picture}}"></nz-avatar>
        <span *ngIf="!matches"> {{user?.username}} ( {{ user?.name}} ) </span>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="animated fadeInDown">
        <a class="dropdown-item" routerLink="/admin/profile">用户信息</a>
        <button class="dropdown-item" (click)="logout()">退出</button>
      </div>
    </div>

    <!--<button mat-button [matMenuTriggerFor]="menu">用户名</button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item >用户信息</button>
      <button mat-menu-item>设置</button>
      <button mat-menu-item>退出</button>
    </mat-menu>-->


  </mat-toolbar-row>

</mat-toolbar>

