<mat-toolbar >

  <mat-toolbar-row>
    <button mat-icon-button (click)="onClick()" style="min-width: 88px;">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="navbar-brand" href="">
      <img src="assets/images/light.png"  height="30" alt="">
      <!--炉管家-->
    </a>

    <!-- This fills the remaining space of the current row -->
    <span class="example-spacer"></span>

    <mat-icon> email </mat-icon>
    <!--<i class="fa fa-envelope-o"></i>-->

    <div ngbDropdown class="d-inline-block">
      <button mat-button id="dropdownBasic1" ngbDropdownToggle> {{user.Name}} ( {{ user.Role.Name}} ) </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="animated fadeInDown">
        <a class="dropdown-item" routerLink="/admin/profile">用户信息</a>
        <!--<button class="dropdown-item">设置</button>-->
        <button class="dropdown-item" (click)="logout()">退出</button>
      </div>
    </div>

    <!--<button mat-button [matMenuTriggerFor]="menu">用户名</button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item >用户信息</button>
      <button mat-menu-item>设置</button>
      <button mat-menu-item>退出</button>
    </mat-menu>-->


  </mat-toolbar-row>

</mat-toolbar>

