
<div class="mt-lg-3">

  <div class="form-group">
    <label class="control-label">登录账户</label>
    <input type="text" placeholder="" [(ngModel)]="profile.Username" class="form-control" disabled />
  </div>
  <div class="form-group">
    <label class="control-label">用户名称</label>
    <input type="text" placeholder="Full Name" [(ngModel)]="profile.Name" class="form-control" />
  </div>

  <div class="form-group">
    <label class="control-label">手机号</label>
    <input type="text" placeholder="+86 130 0000 0000" [(ngModel)]="profile.MobileNumber" class="form-control" />
  </div>
  <div class="form-group">
    <label class="control-label">邮箱地址</label>
    <input type="email" placeholder="act@temp.com" [(ngModel)]="profile.Email" class="form-control" />
  </div>
  <div class="margiv-top-10 " style="overflow: hidden">
    <a href (click)="updateUser()" class="btn btn-info pull-right"> 保存更新 </a>
  </div>

</div>
