div.input-group.form-group,
div.btn-group.form-group {
  padding-left: 15px;
  padding-right: 15px;
}

div.form-group.form-selector .control-label {
  width: 26%;
  margin-top: 6px;
  text-align: center;
}

div.form-group.form-selector select {
  width: 74%;
  float: right;
}

.form-location .form-group {
  padding-left: 0;
  padding-right: 0;
}



/*企业标识*/
.file_box{
  position: relative;
  cursor: pointer;
}

.file_input{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 80px;
  height: 34px;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0)
}

.file_box:hover .btn-outline-info{
  background-color: #17a2b8;
  color: #ffffff;
}
