<div class="modal-header">
  <h3 class="modal-title"> 企业信息 </h3>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body" id="modal-body" *ngIf="data">
  <div class="row">
    <div class="form-group col-md-6">
      <div class="input-group">
        <span class="input-group-append">
            <span class="input-group-text">
              企业名称
            </span>

        </span>
        <input type="text" [(ngModel)]="data.name"
               [disabled]="!editing"
               class="form-control"
               placeholder="输入名称">
      </div>
    </div>
    <div class="form-group col-md-6">
      <div class="input-group">
        <span class="input-group-append">
            <span class="input-group-text">
              企业类型
            </span>
        </span>
        <select [(ngModel)]="data.typeId"
                [disabled]="!editing"
                class="form-control">
          <option *ngFor="let type of orgTypes; let i = index;" [value]="type.Id" [disabled]="i===0">
            {{type.Name}}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-location col-md-6 col-sm-6 flex flex-row" style="justify-content:space-between;">
      <div class="form-group" style="flex: 1;">
        <select [(ngModel)]="data.aProvince"
                [disabled]="currentUser.Role.Id > 10"
                (change)="changeProvince();"
                class="form-control">
          <option *ngFor="let prov of locations" [value]="prov.LocationId">{{prov.Name}}</option>
        </select>
      </div>
      <div class="form-group" style="flex: 1;">
        <select [(ngModel)]="data.aCity"
                [disabled]="currentUser.Role.RoleId > 10 || data.aProvince == 0"
                (change)="changeCities();"
                class="form-control">
          <option *ngFor="let city of cities" [value]="city.LocationId" >{{city.Name}}</option>
        </select>
      </div>
      {{data.aProvince.cities}}
      <div class="form-group" style="flex: 1;">
        <select [(ngModel)]="data.aRegion"
                [disabled]="currentUser.Role.Id > 10 || !data.aCity || data.aCity == 0"
                (change)="changeRegion();"
                class="form-control">
          <option *ngFor="let region of regions" [value]="region.LocationId" >{{region.Name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group col-md-6">
      <div class="input-group">
        <span class="input-group-append">
          <span class="input-group-text">
          企业地址
          </span>
        </span>
        <input type="text" [(ngModel)]="data.address"
               [disabled]="currentUser.Role.Id > 10"
               class="form-control"
               placeholder="输入地址详情">
      </div>
    </div>
  </div>
  <hr style="margin-top: 6px;" *ngIf="editing && currentUser.Role.Id < 10">
  <div class="row" *ngIf="editing && currentUser.Role.Id < 10">
    <div class="form-group col-6 flex">
      <label class="control-label" style="font-size: 15px; margin-right: 6px;">显示企业标识</label>
      <!--<input [(ngModel)]="data.showBrand"
             type="checkbox">-->
      <div class="checkbox c-checkbox">
        <label>
          <input type="checkbox" [(ngModel)]="data.showBrand">
          <span class="fa fa-check"></span></label>
      </div>
    </div>

    <div *ngIf="editing" class="form-group col-6 text-danger">
      {{errMes}}
    </div>

    <div *ngIf="!editing"
         class="form-group col-6"
         style="padding-top: 6px;">
      如需更改企业标识，请与平台管理员联系。
    </div>
  </div>

  <div class="row" *ngIf="editing && currentUser.Role.Id < 10 && data.showBrand">
    <div class="form-group col-6">
      <div class="input-group">
        <span class="input-group-append">
          <span class="input-group-text">
            企业标识
          </span>
        </span>
        <input type="text" [(ngModel)]="data.brandName" maxlength="10"
               [disabled]="!editing || !data.showBrand"
               class="form-control"
               placeholder="{{data.showBrand ? '输入首页显示的企业标识' : '不显示'}}">
      </div>
    </div>
    <div class="col-6 flex" >
      <div class="file_box flex" style=" width: 100%; height: 34px;">
        <button class="btn btn-outline-info">
          上传标识
        </button>
        <div class="" style="border: 1px solid #eeeeee; width: 288px; height: 34px;">
          <img src="{{brandImg}}" alt="" style="height: 32px; max-width: 288px;">
        </div>
        <input type="file" class="file_input" (change)="imgChange($event)">
        <button type="button" class="close" aria-label="Close" (click)="removeImg()" *ngIf="brandImg"
                style="position:absolute; right: 5px; top:0; z-index: 99; ">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    </div>
  </div>

  <div class="row" *ngIf="editing && currentUser.Role.Id < 10">
    <div class="form-group col-6 flex">
      <label class="control-label" style="font-size: 15px; margin-right: 6px;">是否主管单位</label>
      <!--<input [(ngModel)]="data.isSuper"
             type="checkbox">-->
      <div class="checkbox c-checkbox">
        <label>
          <input type="checkbox" [(ngModel)]="data.isSuper">
          <span class="fa fa-check"></span>
        </label>
      </div>
    </div>

    <div class="form-group col-6 flex">
      <label class="control-label" style="font-size: 15px; margin-right: 6px;">是否显示控制按钮</label>
      <div class="checkbox c-checkbox">
        <label>
          <input type="checkbox" [(ngModel)]="data.is_ept_ctl">
          <span class="fa fa-check"></span>
        </label>
      </div>
    </div>

  </div>



</div>
<div class="modal-footer">
  <!--TODO: Temp User-->  <!--[disabled]="!name||typeId===-1"-->
  <button class="btn btn_info" type="button" *ngIf="editing || currentUser.Role.Id <= 10"
          [disabled]="!data.name || !data.typeId || data.typeId==='0'"
          nz-button [nzLoading]="isLoading"
           (click)="save()"><span class="">保存</span></button>
  <button class="btn btn-default" type="button" (click)="cancel()">取消</button>
</div>
