

<div class="content">
  <div class="list_head">
    <div class="li_head_l">
      <h5 class="text_purple">
        发票管理
      </h5>
    </div>
    <div class="li_head_r">
      <!--刷新-->
      <!--<button class="btn btn_purple-o btn_round bps" (click)="searchChange()">
        <i class="iconfont iconicon_Refresh"></i>
      </button>-->

    </div>
  </div>

  <div class="charge_list">
    <div class="c_head">
      <div class="h_l flex">
        <!--<div >
          <a class="btn btn_purple bpm" (click)="addInvoice()" >
            &lt;!&ndash;[routerLink]="['/dir/charge/invoice/info', totalAmount]" target="_blank"&ndash;&gt;
            索取发票
          </a>
        </div>-->


        <!--<div class="ml-2">
          待开票金额：
          <span>{{totalAmount | currency: '￥'}}</span>
        </div>-->

        <!--<div class="search_box">
          <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate" [nzSuffix]="addOnAfterTemplate">
            <input type="text" nz-input [(ngModel)]="value" (keyup)="searchEnter($event)" maxlength="20"/>
          </nz-input-group>
          <ng-template #addOnBeforeTemplate>
            <nz-select [(ngModel)]="search">
              <nz-option [nzLabel]="'订单编号'" [nzValue]="'id'"></nz-option>
              <nz-option [nzLabel]="'订购产品'" [nzValue]="'name'"></nz-option>
              <nz-option [nzLabel]="'所属单位'" [nzValue]="'org_name'"></nz-option>
            </nz-select>
          </ng-template>
          <ng-template #addOnAfterTemplate>
            &lt;!&ndash;<img src="assets/icons/icon_seach.png" alt="" class="search_icon" (click)="searchChange()">&ndash;&gt;
            &lt;!&ndash;<i class="fa fa-search" (click)="searchChange()" style="color: #999999;"></i>&ndash;&gt;
            <i nz-icon nzType="search" nzTheme="outline" style="color: #999999;"></i>
          </ng-template>

        </div>-->
      </div>


      <div class="h_r">

      </div>

    </div>


    <div style="margin-top: 10px;" class="bill">
      <nz-spin [nzSpinning]="isSpinning">
        <table class="table">
          <thead>
          <tr>
           <!-- <th
              nzShowCheckbox
              [(nzChecked)]="isAllChecked"
              (nzCheckedChange)="checkAll($event)"
            >
            </th>-->
            <th>订单编号</th>
            <th>订购产品</th>
            <th>产品类型</th>
            <th>订单支付时间</th>
            <th>订单实付金额</th>
            <th>可开票金额</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of dataLists">
            <!--<td
              nzShowCheckbox
              [(nzChecked)]="data.checked"
              [nzDisabled]="data.disabled"
              (nzCheckedChange)="refreshStatus()"
            ></td>-->
            <td>{{data.order_sn}}</td>
            <td>{{data.item_name}}</td>
            <td>
              <span *ngIf="data.item_type === 1">
              产品购买
            </span>
              <span *ngIf="data.item_type === 2">
              功能升级
            </span>
              <span *ngIf="data.item_type === 3">
              服务购买
            </span>
              <span *ngIf="data.item_type === 4">
              数据流量
            </span>
            </td>
            <td>{{data.pay_at | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{data.pay_money | currency: '￥'}}</td>
            <td>{{data.pay_money | currency: '￥'}}</td>
            <td class="text_purple">
              <a class="" (click)="addInvoice(data)" style="font-size: 12px;">
                索取发票
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </nz-spin>

      <div *ngIf="!dataLists || dataLists.length <= 0">
        <nz-empty></nz-empty>
      </div>


      <ng-template #totalTemplate let-total> 共计 {{ totalItems }} 项 </ng-template>

      <div class="content_b">
        <nz-pagination nzShowSizeChanger
                       [nzTotal]="totalItems"
                       [nzShowTotal]="totalTemplate"
                       [(nzPageIndex)]="page"
                       [(nzPageSize)]="pageSize"
                       (nzPageIndexChange)="pageChange()"
                       (nzPageSizeChange)="pageSizeChange()"
                       [nzPageSizeOptions] = "pageSizeList">

        </nz-pagination>
        <div class="ant-pagination-options-quick-jumper"> 跳至
          <input type="number" [(ngModel)]="pageNum"> 页 </div>
        <button (click)="goPage()" nz-button class="btn_purple ml-3">跳转</button>
      </div>


    </div>

  </div>
</div>


<nz-modal [(nzVisible)]="isVisible" nzTitle="是否完成开票申请" [nzFooter]="null" [nzClosable]="false"
          style="display: flex; justify-content: center;">
  <button nz-button nzType="default" (click)="handleCancel()">未完成开票</button>
  <button nz-button nzType="primary" (click)="handleOk()" class="ml-3">已完成开票</button>
</nz-modal>








