
<div class="site">
  <header>
    <app-header (toggle)="sidenav.toggle()"></app-header>
  </header>

  <main>
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav class="sidenav bg_light_default"  mode="side" opened #sidenav>
        <app-sidebar ></app-sidebar>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
    <!--<div class="display">
      <router-outlet></router-outlet>
    </div>-->
  </main>



</div>



<!--<mat-sidenav-container class="sidenav-container">
  <header>
    <app-header (click)="drawer.toggle()" ></app-header>
  </header>
  <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport="true"
      [attr.role]="isHandset ? 'dialog' : 'navigation'"
      mode="side"
      [opened]="true">
      <mat-toolbar color="primary"> 炉管家 </mat-toolbar>
      <mat-nav-list>
        <h4>主监控台</h4>
        <a mat-list-item href="">设备概览</a>
        <a mat-list-item href="">告警记录</a>
        <a mat-list-item href="">维保记录</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Application Title</span>
      </mat-toolbar>


      <footer>
        <app-footer></app-footer>
      </footer>


    </mat-sidenav-content>


</mat-sidenav-container>-->
