
<div>
  <div class="content_h">
    <div class="search_box">
      <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate" [nzSuffix]="addOnAfterTemplate">
        <input type="text" nz-input [(ngModel)]="value" (keyup)="searchEnter($event)" maxlength="20"/>
      </nz-input-group>
      <ng-template #addOnBeforeTemplate>
        <nz-select [(ngModel)]="search">
          <nz-option [nzLabel]="'告警设备'" [nzValue]="'ept_name'"></nz-option>
          <nz-option [nzLabel]="'监测参数'" [nzValue]="'channnel_name'"></nz-option>
          <nz-option [nzLabel]="'告警信息'" [nzValue]="'description'"></nz-option>
        </nz-select>
      </ng-template>
      <ng-template #addOnAfterTemplate>
        <img src="assets/icons/icon_seach.png" alt="" class="search_icon" (click)="searchChange()">
      </ng-template>

    </div>
    <div class="flex">


    </div>
  </div>
  <div class="content_t">
    <nz-table
      #dataTable
      [nzFrontPagination]="false"
      [nzShowPagination] = "false"
      [nzLoading]="loading"
      [nzData]="dataLists"
    >
      <thead>
      <tr>
        <th>告警设备</th>
        <th>监测参数</th>
        <th>告警时间</th>
        <th>告警信息</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of dataTable.data">
        <td> {{data.ept_name}} </td>
        <td> {{data.channnel_name}} </td>
        <td> {{ data.begin_time | date: 'MM/dd HH:mm:ss' }} ～ {{ data.end_time | date: 'MM/dd HH:mm:ss' }} </td>
        <td> {{ data.description }} </td>
        <td class="text_purple">
          <a (click)="view(data)">
            详情
          </a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>

  <ng-template #totalTemplate let-total> 共计 {{ totalItems }} 项 </ng-template>

  <div class="content_b">
    <nz-pagination nzShowSizeChanger
                   [nzTotal]="totalItems"
                   [nzShowTotal]="totalTemplate"
                   [(nzPageIndex)]="page"
                   [(nzPageSize)]="pageSize"
                   (nzPageIndexChange)="pageChange()"
                   (nzPageSizeChange)="pageSizeChange()"
                   [nzPageSizeOptions] = "pageSizeList">

    </nz-pagination>
    <div class="ant-pagination-options-quick-jumper"> 跳至
      <input type="number" [(ngModel)]="pageNum"> 页 </div>
    <button (click)="goPage()" nz-button class="btn_purple ml-3">跳转</button>
  </div>
</div>


