<div class="modal-header">
  <h3 class="modal-title">
    状态量通道配置 {{currentData.Parameter.Name}}
  </h3>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body" >

  <div class="note" [ngClass]="{'text-info': isValid, 'text-danger': !isValid}">
    <p> {{ comment }} </p>
  </div>

  <div *ngFor="let rg of ranges; let i = index"
       class="input-group form-group flex">
    <span class="input-group-prepend">
          <span class="input-group-text">
            状态{{ i + 1 }}
          </span>
        </span>
    <input type="number" [(ngModel)]="rg.Min"
           (change)="rangeChanged();"
           class="form-control"
           style="width: 28%; color: #27a4b0;" placeholder="范围低值">
    <input type="number" [(ngModel)]="rg.Max"
           (change)="rangeChanged();"
           class="form-control"
           style="width: 28%; color: #f2784b;" placeholder="范围高值">
    <input type="text" [(ngModel)]="rg.Name"
           (change)="rangeChanged();"
           class="form-control"
           style="width: 24%; color: #67809f;" placeholder="状态名称">
    <button (click)="removeRange(i); rangeChanged();"
       class="btn btn-outline-danger">
      <i class="fa fa-minus"></i>
    </button>
  </div>

  <div class="">
    <button type="button"
            class="btn btn-info btn-block"
            (click)="addNewRange();rangeChanged();"
            style="width: 100%;">
      <i class="fa fa-plus-circle"></i>
      新增状态范围值
    </button>
  </div>




</div>

<div class="modal-footer">
  <button type="button" class="btn btn-info" (click)="save()">
    <span class="">保存</span>
  </button>
  <button class="btn btn-default" type="button" (click)="activeModal.dismiss('close')">取消</button>
</div>


