.login_head img{
  width: 100%;
}

.login_con{
  padding-top: 30px;
}



/*切换按钮*/
.login_tab .btn-group{
  display: flex;
  justify-content: center;
}

/*按钮*/
.btn_tab{
  width:133px;
  height:48px;
  border-radius:4px;
  border:1px solid rgba(0,0,0,0.2);
  background-color: #ffffff;
  cursor: pointer;
  color: #333333;
  font-size: 20px;
  font-weight: bold;
  letter-spacing:2px;
}
.btn_tab.active{
  background: #666EE8;
  border: 1px solid #666EE8;
  color: #ffffff;
}

/*表单*/
.login_form{
  padding-top: 40px;
}
.login_box{
  width: 482px;
  margin: auto;
}

.footer{
  /*position: fixed;
  bottom: 0;
  left: 0;
  right: 0;*/
  margin-top: 80px;
  width: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  color: #666;
  font-size: 12px;
}


.sign_up{

}


.sign_up_container{

}

.sign_item{
  margin-bottom: 40px;
}
.sign_item .sign_label label{
  font-size: 14px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 6px;
}
.sign_item .sign_label span{
  color: #666EE8;
  font-size: 16px;
}
.sign_input{
  position: relative;
}

.sign_input .form-control{
  height: 38px;
  padding-left: 36px;
  font-size: 12px;
}
.input_icon{
  position: absolute;
  top: 13px;
  left: 13px;
  width: 12px;
  height: 12px;
}
.sign_tip{
  position: absolute;
  top: 100%;
  left: 35px;
  font-size: 10px;
  color: #FF4961;
}
.sign_tip span{
  font-size: 10px;
}

.btn_purple{
  width:100%;
  height:38px;
  background:#666EE8;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing:1px;
}






