

<div class="content">
  <div class="charge_info_head">
    <div class="c_head_l">
      <h5>{{title}}</h5>
    </div>
    <div class="c_head_r"></div>
  </div>

  <div class="c_info">
    <div class="c_content">
      <div class="cf_label">
        型号：
      </div>
      <div class="c_c0">
        <div class="c_c1" *ngFor="let data of typeList" (click)="type = data.id; cost = data.price;" [class.active]="type === data.id">
          <div class="c_c1_h">
            {{data.name}}
          </div>
          <div class="c_c1_amount">
            <span style="font-size: 18px;">￥</span>
            <span class="c1_amount_v">
              {{data.price}}
            </span>
          </div>

          <hr>

          <div class="c_v_con" *ngFor="let item of data.des">
            <div>
              <h6>{{item.title}}</h6>
              <div style="padding: 0 13px;">
                <table class="table table-bordered">
                  <tr *ngFor="let item1 of item.data">
                    <td style="width: 90px;">
                      {{item1.name}}
                    </td>
                    <td style="word-break: break-all;">
                      {{item1.value}}
                    </td>
                  </tr>
                </table>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>

    <div class="c_content">
      <div class="cf_label">
        购买数量：
      </div>
      <div>
        <input type="number" [(ngModel)]="count"
               style="width:286px; height:28px; border:1px solid #979797;">
      </div>
    </div>

    <div class="c_content">
      <div class="cf_label">
        收货地址：
      </div>
      <div>

        <nz-radio-group [(ngModel)]="addressId" [nzButtonStyle]="'solid'">
          <label nz-radio [nzValue]="data.uid" *ngFor="let data of addrList">
            {{data.location_name}} {{data.name}} {{data.telephone}}
            <span>
              <img src="assets/images/charge/purchase_edit.png" alt=""  style="margin-left: 20px;" (click)="editAddr(data)">
              <img src="assets/images/charge/purchase_del.png" alt="" style="margin-left: 10px;" nz-popconfirm nzTitle="确认删除该地址？" (nzOnConfirm)="delAddr(data)">
            </span>
          </label>
        </nz-radio-group>

        <div (click)="addAddr()" style="color: #414B92; cursor: pointer;">
          添加新地址
        </div>

      </div>
    </div>

  </div>

  <div class="cf_bottom">
    <div class="cost">
      <div class="cost_label">
        费用小计：
      </div>
      <div class="cost_value">
        {{cost*count | currency: '￥'}}
      </div>
    </div>

    <div>
      <button class="btn btn_purple bpm" (click)="save()">
        提交
      </button>
    </div>

  </div>
</div>






