.tab_btn_2{
  display: none;
  border-top: 1px solid #ffffff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.tab_map:hover .tab_btn_1{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.tab_map:hover .tab_btn_2{
  display: block;
}

.map_b{
  position: relative;
}


.map_lists{
  position: absolute;
  top: 0;
  right: 0;
  width: 260px;
  background-color: #ffffff;
  padding:30px 20px;
  box-sizing: border-box;
  /*border: 1px solid #eeeeee;*/
}
.map_lists ul li{
  padding: 10px 0px;
}
.map_list_box{
  margin-bottom: 10px;
  height: 468px;
  overflow: auto;
}
.map_list_in{

}
.map_list_in li{
  display: flex;
}

.map_stat_icon{
  display: flex;
}
.stat_icon{
  width: 10px;
  height:10px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 5px;
}
.icon_info{
  /*background-color: #17a2b8;*/
  background-color: #00a4ff;
}
.icon_default{
  background-color: #eee;
}
.icon_danger{
  background-color: #FF6666;
}

.map_page{
  width: 100%;
  text-align: center;
}



