
<div class="mat-card-title">
  <h5 class="text_info pull-left"> 设备概览 </h5>
  <nav class="pull-left flex">
    <a routerLink="/admin/monitor/clusters" routerLinkActive="btn_info" class="btn">集群模式</a>
    <a routerLink="/admin/monitor/dashboard" routerLinkActive="btn_info" class="btn">图文模式</a>
    <a routerLink="/admin/monitor/list" routerLinkActive="btn_info" class="btn">列表模式</a>
    <div class="tab_map">
      <a routerLink="/admin/monitor/map/batch" class="btn btn_info mr-3 tab_btn_1">地图模式2</a>
      <a routerLink="/admin/monitor/map/general" class="btn btn_info mr-3 tab_btn_2">地图模式1</a>
    </div>

  </nav>



  <div class="pull-right flex flex-row">

    <div class="input-group">
      <input type="text" class="form-control" placeholder="请输入设备名称" [(ngModel)]="search">
      <div class="input-group-append" (click)="searchChange()">
        <button class="btn btn_info" type="button"><i class="fa fa-search"></i></button>
      </div>
    </div>

  </div>

</div>


<div class="map_b">
  <!--地图-->
  <div class="" id="container" style="width: 100%; height: 750px;"></div>
  <!--列表-->
  <div class=" map_lists">

    <!--<div class="map_search mt-2">
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="search">
        <span class="input-group-append">
          <button class="btn btn_info" (click)="searchChange()">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>

    </div>-->

    <div class="map_list_box">
      <ul class="map_list_in">
        <li *ngFor="let data of markers">
          <a [routerLink]="['/admin/runtime', data.uid, data.name]" target="_blank"
             style="width: 68%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color:#0e566c; ">
            {{ data.name }}
          </a>
          <!--<span class="text-muted" style="font-size: 12px; ">
            {{ data.address }}
          </span>-->
          <span class="map_stat_icon">
            <div class="stat_icon" title="终端状态"
                 [ngClass]="{'icon_info':data.termStatus>0, 'icon_default':data.termStatus<=0}">

            </div>
            <div class="stat_icon" title="运行状态"
                 [ngClass]="{'icon_info':data.termStatus>0 && data.eptStatus===true, 'icon_default':data.termStatus<=0 || data.eptStatus===false}">

            </div>
            <div class="stat_icon" title="告警状态"
                 [ngClass]="{'icon_info':data.termStatus>0 && data.alarmStatus===false, 'icon_danger':data.termStatus>0 && data.alarmStatus===true, 'icon_default':data.termStatus<=0}">

            </div>

          </span>
        </li>
      </ul>
    </div>

    <div class="map_page">
      <!--<div class="pull-left mr-3" style="line-height: 33px;"> {{totalItems}} 项</div>-->
      <!--<div class="pull-left mr-3">
        <select [(ngModel)]="pageSize" class="form-control " (change)="pageSizeChange()">
          <option value="10">10</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>-->
      <!--<ngb-pagination class="pull-right" size="sm"
                      [collectionSize]="totalItems"
                      [pageSize]="pageSize" [(page)]="page"
                      [maxSize]="5" [rotate]="true"
                      (pageChange)="pageChange()">

      </ngb-pagination>-->
      <nz-pagination [(nzPageIndex)]="page" [nzTotal]="totalItems" nzSimple [nzPageSize]="10"
                     (nzPageIndexChange)="pageChange()" (nzPageSizeChange)="pageSizeChange()"
                      [nzSize]="'small'"></nz-pagination>

    </div>
  </div>
</div>
