<div class="modal-header">
  <h3 class="modal-title">修改设备型态</h3>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body" >

  <div class="row">
    <div class="form-group col-12">
      <div class="input-group">
        <span class="input-group-prepend">
          <span class="input-group-text">
            设备型态名称
          </span>
        </span>
        <input type="text" [(ngModel)]="name"
               class="form-control"
               placeholder="输入设备型态名称" required>
      </div>
    </div>
    <!--<div class="form-group col-md-6">
      <div class="input-group">
        <span class="input-group-prepend">
          <span class="input-group-text">
            设备型态
          </span>
        </span>
        <select [(ngModel)]="data.templateId"
                class="form-control">
          <option *ngFor="let temp of templates" [value]="temp.TemplateId" >{{temp.Name}}</option>
        </select>
      </div>
    </div>-->
  </div>

  <!--上传图片-->
  <h5 class="text-muted mb-3 mt-lg-3">上传设备图片</h5>
  <div class="row">
    <div class="col-6">
      <p class="text-info">
        运行中
      </p>
      <div class="" style="width: 200px; height: 150px; overflow: hidden; cursor: pointer;">
        <img src="{{img1}}" title="点击上传图片" style="width: 200px; height: 150px;">
        <input type="file"  (change)="imgChange1($event)" style="position: absolute; left: 0; top: 0; opacity: 0; width: 210px; height: 150px;">
      </div>
    </div>
    <div class="col-6">
      <p class="text-info">
        未运行
      </p>
      <div class="pull-left" style="width: 200px; height: 150px; overflow: hidden; cursor: pointer;">
        <img src="{{img2}}" title="点击上传图片" style="width: 200px; height: 150px;">
        <input type="file"  (change)="imgChange2($event)" style="position: absolute; left: 0; top: 0; opacity: 0; width: 210px; height: 150px;">
      </div>
    </div>

  </div>

  <div class="row mt-3">
    <div class="col-12">
      <div class="" style="width: 90%;">
        <p class="text-muted">
          <!--请分别上传不同运行状态的设备图片，<br/>-->
          图片格式请用jpg、png或gif，文件大小不超过200k
        </p>
        <p class="text-danger">
          {{errMes}}
        </p>

      </div>

    </div>

  </div>

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-info" [disabled]="!name" (click)="save()">
    <span class="">保存</span>
  </button>
  <button class="btn btn-default" type="button" (click)="activeModal.dismiss('close')">取消</button>
</div>

