
.maintain_head{
  background-color: #1d232f;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
  display: flex;
}

.maintain_body{
  padding: 20px;
  background-color: #ffffff;
}

.maintain_body ul li{
  background-color: #e9ecef;
  border-radius: 3px;
  border: 1px solid #cccccc;
  margin-bottom: 20px;
  display: flex;
}
.maintain_body .maintain_cell{
  padding: 2px 12px;
  border-right: 1px solid #cccccc;
}
.maintain_body .maintain_cell:last-child{
  border: none;
}
.status_box{
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 10px;
  background-color: #ffffff;
  text-align: center;
  padding: 1px 2px;
  display: flex;
  justify-content: space-between;
}
.status_blue{
  width: 50%;
  border: 1px solid #448aca;
  border-radius: 20px;
  background-color: #448aca;
  color: #ffffff;
}
.status_yellow{
  width: 50%;
  border: 1px solid #f39800;
  border-radius: 20px;
  background-color: #f39800;

}


