
<div class="content">
  <div class="list_head">
    <div class="li_head_l">
      <h6>
        个人信息
      </h6>
    </div>
    <div class="li_head_r">
      <!--返回-->
      <button class="btn btn_purple-o btn_round bps" [routerLink]="['/admin/formal/maintenance-account/list', {page: listPage}]">
        <i class="iconfont iconicon_comeback1"></i>
      </button>
      <!--刷新-->
      <button class="btn btn_purple-o btn_round bps ml-1" (click)="refresh()">
        <i class="iconfont iconicon_Refresh"></i>
      </button>
      <button class="btn btn_purple btn_round bpm ml-1" (click)="dataDisabled()">
        账号禁用
      </button>
    </div>
  </div>

  <div class="info_content flex" style="margin-top: 5px;">
    <div class="f_info_l">
      <div class="f_info_config">
        <div class="f_info_title">
          <h6>
            账号信息
          </h6>
        </div>
        <div class="f_info_body">
          <ul>
            <li class="f_info_item">
              <div class="f_info_item_title">
                账号
              </div>
              <div class="f_info_item_value">
                {{info?.username}}
              </div>
            </li>
            <li class="f_info_item">
              <div class="f_info_item_title">
                账号状态
              </div>
              <div class="f_info_item_value">
                <span class="text_danger" *ngIf="info&&info.status===0">
                  禁用
                </span>
                <span class="" *ngIf="info&&info.status===1">
                  正常
                </span>
              </div>
            </li>
            <li class="f_info_item">
              <div class="f_info_item_title">
                账号类型
              </div>
              <div class="f_info_item_value">
                <span *ngIf="info&&info.role_id===1">
                  系统用户
                </span>
                <span class="" *ngIf="info&&info.role_id===10">
                  正式用户
                </span>
                <span class="" *ngIf="info&&info.role_id===11">
                  普通用户
                </span>
                <span class="" *ngIf="info&&info.role_id===15">
                  维保用户
                </span>
                <span class="" *ngIf="info&&info.role_id===20">
                  测试用户
                </span>

              </div>
            </li>

          </ul>
        </div>

      </div>

      <div class="f_info_basic mt-3">
        <div class="f_info_title">
          <h6>
            基础信息
          </h6>

          <!--修改-->
          <a class="" (click)="editConfig()" title="修改">
            <span class="iconfont iconedit text_purple"></span>
          </a>
        </div>
        <div class="f_info_body">
          <ul>
            <li class="f_info_item">
              <div class="f_info_item_title">
                用户名
              </div>
              <div class="f_info_item_value">
                {{info?.name}}
              </div>
            </li>

            <li class="f_info_item">
              <div class="f_info_item_title">
                所属单位
              </div>
              <div class="f_info_item_value">
                {{info?.org_name}}
              </div>
            </li>
            <li class="f_info_item">
              <div class="f_info_item_title">
                单位类型
              </div>
              <div class="f_info_item_value">
                <span *ngIf="info&&info.org_tag === 1">
                  产品使用
                </span>
                <span *ngIf="info&&info.org_tag === 2">
                  产品制造
                </span>
                <span *ngIf="info&&info.org_tag === 3">
                  产品运维
                </span>
                <span *ngIf="info&&info.org_tag === 4">
                  组件供应
                </span>
                <span *ngIf="info&&info.org_tag === 5">
                  监管机构
                </span>
              </div>
            </li>
            <li class="f_info_item">
              <div class="f_info_item_title">
                地域地址
              </div>
              <div class="f_info_item_value">
                {{info?.location_name}}
              </div>
            </li>
            <li class="f_info_item">
              <div class="f_info_item_title">
                邮箱
              </div>
              <div class="f_info_item_value">
                {{info?.email}}
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>

    <div class="f_info_r">
      <div class="f_info_title">
        <h6>
          运维产品信息
        </h6>
        <button class="btn btn_purple btn_round bpm" [routerLink]="['/admin/formal/maintenance-account/product', uid]">
          查看更多
        </button>
      </div>
      <div class="f_info_body">
        <div class="finfo_table_op">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th>产品名称</th>
                <th>产品终端编码</th>
                <th>维保模版</th>
                <th>累计维保次数</th>
                <th>最近维保时间</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr *ngFor="let item of operate">
                <td>
                  {{item.name}}
                </td>
                <td>
                  {{item.terminal_code}}
                </td>
                <td>
                  {{item.temp_name}}
                </td>
                <td>
                  {{item.mt_count}}
                </td>
                <td>
                  {{item.mt_at | date: 'yyyy-MM-dd HH:mm:ss'}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!--<ul class="f_info_op">
          <li class="f_info_op_item" *ngFor="let data of operate">
            <div class="f_info_item_date">
              {{data.created_at | date: 'yyyy-MM-dd'}}
            </div>
            <div class="f_info_item_op" >
              <a [routerLink]="['/admin/formal/account/order-detail', data.uid]">
                {{data.info}}
              </a>
            </div>
          </li>
        </ul>-->
      </div>

    </div>
  </div>

</div>


