<!--<div class="bread">
  信息维护 <span> / </span>订单管理
</div>-->


<div class="content">
  <div class="info_head">
    <div class="info_tname">
      <img src="assets/icons/icon_Ordersetting.png" alt="">
      订单详情
    </div>
    <div style="text-align: right;">
      <!--返回-->
      <button class="btn btn_purple-o btn_round bps" (click)="goBack()">
        <i class="iconfont iconicon_comeback1"></i>
      </button>


      <div style="margin-top: 15px; font-weight: bold;">
        订单状态：
        <span style="color: #1E9FF2;" *ngIf="info && info.order_status === 3">已支付</span>
        <span style="color: #FFC06A;" *ngIf="info && info.order_status === 1">未支付</span>
        <span style="color: #A7ABBE;" *ngIf="info && info.order_status === 2">作废</span>
        <span style="color: #A7ABBE;" *ngIf="info && info.order_status === 0">已取消</span>
      </div>
    </div>
  </div>

  <div class="info_content">
    <div class="info_order_1">
      <div class="info_title">
        <h6>
          支付信息
        </h6>
      </div>
      <div class="info_body">
        <div class="ord1_con">
          <div class="ord1_l">
            <div class="order1_item">
              <div class="or_item_label">
                订单编号
              </div>
              <div class="or_item_text">
                {{info?.order_sn}}
              </div>
            </div>

            <div class="order1_item">
              <div class="or_item_label">
                创建时间
              </div>
              <div class="or_item_text">
                {{info?.created_at | date: 'yyyy-MM-dd HH:mm:ss'}}
              </div>
            </div>

            <div class="order1_item">
              <div class="or_item_label">
                订单创建账号
              </div>
              <div class="or_item_text">
                {{info?.created_username || '空'}} ({{info?.created_name || '空'}})
              </div>
            </div>

            <div class="order1_item">
              <div class="or_item_label">
                所属单位
              </div>
              <div class="or_item_text">
                {{info?.created_org}}
              </div>
            </div>

            <div class="order1_item">
              <div class="or_item_label">
                订单类型
              </div>
              <div class="or_item_text">
                <span *ngIf="info&&info?.item_type === 1">产品购买</span>
                <span *ngIf="info&&info?.item_type === 2">功能升级</span>
                <span *ngIf="info&&info?.item_type === 3">服务购买</span>
                <span *ngIf="info&&info?.item_type === 4">数据流量</span>
                <!--<span *ngIf="basic&&basic.type === 1">
                  定期
                </span>
                <span *ngIf="basic&&basic.type === 2">
                  永久
                </span>-->
              </div>
            </div>
          </div>

          <div style="width: 1px; height:143px; background-color: #666EE8;"></div>

          <div class="ord1_r">
            <div class="order1_item">
              <div class="or_item_label">
                支付状态
              </div>
              <div class="or_item_text">
                <span *ngIf="info && info.order_status === 1">
                  待支付
                </span>
                <span *ngIf="info && info.order_status === 3">
                  支付完成
                </span>
                <span *ngIf="info && info.order_status === 2">
                  作废
                </span>
                <span *ngIf="info && info.order_status === 0">
                  已取消
                </span>
              </div>
            </div>

            <div class="order1_item">
              <div class="or_item_label">
                支付完成时间
              </div>
              <div class="or_item_text">
                {{info?.pay_at | date: 'yyyy-MM-dd HH:mm:ss'}}
              </div>
            </div>

            <div class="order1_item">
              <div class="or_item_label">
                支付金额
              </div>
              <div class="or_item_text">
                {{info?.pay_money | currency: '￥'}}
              </div>
            </div>

            <div class="order1_item">
              <div class="or_item_label">
                支付方式
              </div>
              <div class="or_item_text">
                <span *ngIf="info && info.pay_method === 2">
                  支付码扫码
                  <!--<img src="assets/images/charge/alipay.png" alt="">-->
                </span>
                <span *ngIf="info && info.pay_method === 1">
                  对公转账
                </span>
              </div>
            </div>

            <div class="order1_item">
              <div class="or_item_label">
                支付账号
              </div>
              <div class="or_item_text">
                {{info?.buyer_account}}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="info_order_2">
      <div class="info_title">
        <h6>
          订单产品信息
        </h6>
      </div>
      <div class="info_body">
        <div class="order2_item">
          <div class="or2_label">
            产品名称：
          </div>
          <div class="or2_text">
            {{info?.item_name}}
            <!--<span>
              功能扩展服务
            </span>
            <span>
              存储升级服务
            </span>-->
          </div>
        </div>

        <div class="order2_item">
          <div class="or2_label">
            产品说明：
          </div>
          <div class="text_content">
            <!--普通账号升级为正式账号（永久性）-->
            <div class="cinfo_content">
              <div *ngIf="info&&info.item_type!==1">
                {{info?.item_desc}}
              </div>

              <div class="c_v_con" *ngIf="info&&info.item_type===1">
                <div *ngFor="let item of info.des">
                  <h6>{{item.title}}</h6>
                  <div style="padding: 0 13px;">
                    <table class="table table-bordered">
                      <tr *ngFor="let item1 of item.data">
                        <td style="width: 90px;">
                          {{item1.name}}
                        </td>
                        <td style="word-break: break-all;">
                          {{item1.value}}
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="order2_item" *ngIf="info&&info?.item_type === 1">
          <div class="or2_label">
            收货地址：
          </div>
          <div class="or2_text">
            {{info?.shipping_addr}}  {{info?.shipping_user}} {{info?.shipping_tel}}
          </div>
        </div>

      </div>
    </div>

  </div>
</div>




