
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">用户信息</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-striped table-bordered" >
      <tr>
        <th style="width:26%">登录名</th>
        <td style="width:74%">{{ currentDataCopy.Username }}</td>
      </tr>
      <tr>
        <th>登录密码</th>
        <td>
          <span *ngIf="!editing && currentDataCopy"> ******** </span>
          <input type="button" *ngIf="editing && currentDataCopy && !currentDataCopy.resetPassword" (click)="resetPassword()" class="btn btn-outline-info btn-block" value="重置密码">
          <input *ngIf="editing && currentDataCopy && currentDataCopy.resetPassword" [(ngModel)]="currentDataCopy.aPassword" type="password" class="form-control input" placeholder="输入新密码进行重置">
        </td>
      </tr>
      <tr>
        <th>用户名称</th>
        <td>
          <span *ngIf="!editing">{{ currentDataCopy.Name }}</span>
          <input *ngIf="editing" [(ngModel)]="currentDataCopy.Name" type="text" class="form-control input" placeholder="{{ currentDataCopy.Name }}">
        </td>
      </tr>
      <tr>
        <th>用户角色</th>
        <td *ngIf="!editing">{{ currentDataCopy.Role__Name }}</td>
        <td *ngIf="editing">
          <select [(ngModel)]="currentDataCopy.Role__Id" class="form-control">
            <option *ngFor="let role of aroles" [value]="role.id">{{role.name}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <th>用户状态</th>
        <td *ngIf="!editing">{{ currentDataCopy.stat.name }}</td>
        <td *ngIf="editing">
          <select [(ngModel)]="currentDataCopy.Status" class="form-control">
            <option *ngFor="let stat of status" [value]="stat.id" [disabled]="stat.hidden">{{stat.name}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <th>所属企业</th>
        <td> <span> {{ currentDataCopy.Org__Name }} </span> </td>

      </tr>
      <tr>
        <th>创建时间</th>
        <td id="detail-createddate">{{ currentDataCopy.CreatedDate | date:"MM/dd/yy"}}</td>
      </tr>

    </table>

  </div>
  <div class="modal-footer">
    <button *ngIf="editing" type="button" class="btn btn_info" (click)="save()">
      <i class="fa fa-save"></i> 保存
    </button>
    <button *ngIf="editing" type="button" class="btn btn_info" (click)="reset()">
      <i class="fa fa-reply"></i> 取消
    </button>
    <!--<button *ngIf="!editing && currentDataCopy &&  currentUser.Role.Id < currentDataCopy.Role__Id && currentDataCopy.Status == 0" type="button" class="btn btn_info" (click)="active()">
      <i class="fa fa-check"></i> 激活
    </button>-->

    <button *ngIf="!editing && currentDataCopy && currentUser.Role.Id < currentDataCopy.Role__Id" type="button" class="btn btn_info" (click)="edit()">
      <i class="fa fa-edit"></i> 编辑
    </button>
    <button type="button" class="btn btn-danger" (click)="deleteUser()" *ngIf="!editing && currentDataCopy && currentUser.Role.Id < currentDataCopy.Role__Id">
      <i class="fa fa-trash-o"></i>删除
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('close')">关闭</button>
  </div>

