.info_head{
  padding-bottom: 6px;
}

.info_title{
  margin-top: 24px;
}



.info_order_1 .info_body{
  padding: 15px 0;
}

.ord1_con{
  display: flex;
  align-items: center;
}
.ord1_l, .ord1_r{
  width: 49%;
  padding-left: 25px;
  box-sizing: border-box;
}

.order1_item{
  display: flex;
}
.or_item_label{
  width: 100px;
  text-align: right;
  font-size:15px;
  font-weight:bold;
  color: #464855;
  margin-bottom: 17px;
}
.or_item_text{
  margin-left: 50px;
  font-size:15px;
  font-weight:bold;
  color: #666EE8;
}
.or_item_text span{
  font-size:15px;
}


.info_order_2 .info_body{
  padding: 15px 28px;
}
.order2_item{
  display: flex;
  margin-bottom: 10px;
}
.or2_label{
  flex-shrink: 0;
  flex-grow: 0;
  width: 100px;
  text-align: right;
  color: #464855;
  font-weight: bold;
  margin-right: 12px;
}

.or2_text{
  color: #666EE8;
  font-weight: bold;
}
.text_content{
  width:100%;
  height:178px;
  background:#EDEEF4;
  padding: 4px 13px;
  box-sizing: border-box;
  color: #464855;
}

.c_v_con{
  height: 386px;
  overflow: auto;
}
.c_v_con::-webkit-scrollbar{
  width: 6px;
  height: 6px;
}
.c_v_con::-webkit-scrollbar-track{

}
.c_v_con::-webkit-scrollbar-thumb{
  border-radius: 4px;
  background-color: #7A7A7A;
}

.c_v_con h6{
  margin-top: 6px;
  margin-bottom: 6px;
  font-weight: bold;
}
.c_c1_h{
  font-size:18px;
  font-weight:bold;
  color: #333333;
  margin-bottom: 10px;
  text-align: center;
}
.c_c1_amount{
  color:#666EE8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.c1_amount_v{
  margin-right: 5px;
  font-size:30px;
}

.table th, .table td {
  padding: 2px 5px;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  font-size: 12px;
}



