


<div class="content">
  <div class="list_head">
    <div class="li_head_l">
      <h6>
        终端列表
        <span *ngIf="status === '1'" class="text_grey" style="font-weight: normal">
          (未激活)
        </span>
        <span *ngIf="status === '2'" class="text_green" style="font-weight: normal">
          (已激活)
        </span>
        <span *ngIf="status === '3'" class="text_warning" style="font-weight: normal">
          (维修)
        </span>
        <span *ngIf="status === '4'" class="text_danger" style="font-weight: normal">
          (报废)
        </span>
      </h6>
    </div>
    <div class="li_head_r">
      <button class="btn btn_purple-o btn_round bps" (click)="searchChange()">
        <!--<img src="assets/icons/refresh.png" alt="">-->
        <!--<i nz-icon nzType="reload" nzTheme="outline"></i>-->
        <!--<i class="fa fa-refresh"></i>-->
        <i class="iconfont iconicon_Refresh"></i>
        <!--刷 新-->
      </button>

      <button class="btn btn_purple btn_round bpm ml-1" (click)="addTerm()">
        新增终端
      </button>

      <button class="btn btn_purple btn_round bpm ml-1" (click)="batchAdd()">
        批量新增
      </button>

      <button class="btn btn_purple btn_round bpm ml-1" (click)="batchDelete()">
        批量删除
      </button>

    </div>
  </div>

  <div class="list_content">
    <div class="content_h">
      <div class="search_box">
        <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate" [nzSuffix]="addOnAfterTemplate">
          <input type="text" nz-input [(ngModel)]="value" (keyup)="searchEnter($event)" maxlength="15"/>
        </nz-input-group>
        <ng-template #addOnBeforeTemplate>
          <nz-select [(ngModel)]="search">
            <nz-option [nzLabel]="'终端编码'" [nzValue]="'terminal_code'"></nz-option>
            <nz-option [nzLabel]="'所属账号'" [nzValue]="'username'"></nz-option>
            <nz-option [nzLabel]="'使用账号'" [nzValue]="'use_username'"></nz-option>
          </nz-select>
        </ng-template>
        <ng-template #addOnAfterTemplate>
          <img src="assets/icons/icon_seach.png" alt="" class="search_icon" (click)="searchChange()">
        </ng-template>

      </div>
      <div class="flex">


      </div>
    </div>
    <div class="content_t">
      <nz-table
        #dataTable
        [nzFrontPagination]="false"
        [nzShowPagination] = "false"
        [nzLoading]="loading"
        [nzData]="dataLists"
      >
        <thead>
        <tr>
          <th
            nzShowCheckbox
            [(nzChecked)]="isAllChecked"
            (nzCheckedChange)="checkAll($event)"
          >
          </th>
          <th>终端编码</th>
          <th>固件版本</th>
          <th>秘钥</th>
          <th>所属账号</th>
          <th>使用账号</th>
          <th>
            <nz-dropdown [nzTrigger]="'click'">
              <a nz-dropdown>
                联网状态
                <i nz-icon type="down" style="color: #898EA3;"></i>
              </a>

              <ul nz-menu>
                <li nz-menu-item (click)="searchStatus('')">
                  <a>全部</a>
                </li>
                <li nz-menu-item (click)="searchStatus('true')">
                  <a>已联网</a>
                </li>
                <li nz-menu-item (click)="searchStatus('false')">
                  <a>未联网</a>
                </li>

              </ul>
            </nz-dropdown>
          </th>
          <th>信号强度</th>
          <th>当前状态</th>
          <th>创建时间</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of dataTable.data">
          <td
            nzShowCheckbox
            [(nzChecked)]="data.checked"
            [nzDisabled]="data.disabled"
            (nzCheckedChange)="refreshStatus()"
          ></td>
          <td> {{data.terminal_code}} </td>
          <td> {{data.fw_ver}} </td>
          <td> {{data.secret_key}} </td>
          <td>
            <div style="max-width: 160px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
              {{data.username || '空'}}
              ({{data.org_name || '空'}})
            </div>
          </td>
          <td>
            <div style="max-width: 160px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
              {{data.use_username || '空'}}
              ({{data.use_org_name || '空'}})
            </div>
          </td>
          <td>
            <nz-tag [nzColor]="'#1E9FF2'" *ngIf="data.online_status">已联网</nz-tag>
            <nz-tag [nzColor]="'#C0C4D2'" *ngIf="!data.online_status">未联网</nz-tag>
          </td>
          <td>
            <span *ngIf="data.signal_strength>20">
              <img src="assets/icons/icon_signal1.png" class="mr-3">
              强
            </span>
            <span *ngIf="data.signal_strength>10 && data.signal_strength<=20">
              <img src="assets/icons/icon_signal3.png" alt="" class="mr-3">
              中
            </span>
            <span *ngIf="data.signal_strength>0 && data.signal_strength<=10">
              <img src="assets/icons/icon_signal4.png" alt="" class="mr-3">
              弱
            </span>
            <span *ngIf="data.signal_strength === 0">
              <img src="assets/icons/icon_signal2.png" alt="" class="mr-3">
              无
            </span>
          </td>
          <td>
            <span *ngIf="data.status === 1" class="text_grey">
              <img src="assets/icons/icon_active2.png" alt="" style="margin-right: 6px;">
              未激活
            </span>
            <span *ngIf="data.status === 2" class="text_green">
              <img src="assets/icons/icon_active.png" alt="" style="margin-right: 6px;">
              已激活
            </span>
            <span *ngIf="data.status === 3" class="text_warning">
              <img src="assets/icons/icon_repair.png" alt="" style="margin-right: 6px;">
              维修
            </span>
            <span *ngIf="data.status === 4" class="text_danger">
              <img src="assets/icons/icon_Scrap.png" alt="" style="margin-right: 6px;">
              报废
            </span>
          </td>
          <td> {{data.created_at | date: 'yyyy-MM-dd HH:mm:ss'}} </td>
          <td>
            <a class="" [routerLink]="['/admin/ad/terminal/info', data.uid, page, {status:status}]" title="设置">
              <!--设置-->
              <i class="iconfont iconshezhi1 text_purple"></i>
            </a>
            <!--<a class="btn btn_purple btn-sm" [routerLink]="['/admin/ad/terminal/info', data.uid, page, {status:status}]">
              设置
            </a>-->
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>

    <ng-template #totalTemplate let-total> 共计 {{ totalItems }} 项 </ng-template>

    <div class="content_b">
      <nz-pagination nzShowSizeChanger
                     [nzTotal]="totalItems"
                     [nzShowTotal]="totalTemplate"
                     [(nzPageIndex)]="page"
                     [(nzPageSize)]="pageSize"
                     (nzPageIndexChange)="pageChange()"
                     (nzPageSizeChange)="pageSizeChange()"
                     [nzPageSizeOptions] = "pageSizeList">

      </nz-pagination>
      <div class="ant-pagination-options-quick-jumper"> 跳至
        <input type="number" [(ngModel)]="pageNum"> 页 </div>
      <button (click)="goPage()" nz-button class="btn_purple ml-3">跳转</button>
    </div>

  </div>

</div>









