
.operate_params{
  box-sizing: border-box;
  padding: 10px;
  background-color: #ffffff;
}
.operate_params ul{
  margin-bottom: 0;
}
.operate_params ul li{
  padding: 6px 12px;
  margin-right: 20px;
  background-color: #efefef;
  border-radius: 3px;
  cursor: pointer;
}
.operate_params ul li:hover{
  background-color: #17a2b8;
  color: #ffffff;
}
.operate_params ul li.active{
  background-color: #17a2b8;
  color: #ffffff;
}

.operate_chart{
  /*padding: 10px;*/
  border: 1px solid #efefef;
  /*border-radius: 4px;*/
  background-color: #ffffff;
}
.operate_chart .chart_title{
  box-sizing: border-box;
  height: 36px;
  line-height: 36px;
  padding: 0 20px;
  background-color: #eaf2fa;
  border-bottom: 1px solid #e3edf8;
}
