

<div class="content">
  <div class="list_head">
    <div class="li_head_l">
      <h6>
        设备基础信息
      </h6>
    </div>
    <div class="li_head_r">
      <!--刷新-->
      <button class="btn btn_purple-o btn_round bps">
        <i class="iconfont iconicon_Refresh"></i>
      </button>

      <button class="btn btn_purple btn_round bpm ml-1">
        删除
      </button>

      <button class="btn btn_purple btn_round bpm ml-1">
        激活/禁用
      </button>

    </div>
  </div>


  <div class="list_content">
    <!--常规信息-->
    <div class="eq_info">
      <div class="eq_h">
        <h6>常规信息</h6>
        <div>

        </div>
      </div>

      <div class="eq_body">
        <div class="eq_row c_4">
          <div class="eq_item">
            <div class="eq_label">
              设备名称：
            </div>
            <div class="eq_value">
              欣丰锅炉厂
            </div>
          </div>

          <div class="eq_item">
            <div class="eq_label">
              设备形态：
            </div>
            <div class="eq_value">
              A型锅炉EW1-31型
            </div>
          </div>

          <div class="eq_item">
            <div class="eq_label">
              使用企业：
            </div>
            <div class="eq_value">
              宁波欣丰纺织股份有限公司
            </div>
          </div>
        </div>

        <div class="eq_row">
          <div class="eq_item" style="width: 100%;">
            <div class="eq_label">
              其他关联单位：
            </div>
            <div class="eq_value">
              <span>宁波某某某运维公司</span>
            </div>
          </div>
        </div>

        <div class="divide"></div>

        <div class="eq_row c_4">
          <div class="eq_item">
            <div class="eq_label">
              设备名称：
            </div>
            <div class="eq_value">
              欣丰锅炉厂
            </div>
          </div>

          <div class="eq_item">
            <div class="eq_label">
              设备形态：
            </div>
            <div class="eq_value">
              A型锅炉EW1-31型
            </div>
          </div>

          <div class="eq_item">
            <div class="eq_label">
              使用企业：
            </div>
            <div class="eq_value">
              宁波欣丰纺织股份有限公司
            </div>
          </div>

          <div class="eq_item">
            <div class="eq_label">
              使用企业：
            </div>
            <div class="eq_value">
              宁波欣丰纺织股份有限公司
            </div>
          </div>
        </div>

        <div class="eq_row c_4">
          <div class="eq_item">
            <div class="eq_label">
              设备名称：
            </div>
            <div class="eq_value">
              欣丰锅炉厂
            </div>
          </div>

          <div class="eq_item">
            <div class="eq_label">
              设备形态：
            </div>
            <div class="eq_value">
              A型锅炉EW1-31型
            </div>
          </div>

          <div class="eq_item">
            <div class="eq_label">
              使用企业：
            </div>
            <div class="eq_value">
              宁波欣丰纺织股份有限公司
            </div>
          </div>

          <div class="eq_item">
            <div class="eq_label">
              使用企业：
            </div>
            <div class="eq_value">
              宁波欣丰纺织股份有限公司
            </div>
          </div>
        </div>
      </div>
    </div>


    <div style="display: flex;">
      <!--关联信息-->
      <div class="eq_info" style="width: 34%;">
        <div class="eq_h">
          <h6>关联信息</h6>
          <div>

          </div>
        </div>

        <div class="eq_body">
          <div class="eq_item">
            <div class="eq_label">
              设备名称：
            </div>
            <div class="eq_value">
              欣丰锅炉厂
            </div>
          </div>

          <div class="eq_item">
            <div class="eq_label">
              设备形态：
            </div>
            <div class="eq_value">
              A型锅炉EW1-31型
            </div>
          </div>

          <div class="eq_item">
            <div class="eq_label">
              使用企业：
            </div>
            <div class="eq_value">
              宁波欣丰纺织股份有限公司
            </div>
          </div>

          <div class="eq_item">
            <div class="eq_label">
              设备名称：
            </div>
            <div class="eq_value">
              欣丰锅炉厂
            </div>
          </div>

          <div class="eq_item">
            <div class="eq_label">
              设备形态：
            </div>
            <div class="eq_value">
              A型锅炉EW1-31型
            </div>
          </div>

          <div class="eq_item">
            <div class="eq_label">
              使用企业：
            </div>
            <div class="eq_value">
              宁波欣丰纺织股份有限公司
            </div>
          </div>
        </div>
      </div>

      <!--地址信息-->
      <div class="eq_info" style="flex: auto; margin-left: 12px; display: flex;">
        <div class="eq_addr">
          <div class="eq_h">
            <h6>地址信息</h6>
            <div>

            </div>
          </div>

          <div class="eq_body">
            a
          </div>
        </div>
        <div class="eq_map">
          <div style="width: 100%; height: 286px;">
            <div id="container" style="width: 100%; height: 286px;"></div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>




