

<div class="content">
  <div class="list_head">
    <div class="li_head_l">
      <h6>
        设备基础信息
      </h6>
    </div>
    <div class="li_head_r">
      <!--刷新-->
      <!--<button class="btn btn_purple-o btn_round bps">
        <i class="iconfont iconicon_Refresh"></i>
      </button>-->

      <!--返回-->
      <button class="btn btn_purple-o btn_round bps" (click)="goBack()">
        <i class="iconfont iconicon_comeback1"></i>
      </button>

      <button class="btn btn_purple btn_round bpm ml-1" (click)="deleteData()">
        删除
      </button>

      <button class="btn btn_purple btn_round bpm ml-1" (click)="disableData()">
        激活/禁用
      </button>

    </div>
  </div>


  <div class="list_content">
    <!--常规信息-->
    <div class="eq_info">
      <div class="eq_h">
        <h6>常规信息</h6>
        <div>
          <!--设置-->
          <a title="设置" (click)="editBasic()">
            <span class="iconfont iconedit text_purple"></span>
          </a>
        </div>
      </div>

      <div class="eq_body">
        <div class="eq_row c_4">
          <div class="eq_item">
            <div class="eq_label">
              设备名称：
            </div>
            <div class="eq_value">
              {{info?.name}}
            </div>
          </div>

          <div class="eq_item">
            <div class="eq_label">
              设备形态：
            </div>
            <div class="eq_value">
              {{terminal?.zt_name}}
            </div>
          </div>

          <div class="eq_item">
            <div class="eq_label">
              使用企业：
            </div>
            <div class="eq_value">
              {{terminal?.use_org_name}}
            </div>
          </div>
        </div>

        <div class="eq_row">
          <div class="eq_item" style="width: 100%;">
            <div class="eq_label">
              其他关联单位：
            </div>
            <div class="eq_value">
              <span *ngFor="let item of orgList">
                <nz-tag [nzColor]="'#9DA4FF'">{{item.org_name}}</nz-tag>
              </span>

            </div>
          </div>
        </div>

        <div class="divide"></div>

        <div class="eq_row c_4">
          <div class="eq_item" *ngFor="let item of infoList">
            <div class="eq_label">
              {{item.name}}：
            </div>
            <div class="eq_value">
              {{item.value}}
            </div>
          </div>

        </div>
      </div>
    </div>


    <div style="display: flex;">
      <!--关联信息-->
      <div class="eq_info eq_link" style="width: 34%;">
        <div class="eq_h">
          <h6>关联信息</h6>
          <div>

          </div>
        </div>

        <div class="eq_body">
          <div class="eq_item">
            <div class="eq_label">
              终端编码：
            </div>
            <div class="eq_value">
              {{terminal?.terminal_code}}

              <a *ngIf="terminal&&terminal.terminal_id && roleId==='10'" [routerLink]="['/admin/formal/terminal/info', terminal.terminal_id, terminal.terminal_code, '1']">
                配置终端
              </a>
            </div>
          </div>

          <div class="eq_item">
            <div class="eq_label">
              固件版本：
            </div>
            <div class="eq_value">
              {{terminal?.fw_ver}}
            </div>
          </div>

          <div class="eq_item">
            <div class="eq_label">
              配置信息：
            </div>
            <div class="eq_value">
              <div>
                <span class="text_blue" *ngIf="terminal && terminal.plat_ver !== 0 && terminal.term_ver !== 0 && terminal.plat_ver === terminal.term_ver">
                  配置成功
                </span>
                <span class="text_danger" *ngIf="terminal && terminal.plat_ver !== 0 && terminal.term_ver !== 0 && terminal.plat_ver !== terminal.term_ver">
                  配置失败
                </span>
                <span class="text_grey" *ngIf="terminal && terminal.plat_ver === 0">
                  未配置
                </span>
                <span class="text_grey" *ngIf="terminal && terminal.term_ver === 0 && terminal.plat_ver !== 0">
                  未下发
                </span>
                &nbsp;
                ({{terminal?.term_ver}} / {{terminal?.plat_ver }})
              </div>

            </div>
          </div>

          <div class="eq_item">
            <div class="eq_label">
              配置模版：
            </div>
            <div class="eq_value">
              {{terminal?.template_ver}}
            </div>
          </div>

          <div class="eq_item">
            <div class="eq_label">
              蓝牙组件：
            </div>
            <div class="eq_value">
              <div>
                <span class="text_blue" *ngIf="terminal && terminal.bt_id">已关联</span>
                <span class="text_grey" *ngIf="!terminal || !terminal.bt_id">未关联</span>
              </div>

              <!--<a *ngIf="terminal&&terminal.bt_id && roleId==='10'" [routerLink]="['/admin/formal/bluetooth/info', terminal?.bt_id, '1']">
                配置蓝牙
              </a>-->
            </div>
          </div>

          <div class="eq_item">
            <div class="eq_label">
              MAC地址：
            </div>
            <div class="eq_value">
              {{terminal?.bt_mac}}
            </div>
          </div>
        </div>
      </div>

      <!--地址信息-->
      <div class="eq_info" style="flex: auto; margin-left: 12px; display: flex;">
        <div class="eq_addr">
          <div class="eq_h">
            <h6>地址信息</h6>
            <div>
              <!--设置-->
              <a title="设置" (click)="editAddr()">
                <span class="iconfont iconedit text_purple"></span>
              </a>
            </div>
          </div>

          <div class="eq_body">
            <div class="addr_item">
              <div class="addr_label">
                设备地址
              </div>
            </div>
            <div class="addr_item area">
              <div class="addr_value">
                {{province}}
              </div>
              省
            </div>
            <div class="addr_item area">
              <div class="addr_value">
                {{city}}
              </div>
              市
            </div>
            <div class="addr_item area">
              <div class="addr_value">
                {{region}}
              </div>
              区/县
            </div>

            <div class="addr_item" style="padding-top: 12px;">
              <div class="addr_label">
                详细地址
              </div>
            </div>

            <div class="addr_item">
              <div class="addr_value">
                {{info?.address}}
              </div>
            </div>

          </div>
        </div>
        <div class="eq_map">
          <div style="width: 100%; height: 286px;">
            <div id="container" style="width: 100%; height: 286px;"></div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>




