

<div class="content">
  <div class="charge_info_head">
    <div class="c_head_l">
      <h5>{{title}}</h5>
    </div>
    <div class="c_head_r"></div>
  </div>

  <div class="c_info">
    <div class="c_content">
      <div class="cf_label">
        资费标准：
      </div>
      <div class="standard">
        <span class="text_purple">¥10000.00 </span>
        <span style="color: #333333;"> 永久 </span>
      </div>
    </div>

    <div class="c_intro">
      <div>功能说明：</div>
      <p>
        这是一条说明说明说明说明这是一条说明说明说明说明这是一条说明说明说明说明这是一条说明说明说明说明这是一条说明说明说明说明这是一条说明说明说明说明这是一条说明说明说明说明这是一条说明说明说明说明这是一条说明说明说明说明这是一条说明说明说明说明。
      </p>

    </div>



  </div>

  <div class="cf_bottom">
    <div class="cost">
      <div class="cost_label">
        费用小计：
      </div>
      <div class="cost_value">
        ¥ 9000.00
      </div>
    </div>

    <div>
      <button class="btn btn_purple bpm">
        提交
      </button>
    </div>

  </div>
</div>






