
<div class="">
  <div class="mat-card-title" style="padding: 20px 0; ">
    <h5 class="text_info pull-left">集群列表</h5>

    <div class="pull-right flex flex-row">
      <div class="input-group mb-4">
        <input type="text" class="form-control" placeholder="请输入集群名称" [(ngModel)]="search" >
        <div class="input-group-append" (click)="searchChange()">
          <button class="btn btn_info" type="button"><i class="fa fa-search"></i></button>
        </div>
      </div>
      <div class="ml-3" >
        <button class="btn btn_info" (click)="newCluster()">
          新增集群
        </button>
      </div>

    </div>

  </div>

  <div>
    <table class="table table-bordered">
      <thead class="bg_light_primary">
      <th>
        <div class="checkbox c-checkbox white">
          <label>
            <input type="checkbox" [(ngModel)]="allDelete" (change)="allDel();">
            <span class="fa fa-check"></span></label>
        </div>
      </th>
      <th> 序号 </th>
      <th> 集群名称 </th>
      <th> 设备数量 </th>
      <th> 操作 </th>
      </thead>
      <tbody>
      <tr *ngFor="let clus of clusters; let i = index">
        <td>
          <div class="checkbox c-checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="clus.checkDelete" (change)="checkDel(clus);">
              <span class="fa fa-check"></span></label>
          </div>
        </td>
        <td> {{ i+1 }}  </td>
        <td> {{ clus.Name }}  </td>
        <td> {{ clus.Count }} </td>
        <td>
          <a [routerLink]="['/admin/cluster/detail', clus.Uid, clus.Name]"
             class="btn btn_info btn-sm" style="color: #ffffff;" title="查看并管理集群中的设备">
            查看
          </a>
          <button class="btn btn_info btn-sm ml-2" title="修改集群名称" (click)="editCluster(clus)">
            修改
          </button>
          <button class="btn btn-danger btn-sm ml-2" title="删除该集群" (click)="delete(clus.Uid, clus.Name)">
            删除
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <p class="text-muted" *ngIf="!clusters||clusters.length===0">
      无有效数据
    </p>
  </div>

  <div class="text-center">
    <nz-spin [nzSize]="'large'" [nzSpinning]="isSpinning"></nz-spin>
  </div>


  <div>
    <div class="pull-left">
      <button class="btn btn_info" (click)="deleteG()">
        批量删除
      </button>
    </div>


    <ngb-pagination class="pull-right"
                    [collectionSize]="totalItems"
                    [pageSize]="pageSize" [(page)]="page"
                    [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                    (pageChange)="pageChange()">

    </ngb-pagination>
    <div class="pull-right mr-3">
      <select [(ngModel)]="pageSize" class="form-control" (change)="pageSizeChange()">
        <option value="10">10</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
    <div class="pull-right mr-3" style="line-height: 33px;"> 共 {{totalItems}} 项</div>
  </div>

</div>
