

<div class="notice">
  <div class="info_head">
    <div class="info_tname">
      <img src="assets/icons/boiler2.png" alt="">

      {{info?.name}}产品服务到期提醒
    </div>
    <div class="info_head_r">
      <!--刷新-->
      <!--<button class="btn btn_purple-o btn_round bps" (click)="searchChange()">
        <i class="iconfont iconicon_Refresh"></i>
      </button>-->

      <!--返回-->
      <button class="btn btn_purple-o btn_round bps" [routerLink]="['/admin/ordinary/home/remind']">
        <i class="iconfont iconicon_comeback1"></i>
      </button>


    </div>
  </div>

  <div class="report_content">
    <div>
      尊敬的{{user?.username}}用户：
    </div>

    <div class="report_info">
      <p>
        您购买的 {{info?.name}} 产品服务将在 {{info?.end_time | date: 'yyyy-MM-dd HH:mm:ss'}} 正式到期，截至目前仅剩30天。未充值续费的{{info?.name}}产品将在到期后停止服务。为了
        保证您的服务正常运行，请及时续费。
      </p>

      <table class="table table-bordered">
        <tr>
          <th style="width: 50%;">
            产品名称
          </th>
          <td>
            {{info?.name}}
          </td>
        </tr>

        <tr>
          <th style="width: 50%;">
            产品服务名称
          </th>
          <td>
            {{info?.remark}}
          </td>
        </tr>

        <!--<tr>
          <th>
            产品终端编码
          </th>
          <td>
            XX锅炉
          </td>
        </tr>-->

        <!--<tr>
          <th>
            所属单位
          </th>
          <td>
            A企业
          </td>
        </tr>-->

        <tr>
          <th>
            到期时间
          </th>
          <td>
            {{info?.end_time | date: 'yyyy-MM-dd HH:mm:ss'}}
          </td>
        </tr>

      </table>

      <p>
        如您要继续使用该服务，请于到期前续费。  <a style="color: #666EE8;">点此续费</a>
      </p>
    </div>


  </div>

</div>

