



<div class="ser_view">
  <div class="mat-card-title">
    <h5 class="text_info pull-left">
      <!--<i class="fa fa-credit-card"></i>-->
      <img src="assets/icons/service.svg" alt="" style="width: 20px;">
      <!--<i nz-icon type="customer-service" theme="outline"></i>-->
      服务支持
    </h5>

    <nav class="pull-left">
      <a routerLink="/admin/service/list" class="btn btn_info">我的表单</a>
      <a routerLink="/admin/service/dashboard" class="btn ml-2 mr-3">提交表单</a>
    </nav>
  </div>


  <div class="sv_head">
    <div class="row">
      <div class="col-12">
        表单编号：
        {{currentData?.Uid}}
      </div>
    </div>
    <div class="flex">
      <div>表单主题：</div>
      <div>
        {{ currentData?.Name }}
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        所属企业：
        {{currentData?.Organization?.Name}}
      </div>
      <div class="col-4">
        表单分类：
        {{currentData?.DialogueType?.Name}}
      </div>
      <div class="col-4">
        提交人：
        {{currentData?.CreatedBy?.Username}}
        <span *ngIf="currentData && currentData.CreatedBy && currentData.CreatedBy.Name">
          ({{currentData?.CreatedBy?.Name}})
        </span>

      </div>
      <div class="col-4">
        提交时间：
        {{currentData?.CreatedDate | date: 'yyyy-MM-dd HH:mm:ss'}}
      </div>
      <div class="col-4">
        状态：
        <span class="text_blue" *ngIf="currentData && currentData.Status">
              已回复
            </span>

        <span class="text-muted" *ngIf="currentData && !currentData.Status">
              未回复
            </span>
      </div>
    </div>
  </div>

  <div class="sv_body">
    <div class="svb_1">
      <div class="svb_h">
        沟通记录
      </div>
      <div class="svb1_l">
        <ul>
          <li *ngFor="let cm of replyList">
            <div class="avatar">
              <img src="{{cm.CreatedBy?.Picture}}" alt="">
            </div>
            <div class="s_text">
              <p>
                <b>
                  {{cm.CreatedBy?.Organization?.Name || "超级管理员"}}
                  ({{cm.CreatedBy?.Name}})：
                </b>
                {{cm.Content}}
              </p>
              <div class="text-muted" style="font-size: 12px;">
                {{cm.CreatedDate | date: 'yyyy-MM-dd HH:mm:ss'}}
              </div>
            </div>
            <div class="s_down">
              <div *ngFor="let f of cm.Attachment; let n = index;" style="margin-right: 5px;">
                <a href="{{f.Path}}" title="{{f.Name}}" target="_blank">
                  附件{{n + 1}}
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="flex justify-content-end" style="padding-right: 20px;">
        <nz-pagination [(nzPageIndex)]="page" [nzTotal]="totalItems" (nzPageIndexChange)="pageChange()" [nzSize]="'small'"></nz-pagination>
      </div>

    </div>

    <div class="svb_2">
      <div class="svb_h">
        我要反馈
      </div>
      <div class="svb2_2">
        <div>
          <div>留言</div>
          <textarea placeholder="此处限定600字符" [(ngModel)]="replyContent" maxlength="600"
                    style="width: 100%; height: 80px;">

          </textarea>
        </div>

        <div style="margin-top: 10px;">
          <p>
            最多可上传5个附件 <br/>
            <span class="text-muted">
              每个附件大小不超过  <span class="text-danger">2M</span>。
            </span>
          </p>
          <nz-upload
            nzAction="/dialogue_file_upload"
            [(nzFileList)]="fileList"
            [nzShowButton]="fileList.length<5"
            (nzChange)="fileChange($event)"
            [nzSize]="2048">

            <button nz-button>
              <i nz-icon type="upload" theme="outline"></i><span>上传文件</span>
            </button>
          </nz-upload>
        </div>
      </div>
    </div>

  </div>


  <div class="sv_bottom">
    <button class="btn btn_info" (click)="submit()" [disabled]="!replyContent">
      提交
    </button>
  </div>


</div>




