<div class="modal-header">
  <h3 class="modal-title">
    编辑告警规则 {{currentData.Parameter.Name}}
  </h3>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body" >
  <div class="flex" *ngFor="let al of alarm">

    <div class="form-group" style="flex: 1;">
      <div class="input-group">
        <span class="input-group-prepend">
          <span class="input-group-text">
            告警阀值
          </span>
        </span>
        <select [(ngModel)]="al.compareValue"
                class="form-control" style="width: 20px;">
          <option *ngFor="let x of compares" [value]="x.id" >{{x.name}}</option>
        </select>
        <input type="number" [(ngModel)]="al.warningValue"
               class="form-control"
               placeholder="" required>

      </div>
    </div>

    <div class="form-group" style="flex: 2;">
      <div class="input-group">
        <span class="input-group-prepend">
          <span class="input-group-text">
            告警描述
          </span>
        </span>
        <input type="text" [(ngModel)]="al.description"
               class="form-control"
               placeholder="" required>
      </div>
    </div>

    <nz-switch [(ngModel)]="al.priority" nzCheckedChildren="推送" nzUnCheckedChildren="不推送" style="width: 80px; margin-left: 10px;"></nz-switch>

  </div>
  <button type="button" (click)="addAlarm()"
          *ngIf="alarm.length < 2 "
          class="btn btn-info btn-block">
    <i class="fa fa-plus-circle"></i>
    添加告警规则
  </button>

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-info" (click)="save()">
    <span class="">保存</span>
  </button>
  <button class="btn btn-default" type="button" (click)="activeModal.dismiss('close')">取消</button>
</div>


