<div class="content">
  <div class="mat-card-title">

    <h5 class="text_info pull-left">
      <img src="assets/icons/monitor.png" alt="">
      设备概览
    </h5>
    <nav class="pull-left">

      <a routerLink="/admin/monitor/dashboard" routerLinkActive="btn_info" class="btn">图文模式</a>
      <a routerLink="/admin/monitor/list" routerLinkActive="btn_info" class="btn">列表模式</a>
      <a routerLink="/admin/monitor/map" routerLinkActive="btn_info" class="btn">地图模式</a>
      <a routerLink="/admin/monitor/clusters" routerLinkActive="btn_info" class="btn mr-3">集群模式</a>
    </nav>


    <div class="pull-right flex flex-row">

      <!--<div class="btn-group mr-2">
        <button class="btn" [ngClass]="{'btn-outline-info': checkValue !== 0, 'btn_info': checkValue === 0}" (click)="onlineChoose(0)">
          全部
        </button>
        <button class="btn" [ngClass]="{'btn-outline-info': checkValue !== 1, 'btn_info': checkValue === 1}" (click)="onlineChoose(1)">
          运行
        </button>
        <button class="btn" [ngClass]="{'btn-outline-info': checkValue !== -1, 'btn_info': checkValue === -1}" (click)="onlineChoose(-1)">
          未运行
        </button>
      </div>-->

      <div class="input-group">
        <input type="text" class="form-control" placeholder="请输入设备名称" [(ngModel)]="search" >
        <div class="input-group-append" (click)="searchChange()">
          <button class="btn btn_info" type="button"><i class="fa fa-search"></i></button>
        </div>
      </div>

    </div>

  </div>

  <!--<div class="clearfix" style="padding-bottom: 20px; font-size: 18px;">
    <h5 class="pull-left"> 列表模式 </h5>
  </div>-->

  <div class="t_content">
    <nz-spin [nzSize]="'large'" [nzSpinning]="isSpinning">
    <table class="table">
      <thead class="bg_light_primary">
      <!--<th> 序号 </th>-->
      <th> 设备名称 </th>
      <th> 终端状态 </th>
      <th>
        运行状态
        <!--<nz-dropdown [nzTrigger]="'click'" [nzPlacement]="'bottomCenter'">
          <a nz-dropdown>
            <i class="fa fa-caret-down"></i>
          </a>
          <ul nz-menu nzSelectable>
            <li nz-menu-item>
              <a (click)="onlineChoose(true)">运行中</a>
            </li>
            <li nz-menu-item>
              <a (click)="onlineChoose(false)">未运行</a>
            </li>
          </ul>
        </nz-dropdown>-->
      </th>
      <th> 告警状态 </th>
      <th> 故障状态 </th>
      <th> 操作 </th>
      </thead>
      <tbody>
      <tr *ngFor="let data of boilers; trackBy : trackByUid; let i = index; ">

        <!--<td> {{ i+1 }} </td>-->
        <td>
          <a style="color:#0e566c;">
            {{ data.name }}
          </a>
        </td>
        <td [ngClass]="{'text_info':data.termStatus > 0}">
          <span class="oval"> </span>
          {{ data.online }}
        </td>
        <td [ngClass]="{'text_info':data.termStatus > 0 && data.eptStatus}">
          <span class="oval"> </span>
            {{data.isBurning}}
        </td>
        <td [ngClass]="{'text-danger':data.termStatus > 0 && data.alarmStatus, 'text_info':data.termStatus > 0 && !data.alarmStatus}">
          <span class="oval"> </span>
          {{data.warning}}
        </td>
        <td [ngClass]="{'text_warning':data.termStatus > 0 && data.mtStatus, 'text_info':data.termStatus > 0 && !data.mtStatus}">
          <span class="oval"> </span>
          {{data.malfunction}}
        </td>
        <td>
          <a class="btn btn_info btn-sm" [routerLink]="['/admin/runtime', data.uid, data.name]" target="_blank">
            查看
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    </nz-spin>
  </div>

  <div class="t_bottom">

    <div class="pull-left">
      <div class="btn-group">
        <button class="btn" [ngClass]="{'btn-outline-info': checkValue !== 0, 'btn_info': checkValue === 0}" (click)="onlineChoose(0)">
          全部
        </button>
        <button class="btn" [ngClass]="{'btn-outline-info': checkValue !== 1, 'btn_info': checkValue === 1}" (click)="onlineChoose(1)">
          运行
        </button>
        <button class="btn" [ngClass]="{'btn-outline-info': checkValue !== -1, 'btn_info': checkValue === -1}" (click)="onlineChoose(-1)">
          未运行
        </button>
      </div>
    </div>

    <ngb-pagination class="pull-right"
                    [collectionSize]="totalItems"
                    [pageSize]="pageSize" [(page)]="page"
                    [maxSize]="3" [rotate]="true" [boundaryLinks]="false"
                    (pageChange)="pageChange()">

    </ngb-pagination>
    <div class="pull-right mr-3">
      <select [(ngModel)]="pageSize" class="form-control" (change)="pageSizeChange()">
        <option value="10">10</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
    <div class="pull-right mr-3" style="line-height: 33px;"> 共 {{totalItems}} 项</div>
  </div>

</div>
