


<div class="content">
  <div class="list_head">
    <div class="li_head_l">
      <h6>
        【{{code}}】 计算设置
      </h6>
    </div>
    <div class="li_head_r">
      <!--返回-->
      <button class="btn btn_purple-o btn_round bps" (click)="goBack()">
        <i class="iconfont iconicon_comeback1"></i>
      </button>


    </div>
  </div>

  <div class="list_content">
    <div class="content_t">
      <nz-table nzTemplateMode>
        <thead>
        <tr>
          <th>数据计算模块名称</th>
          <th>参与计算通道数</th>
          <th>当前状态</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td> 能效计算正平衡 </td>
          <td> 15 </td>
          <td>
            <span class="text_purple">已启用</span>
            <span>未启用</span>
          </td>

          <td>
            <!--<a class="btn btn_purple btn-sm" [routerLink]="['/admin/formal/terminal/calculate1', uid, code]">
              设置
            </a>-->
            <a class="" [routerLink]="['/admin/formal/terminal/calculate1', uid, code]" title="设置">
              <!--设置-->
              <i class="iconfont iconshezhi1 text_purple"></i>
            </a>
          </td>
        </tr>
        <tr>
          <td> 能效计算反平衡 </td>
          <td> 15 </td>
          <td>
            <span>未启用</span>
          </td>

          <td>
            <a class="" [routerLink]="['/admin/formal/terminal/calculate2', uid, code]" title="设置">
              <!--设置-->
              <i class="iconfont iconshezhi1 text_purple"></i>
            </a>
            <!--<a class="btn btn_purple btn-sm" [routerLink]="['/admin/formal/terminal/calculate2', uid, code]">
              设置
            </a>-->
          </td>
        </tr>
        <tr>
          <td> 能耗统计 </td>
          <td> 1 </td>
          <td>
            <span class="text_purple">已启用</span>
          </td>

          <td>
            <a class="" [routerLink]="['/admin/formal/terminal/calculate3', uid, code]" title="设置">
              <!--设置-->
              <i class="iconfont iconshezhi1 text_purple"></i>
            </a>
            <!--<a class="btn btn_purple btn-sm" [routerLink]="['/admin/formal/terminal/calculate3', uid, code]">
              设置
            </a>-->
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>

    <!--<ng-template #totalTemplate let-total> 共计 {{ totalItems }} 项 </ng-template>

    <div class="content_b">
      <nz-pagination nzShowSizeChanger
                     [nzTotal]="totalItems"
                     [nzShowTotal]="totalTemplate"
                     [(nzPageIndex)]="page"
                     [(nzPageSize)]="pageSize"
                     (nzPageIndexChange)="pageChange()"
                     (nzPageSizeChange)="pageSizeChange()"
                     [nzPageSizeOptions] = "pageSizeList">

      </nz-pagination>
      <div class="ant-pagination-options-quick-jumper"> 跳至
        <input type="number" [(ngModel)]="pageNum"> 页 </div>
      <button (click)="goPage()" nz-button class="btn_purple ml-3">跳转</button>
    </div>-->

  </div>

</div>









