/*.sidenav-container {
  height: 100%;
}

.sidenav {
  !*width: 230px;*!
  width: 100%;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  background-color: #e9ecef;

  !*background-color: #224562;*!
  !*color: #fff;*!
}*/
mat-nav-list a{
  font-size: 14px;
  /*color:#34515e;*/
  color: #ffffff;
  display: block;
}

mat-nav-list a.active{
  /*background-color: #3C8DBC;*/
  /*background-color: #607D8B;*/
  /*background-color: #51859d;*/
  background-color: #00a4ff;
  color: #ffffff;
}
.sidebar_title{
  font-size: 16px;
  /*color: #0c5460;*/
  color: #ffffff;
  padding-left: 40px;
  line-height: 40px;
}
mat-nav-list a.sidebar_title{
  /*color:#607D8B;*/
  color: #ffffff;
}


.sidebar_title i{
  float: right;
  margin-right: 40px;
  line-height: 36px;
}
.sidebar_title span{
  margin-right: 12px;
}
.smenu_head{
  font-size: 16px;
  color: #ffffff;
  padding-left: 40px;
  line-height: 40px;
}
.smenu_head:hover{
  background-color: #224762;
  transition: all .3s linear;
}
.sub_menu{
  /*background-color: #dbe1e7;*/
  transition: all .3s linear;
}

.sub_menu li a{
  padding-left: 20px;
}
.smenu_head i,.sub_menu li a i{
  /*width: 30px;*/
  margin-right: 12px;
  /*margin-right: 5px;*/
}
.sub_menu li a img{
  width: 16px;
  margin-right: 12px;
}
.sub_menu li a:hover{
  /*background-color: rgba(72,198,255,.8);*/
  color: #fff;
  display: flex;
  /*background-color: #8eacbb;*/
  /*color: #1976d2;*/
  background-color: #224762;
  transition: all .3s linear;
}


.collapse1 .fa-angle-right{
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: transform 150ms,-webkit-transform 150ms;
}
.expand .fa-angle-right{
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: transform 150ms,-webkit-transform 150ms;
}
.collapse1 .sub_menu{
  visibility: hidden;
  opacity: 0;
  max-height: 1px;
  transition: visibility 275ms,opacity 275ms,max-height 280ms;
  transition-timing-function: ease-out;
}
.expand .sub_menu{
  visibility: visible;
  opacity: 1;
  max-height: 4000px;
  transition: visibility .5s,opacity .5s,max-height .5s;
  transition-timing-function: ease-in-out;
}
