
<mat-nav-list>
  <ul>
    <li [class.collapse1]="!submenuShow[0]" [class.expand]="submenuShow[0]" *ngIf="user&&user.Role.RoleId > 1">
      <a class="sidebar_title" (click)="submenuToggle(0)">
        主监控台
        <i class="fa fa-angle-right"></i>
        <!--<i class="fa fa-angle-down" *ngIf="submenuShow[0]"></i>-->
      </a>
      <ul class="sub_menu" >
        <!--<li>
          <a routerLink="/admin/recharge" routerLinkActive="active" mat-list-item>
            &lt;!&ndash;<img src="assets/icons/icon_monitor.png" alt="">&ndash;&gt;
            <i class="fa fa-money"></i>
            流量卡充值
          </a>
        </li>-->
        <li>
          <a routerLink="/admin/overview" routerLinkActive="active" mat-list-item>
            <!--<img src="assets/icons/icon_monitor.png" alt="">-->
            <i class="fa fa-file-text-o"></i>
            快速配置
          </a>
        </li>
        <li>
          <a routerLink="/admin/monitor" routerLinkActive="active" mat-list-item>
            <!--<i class="fa fa-bar-chart-o"></i>-->
            <img src="assets/icons/icon_monitor.png" alt="">
            设备概览
          </a>
        </li>
        <li>
          <a routerLink="/admin/alarm" routerLinkActive="active" mat-list-item>
            <!--<i class="fa fa-bell-o"></i>-->
            <img src="assets/icons/icon_alarm.png" alt="">
            告警记录
          </a>
        </li>
        <li>
          <a routerLink="/admin/malfunction" routerLinkActive="active" mat-list-item>
            <!--<i class="fa fa-wrench"></i>-->
            <img src="assets/icons/malfunction.png" alt="">
            故障记录
          </a>
        </li>
      </ul>
    </li>

    <li [class.collapse1]="!submenuShow[1]" [class.expand]="submenuShow[1]" >
      <a class="sidebar_title" (click)="submenuToggle(1)">
        常用功能
        <i class="fa fa-angle-right"></i>
      </a>
      <ul class="sub_menu">
        <li *ngIf="user&&user.Role.RoleId > 1">
          <a routerLink="/admin/cluster" routerLinkActive="active" mat-list-item>
            <!--<i class="fa fa-cubes"></i>-->
            <img src="assets/icons/icon_cluster.png" alt="">
            集群管理
          </a>
        </li>
        <li *ngIf="user&&user.Role.RoleId > 1">
          <a routerLink="/admin/attendance" routerLinkActive="active" mat-list-item>
            <i class="fa fa-cubes"></i>
            <!--<img src="assets/icons/icon_cluster.png" alt="">-->
            考勤管理
          </a>
        </li>
        <li *ngIf="user&&user.Role.RoleId > 1">
          <a routerLink="/admin/equipments" routerLinkActive="active" mat-list-item>
            <!--<i class="fa fa-fire"></i>-->
            <img src="assets/icons/equip.png" alt="">
            设备信息
          </a>
        </li>
        <li *ngIf="user&&user.Role.RoleId<=10">
          <a routerLink="/admin/terminal" routerLinkActive="active" mat-list-item>
            <!--<i class="fa fa-sitemap"></i>-->
            <img src="assets/icons/icon_term.png" alt="">
            终端管理
          </a>
        </li>
        <li *ngIf="user&&user.Role.RoleId<=10">
          <a routerLink="/admin/video" routerLinkActive="active" mat-list-item>
            <i class="fa fa-video-camera"></i>
            视频管理
          </a>
        </li>
        <li *ngIf="user&&user.Role.RoleId<=10">
          <a routerLink="/admin/face-recognize" routerLinkActive="active" mat-list-item>
            <i class="fa fa-user-circle-o"></i>
            人脸识别
          </a>
        </li>
        <li *ngIf="user && user.Role.RoleId > 1 && user.Role.RoleId<=10">
          <a routerLink="/admin/template" routerLinkActive="active" mat-list-item>
            <!--<i class="fa fa-newspaper-o"></i>-->
            <img src="assets/icons/icon_template.png" alt="">
            模板管理
          </a>
        </li>
        <li *ngIf="user && user.Role.RoleId<=10">
          <a routerLink="/admin/bluetooth" routerLinkActive="active" mat-list-item>
            <i class="fa fa-bluetooth"></i>
            蓝牙管理
          </a>
        </li>
        <!--<li>
          <a routerLink="/admin/maintain" routerLinkActive="active" mat-list-item>
            <i class="fa fa-recycle"></i>
            维保记录
          </a>
        </li>-->
      </ul>
    </li>

    <li [class.collapse1]="!submenuShow[2]" [class.expand]="submenuShow[2]">
      <a class="sidebar_title" (click)="submenuToggle(2)">
        信息维护
        <i class="fa fa-angle-right"></i>
      </a>
      <ul class="sub_menu">
        <li>
          <a routerLink="/admin/organization" routerLinkActive="active" mat-list-item>
            <!--<i class="fa fa-home"></i>-->
            <img src="assets/icons/org.png" alt="">
            企业信息
          </a>
        </li>
        <li>
          <a routerLink="/admin/user-account" routerLinkActive="active" mat-list-item>
            <!--<i class="fa fa-credit-card"></i>-->
            <img src="assets/icons/icon_account.png" alt="">
            账号管理
          </a>
        </li>
        <li>
          <a routerLink="/admin/service" routerLinkActive="active" mat-list-item>
            <!--<img src="assets/icons/icon_account.png" alt="">-->
            <i nz-icon type="customer-service" theme="outline"></i>
            服务支持
          </a>
        </li>
        <li>
          <a routerLink="/admin/profile" routerLinkActive="active" mat-list-item>
            <i class="fa fa-user-o"></i>
            用户信息
          </a>
        </li>
      </ul>
    </li>

    <li [class.collapse1]="!submenuShow[3]" [class.expand]="submenuShow[3]" *ngIf="user && user.Role.RoleId <=1">
      <a class="sidebar_title" (click)="submenuToggle(3)">
        其他
        <i class="fa fa-angle-right"></i>
      </a>
      <ul class="sub_menu">
        <li>
          <a routerLink="/admin/upload" routerLinkActive="active" mat-list-item>
            <!--<i class="fa fa-upload"></i>-->
            <img src="assets/icons/icon_upload.png" alt="">
            文件上传
          </a>
        </li>

      </ul>
    </li>
  </ul>


</mat-nav-list>







