/*.sidenav-container {
  height: 100%;
}

.sidenav {
  !*width: 230px;*!
  width: 100%;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  background-color: #e9ecef;

  !*background-color: #224562;*!
  !*color: #fff;*!
}*/
mat-nav-list a{
  font-size: 14px;
  color: #ffffff;
  display: block;
}

mat-nav-list a.active{
  background-color: #666EE8;
  color: #ffffff;
}

mat-nav-list a.sidebar_title{
  color: #ffffff;
  background-color: #2D2E4F;
  /*font-size: 14px;*/
  padding-left: 23px;
  line-height: 40px;
}


.sidebar_title i{
  float: right;
  margin-right: 14px;
  line-height: 36px;
}
.sidebar_title span{
  margin-right: 12px;
}
.side_icon{
  /*width: 16px;*/
  margin-right: 12px;
}
.smenu_head{
  font-size: 16px;
  color: #ffffff;
  padding-left: 23px;
  line-height: 40px;
  background-color: #2D2E4F;
}
.smenu_head:hover{
  background-color: #666EE8;
  transition: all .3s linear;
}
.sub_menu{
  /*background-color: #dbe1e7;*/
  transition: all .3s linear;
}

.sub_menu li a{
  padding-left: 10px;
  background-color: #18192D;
}
.smenu_head i,.sub_menu li a i{
  margin-right: 12px;
}
.sub_menu li a .side_icon{
  width: 16px;
  margin-right: 12px;
}
.sub_menu li a.active{
  background-color: #666EE8;
}
.sub_menu li a:hover{
  background-color: rgba(102,110,232,.6);
  color: #fff;
  /*display: flex;*/
  /*background-color: #666EE8;*/
  transition: all .3s linear;
}

/* 选中 图标*/
.cur_icon{
  position: absolute;
  width: 10px;
  height: 10px;
  right: 14px;
  top: 15px;
  margin: 0;
  display: none;
}
.active .cur_icon{
  display: block;
}


.collapse1 .fa-angle-right{
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: transform 150ms,-webkit-transform 150ms;
}
.expand .fa-angle-right{
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transition: transform 150ms,-webkit-transform 150ms;
}
.collapse1 .sub_menu{
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition: visibility 275ms,opacity 275ms,max-height 280ms;
  transition-timing-function: ease-out;
}
.expand .sub_menu{
  visibility: visible;
  opacity: 1;
  max-height: 4000px;
  transition: visibility .5s,opacity .5s,max-height .5s;
  transition-timing-function: ease-in-out;
}
