.sidenav-container {
  height: 100%;
}

.sidenav {
  /*width: 230px;*/
  width: 100%;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  /*background-color: #e9ecef;*/

  /*background-color: #224562;*/
  /*color: #fff;*/
}
.sidenav a{
  font-size: 14px;
  /*color: #fff;*/
  display: block;
}

.sidenav a.active{
  background-color: #607D8B;
  color: #ffffff;
}
.sidebar_title{
  font-size: 16px;
  color: #0c5460;
  padding-left: 10px;
  line-height: 40px;
}
.sidebar_title i{
  float: right;
  margin-right: 10px;
  line-height: 36px;
}
.sub_menu{
  transition: all .3s linear;
}
.sub_menu li a:hover{
  /*background-color: rgba(72,198,255,.8);*/
  color: #fff;
  background-color: #607D8B;
  /*color: #1976d2;*/
  transition: all .3s linear;
}
