
<div class="">
  <div class="mat-card-title">
    <h5 class="text_info pull-left">
      <img src="assets/icons/equip.png" alt="">
      设备信息
    </h5>

    <div class="pull-right flex flex-row">
      <div class="input-group mb-4">
        <input type="text" class="form-control" placeholder="请输入设备名称" [(ngModel)]="search" >
        <div class="input-group-append" (click)="searchChange()">
          <button class="btn btn_info" type="button"><i class="fa fa-search"></i></button>
        </div>
      </div>
      <div class="ml-3" >
        <a [routerLink]="['/admin/equipments/templates']"
           *ngIf="user && user.Role.RoleId<=10"
           class="btn btn_info" style="color: #ffffff;">
          设备型态
        </a>
      </div>
      <div class="ml-3" >
        <button class="btn btn_info" (click)="newBoiler()"
                *ngIf="user && user.Role.RoleId<=10">
          新增设备
        </button>
      </div>
    </div>

  </div>

  <div class="t_content">
    <table class="table">
      <thead class="bg_light_primary">
        <tr>
          <th *ngIf="user && user.Role.RoleId<=10">
            <div class="checkbox c-checkbox white">
              <label>
                <input type="checkbox" [(ngModel)]="allDelete" (change)="allDel();">
                <span class="fa fa-check"></span></label>
            </div>
          </th>
          <th>序号</th>
          <th>设备名称</th>
          <th>使用企业</th>
          <th>关联终端号</th>
          <th>设备型态</th>
          <th>所属集群</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let boiler of boilers; trackBy: trackByUid; let i = index">
          <td *ngIf="user && user.Role.RoleId<=10">
            <div class="checkbox c-checkbox">
              <label>
                <input type="checkbox" [(ngModel)]="boiler.checkDelete" (change)="checkDel(boiler);">
                <span class="fa fa-check"></span></label>
            </div>
          </td>
          <td> {{ i + 1 }} </td>
          <td> {{ boiler.Name }} </td>
          <td> {{ boiler.enterprise }} </td>
          <td>
            <span *ngFor="let ter of boiler.TerminalsCombined" class="mr-2">
              {{ ter.TerminalCode }}
            </span>
          </td>
          <td> {{ boiler.Template?.Name }} </td>
          <td> {{ boiler.Clusters?.Name }} </td>
          <td> <a [routerLink]="['/admin/equipments/equipment-info', boiler.Uid]" class="btn btn_info btn-sm" style="color: #ffffff;">查看</a> </td>
        </tr>
      </tbody>
    </table>
    <p class="text-muted" *ngIf="!boilers||boilers.length===0">
      无有效数据
    </p>
  </div>


  <div class="t_bottom">

    <div class="pull-left">
      <button class="btn btn_info" (click)="deleteG()"
              nz-button [nzLoading]="isLoading"
              *ngIf="user && user.Role.RoleId<=10">
        批量删除
      </button>
    </div>

    <!--<div class="pull-left ml-3">
      <button class="btn btn_info" (click)="groupControl(1)">
        批量启动
      </button>
    </div>-->

    <div class="pull-left ml-3">
      <button class="btn btn_info" (click)="joinCluster()"
              *ngIf="user && user.Role.RoleId===10">
        批量添加集群
      </button>
    </div>

    <ngb-pagination class="pull-right"
                    [collectionSize]="totalItems"
                    [pageSize]="pageSize" [(page)]="page"
                    [maxSize]="3" [rotate]="true" [boundaryLinks]="false"
                    (pageChange)="pageChange()">

    </ngb-pagination>
    <div class="pull-right mr-3">
      <select [(ngModel)]="pageSize" class="form-control" (change)="pageSizeChange()">
        <option value="10">10</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
    <div class="pull-right mr-3" style="line-height: 33px;"> 共 {{totalItems}} 项</div>
  </div>

</div>
