<div class="maintain_view">
  <div class="maintain_head">
    <div style="width: 20%; font-size: 16px;">
      维保组件
    </div>
    <div style="width: 20%; font-size: 16px;">
      组件状态
    </div>
    <div class="" style="width: 15%; font-size: 16px;">
      备注
    </div>
    <div class="col align-self-end text-right">
      <span>创建者：{{create}} </span> &nbsp;
      <span>上传时间： {{date | date: 'yyyy-MM-dd hh:mm:ss'}} </span>
    </div>

  </div>

  <div class="maintain_body">
    <ul>
      <li class="maintain_item" *ngFor="let data of viewList">
        <div class="maintain_cell" style="width: 20%;">
            {{data.Name}}
        </div>
        <div class="maintain_cell" style="width: 20%;">
            <div class="status_box">
                <div class="status_blue" *ngIf="!data.Result">
                  正常
                </div>
                <div></div>
                <div class="status_yellow" *ngIf="data.Result">
                  异常
                </div>
            </div>
        </div>
        <div class="maintain_cell">
          {{data.Remark}}
        </div>
      </li>
    </ul>
  </div>

</div>
