
.tp_channel{
  padding: 10px 30px;
}

.channel_content{
  margin-bottom: 35px;
}


.channel_content .form-control{
  padding: 0.375rem;
}

mat-grid-tile {
  cursor: pointer;
}
mat-grid-tile:hover{
  background-color: #cce5ff;
}
.t_btn_g{
  display: flex;
}
.t_btn_g button{
  margin-right: 10px;
}


.input99{
  background-color: #e9ecef;
  line-height: 33px;
  padding-left: 5px;
}
input.write_input{
  width:57px;
  height:19px;
  border:1px solid #EDEEF4;
}




.t_add_b{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
