

<div class="content">
  <div class="list_head">
    <div class="li_head_l">
      <h5 class="text_purple">
        我的订单
      </h5>
    </div>
    <div class="li_head_r">
      <!--刷新-->
      <button class="btn btn_purple-o btn_round bps" (click)="searchChange()">
        <i class="iconfont iconicon_Refresh"></i>
      </button>

    </div>
  </div>

  <div class="charge_list">
    <div class="c_head">
      <div class="h_l">
        <div class="search_box">
          <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate" [nzSuffix]="addOnAfterTemplate">
            <input type="text" nz-input [(ngModel)]="value" (keyup)="searchEnter($event)" maxlength="20"/>
          </nz-input-group>
          <ng-template #addOnBeforeTemplate>
            <nz-select [(ngModel)]="search">
              <nz-option [nzLabel]="'订单编号'" [nzValue]="'order_sn'"></nz-option>
              <nz-option [nzLabel]="'订购产品'" [nzValue]="'item_name'"></nz-option>
              <nz-option [nzLabel]="'所属单位'" [nzValue]="'created_org'"></nz-option>
            </nz-select>
          </ng-template>
          <ng-template #addOnAfterTemplate>
            <!--<img src="assets/icons/icon_seach.png" alt="" class="search_icon" (click)="searchChange()">-->
            <!--<i class="fa fa-search" (click)="searchChange()" style="color: #999999;"></i>-->
            <i nz-icon nzType="search" nzTheme="outline" style="color: #999999;" (click)="searchChange()"></i>
          </ng-template>

        </div>
      </div>


      <div class="h_r">

      </div>

    </div>


    <div style="margin-top: 10px;" class="bill">
      <nz-spin [nzSpinning]="isSpinning">
        <table class="table">
          <thead>
          <tr>
            <th>订单编号</th>
            <th>订购产品</th>
            <th>订单创建账号</th>
            <th>所属企业</th>
            <th>创建时间</th>
            <th>支付时间</th>
            <th>当前状态</th>
            <th>实付金额</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of dataLists">
            <td>{{data.order_sn}}</td>
            <td>{{data.item_name}}</td>
            <td>{{data.created_username || '空'}}（{{data.created_name || '空'}}）</td>
            <td>{{data.created_org}}</td>
            <td>{{data.created_at | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{data.pay_at | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>
              <nz-tag [nzColor]="'#1E9FF2'" *ngIf="data.order_status === 3">已支付</nz-tag>
              <nz-tag [nzColor]="'#FFC06A'" *ngIf="data.order_status === 1">待支付</nz-tag>
              <nz-tag [nzColor]="'#C0C4D2'" *ngIf="data.order_status === 2"> 作 废 </nz-tag>
              <nz-tag [nzColor]="'#C0C4D2'" *ngIf="data.order_status === 0">已取消</nz-tag>
            </td>
            <td>{{data.pay_money | currency: '￥'}}</td>
            <td>
              <a [routerLink]="['/charge/order/info', data.order_sn, page]" style="color: #5584FF; font-size: 12px;">详情</a>
            </td>
          </tr>
          </tbody>
        </table>
      </nz-spin>

      <div *ngIf="!dataLists || dataLists.length <= 0">
        <nz-empty></nz-empty>
      </div>


      <ng-template #totalTemplate let-total> 共计 {{ totalItems }} 项 </ng-template>

      <div class="content_b">
        <nz-pagination nzShowSizeChanger
                       [nzTotal]="totalItems"
                       [nzShowTotal]="totalTemplate"
                       [(nzPageIndex)]="page"
                       [(nzPageSize)]="pageSize"
                       (nzPageIndexChange)="pageChange()"
                       (nzPageSizeChange)="pageSizeChange()"
                       [nzPageSizeOptions] = "pageSizeList">

        </nz-pagination>
        <div class="ant-pagination-options-quick-jumper"> 跳至
          <input type="number" [(ngModel)]="pageNum"> 页 </div>
        <button (click)="goPage()" nz-button class="btn_purple ml-3">跳转</button>
      </div>


    </div>

  </div>
</div>









