.view_list{

}

.list_head{
  padding: 30px;
}
.list_head h6{
  font-size: 18px;
}
.list_body{

}
.list_body .table tr.active{
  background-color: #ffffff;
}
.list_body .table td{
  border: none;
  color: #666666;
}

.list_bottom{
  padding: 20px 30px;
}



