
<div class="modal-header">
  <h4 class="modal-title">
    <img src="assets/icons/setting.png" alt="" style="margin-right: 19px;">
    集群基础信息设置
  </h4>
</div>

<div class="modal-body m_form">
  <div class="m_item">
    <div class="m_label">
      集群产品序列号 <span>*</span>：
    </div>
    <div class="m_input">
      <input type="text" class="form-control" [(ngModel)]="label" placeholder="请输入集群产品序列号">
    </div>
  </div>

  <div class="m_item">
    <div class="m_label">
      集群验证码 <span>*</span>：
    </div>
    <div class="m_input">
      <input type="text" class="form-control" [(ngModel)]="secretKey" placeholder="请输入集群验证码">
    </div>
  </div>






</div>

<div class="modal-footer">
  <button type="button" class="btn" (click)="activeModal.dismiss('close')">取 消</button>
  <button type="button" class="btn btn_purple" style="margin-left: 35px;" (click)="save()" [disabled]="!label || !secretKey">确 定</button>
</div>



