

<div class="content">
  <div class="charge_info_head">
    <div class="c_head_l">
      <h5>NK物联网终端订购</h5>
    </div>
    <div class="c_head_r"></div>
  </div>

  <div class="c_info">
    <div class="c_content">
      <div class="cf_label">
        硬件版本：
      </div>
      <div class="flex">
        <div class="c_c1 active">
          A版本
        </div>

        <div class="c_c1">
          B版本
        </div>

        <div class="c_c1">
          C版本
        </div>
      </div>
    </div>

    <div class="c_content">
      <div class="cf_label">
        购买数量：
      </div>
      <div>
        <input type="number" [(ngModel)]="count"
               style="width:286px; height:28px; border:1px solid #979797;">
      </div>
    </div>

    <div class="c_content">
      <div class="cf_label">
        收货地址：
      </div>
      <div>

        <nz-radio-group [(ngModel)]="type" [nzButtonStyle]="'solid'">
          <label nz-radio nzValue="10">浙江省 宁波市 鄞州区 新明街道 XXX</label>
          <label nz-radio nzValue="11">浙江省 宁波市 鄞州区 新明街道 XXX</label>
          <label nz-radio nzValue="0">浙江省 宁波市 鄞州区 新明街道 XXX</label>
        </nz-radio-group>

      </div>
    </div>

  </div>

  <div class="cf_bottom">
    <div class="cost">
      <div class="cost_label">
        费用小计：
      </div>
      <div class="cost_value">
        ¥ 9000.00
      </div>
    </div>

    <div>
      <button class="btn btn_purple bpm">
        提交
      </button>
    </div>

  </div>
</div>






