

<!--<div class="mt-3">
  <div class="row">
    <div class="col-3 p-2" style="">

      <div class="mb-3 flex justify-content-between status_row">
        <div class=" p-2 status_col"
             [ngClass]="{'bg_light_secondary': termStatus === 1, 'bg_grey': termStatus !== 1 }">
          <div class="status_t">
            终端状态
          </div>
          <div class="status_text">
            {{online}}
          </div>
        </div>

        <div class=" p-2 status_col"
             [ngClass]="{'bg_light_secondary': termStatus === 1 && eptStatus === true, 'bg_grey': termStatus !== 1 || eptStatus === false}">
          <div class="status_t">
            运行状态
          </div>
          <div class="status_text">
            {{isBurning}}
          </div>
        </div>

        <div class=" p-2 status_col"
             [ngClass]="{'bg-warning': termStatus === 1 && alarmStatus === true, 'bg_light_secondary': termStatus === 1 && alarmStatus === false, 'bg_grey': termStatus !== 1}">
          <div class="status_t">
            告警状态
          </div>
          <div class="status_text">
            {{hasWarning}}
          </div>
        </div>
      </div>

      &lt;!&ndash;控制&ndash;&gt;
      <div *ngIf="controlShow && termStatus === 1" class="mb-3">
        <div class="btn-group" style="width: 100%;">
          <button class="btn btn-outline-info" style="width: 33%;" (click)="equipControl(2)"
                  [disabled]="termStatus === 1 && eptStatus === true || isLoading === true">
            启动
          </button>
          <button class="btn btn-outline-danger" style="width: 33%;" (click)="equipControl(1)"
                  [disabled]="termStatus !== 1 || eptStatus === false || isLoading === true">
            关闭
          </button>
          <button class="btn btn-outline-success" style="width: 33%;" (click)="equipControl(3)"
                  [disabled]="isLoading === true">
            重置
          </button>
        </div>
      </div>


      &lt;!&ndash;状态量&ndash;&gt;
      <div class="scroll_bar part" style="height: 450px;overflow: auto; white-space: nowrap;">
        <table class="table" style="color: #888888;">
          <tr *ngFor="let data of ranges; trackBy: trackByUid;" style="">
            <td style="">
              &lt;!&ndash;{{ data.ChannelNumber }}&ndash;&gt;
              {{ data.ChannelName }}
              <br/>
              <span style="font-size: 10px; opacity: 0.8;">{{data.TerminalCode}}</span>
            </td>
            <td style="white-space: nowrap;">
              <span class="badge" [ngClass]="{'badge-info':data.AlarmStatus === false, 'badge-warning':data.AlarmStatus === true}">
                {{ data.Remark }}
              </span>
            </td>
          </tr>
        </table>
      </div>


    </div>
    <div class="col-6 p-2">

      <div class="text-center part" style="padding: 30px;">
        <img src="{{img}}" style="width: 90%; height: 300px;" alt="">
      </div>

      <div class="mt-3 part" style="">
        &lt;!&ndash;开关量&ndash;&gt;
        <ul style="display: flex; flex-wrap: wrap;">
          <li *ngFor="let data of switchs; trackBy: trackByUid;">
            <div class="badge" *ngIf="data.SwitchStatus !== 0"
                 [ngClass]="{'badge-info':data.SwitchStatus === 1, 'badge-warning':data.SwitchStatus === 2 }"
                 style="min-width: 80px; margin-right: 10px;">
              &lt;!&ndash;{{ data.ChannelNumber }}&ndash;&gt;
              {{ data.ChannelName }}
              <br/>
              <span style="font-size: 10px; opacity: 0.8;">{{data.TerminalCode}}</span>
            </div>
            &lt;!&ndash;<div style="width: 60px;">
              {{ data.Value }}
            </div>&ndash;&gt;
          </li>
        </ul>
      </div>

    </div>
    <div class="col-3 p-2" style="">
      &lt;!&ndash;模拟量&ndash;&gt;
      <div class="scroll_bar part" style="height: 560px;overflow: auto; white-space: nowrap;">
        <table class="table" style="color: #888888;">
          <tr *ngFor="let data of analogues; trackBy: trackByUid;">
            <td>
              &lt;!&ndash;{{ data.ChannelNumber }}&ndash;&gt;
              {{ data.ChannelName }}
              <br/>
              <span class="text-muted" style="font-size: 10px;">{{data.TerminalCode}}</span>
            </td>
            <td>
              {{ data.Value }}
            </td>
            <td>
              {{ data.Unit }}
            </td>
            <td>
            <span class="badge badge-info" *ngIf="data.AlarmStatus === false">
              正常
            </span>
              <span class="badge badge-warning" *ngIf="data.AlarmStatus === true">
              异常
            </span>
            </td>

          </tr>
        </table>

        &lt;!&ndash;平均值&ndash;&gt;
        &lt;!&ndash;<table class="table" style="color:#888888;">
          <tr *ngFor="let data of averageList; trackBy: trackByUid;">
            <td>
              通道
              {{ data.chanNum }}
            </td>
            <td>
              {{ data.average }}
            </td>
            <td>
              {{ data.Unit }}
            </td>
            <td>
            <span class="badge badge-info" *ngIf="data.AlarmStatus === false">
              正常
            </span>
              <span class="badge badge-warning" *ngIf="data.AlarmStatus === true">
              异常
            </span>
            </td>

          </tr>
        </table>&ndash;&gt;

      </div>
    </div>

  </div>
</div>-->


<div class="flash" *ngIf="!expand1 && !expand2 && !expand3">
  <div class="flash_left">
    <div class="fl_top">
      <div class="fl_head">
        <h6>
          <a [routerLink]="['/admin/equipments/equipment-info', uid]">
            {{name}}
          </a>
        </h6>
        <div class="status_row">
          <div class="status_col"
               [ngClass]="{'s_blue': termStatus === 1, 's_grey': termStatus !== 1 }">
            <div class="status_t">
              终端状态
            </div>
            <div class="status_text">
              {{online}}
            </div>
          </div>

          <div class="status_col"
               [ngClass]="{'s_blue': termStatus === 1 && eptStatus === true, 's_grey': termStatus !== 1 || eptStatus === false}">
            <div class="status_t">
              运行状态
            </div>
            <div class="status_text">
              {{isBurning}}
            </div>
          </div>

          <div class="status_col"
               [ngClass]="{'s_red': termStatus === 1 && alarmStatus === true, 's_blue': termStatus === 1 && alarmStatus === false, 's_grey': termStatus !== 1}">
            <div class="status_t">
              告警状态
            </div>
            <div class="status_text">
              {{hasWarning}}
            </div>
          </div>

          <div class="status_col"
               [ngClass]="{'s_yellow': termStatus === 1 && malfunction === true, 's_blue': termStatus === 1 && malfunction === false, 's_grey': termStatus !== 1}">
            <div class="status_t">
              故障状态
            </div>
            <div class="status_text">
              {{hasMalfunction}}
            </div>
          </div>

        </div>
      </div>
      <div class="fl_img">
        <img src="{{img}}" alt="">


        <!--控制-->
        <div *ngIf="controlShow && termStatus === 1 && uid!='3792e9fd-07da-4cf5-a748-8da3cb2897bd'"  class="control_box">
          <div class="btn-group" style="width: 100%;">
            <button class="btn btn-outline-info" style="width: 33%;" (click)="equipControl(2)"
                    [disabled]="termStatus === 1 && eptStatus === true || isLoading === true">
              启动
            </button>
            <button class="btn btn-outline-danger" style="width: 33%;" (click)="equipControl(1)"
                    [disabled]="termStatus !== 1 || eptStatus === false || isLoading === true">
              关闭
            </button>
            <button class="btn btn-outline-success" style="width: 33%;" (click)="equipControl(3)"
                    [disabled]="isLoading === true">
              重置
            </button>
          </div>

        </div>


        <div *ngIf="controlShow && termStatus === 1 && uid==='3792e9fd-07da-4cf5-a748-8da3cb2897bd'"  class="control_box" style="width: 260px;">
          <div class="btn-group" style="width: 100%;">
            <button class="btn btn-outline-info" style="width: 33%;" (click)="equipControl(2)"
                    [disabled]="isLoading === true">
              手动启停
            </button>
            <button class="btn btn-outline-danger" style="width: 33%;" (click)="equipControl(1)"
                    [disabled]="isLoading === true">
              手自切换
            </button>
            <button class="btn btn-outline-success" style="width: 33%;" (click)="equipControl(3)"
                    [disabled]="isLoading === true">
              主备切换
            </button>
          </div>
        </div>
      </div>
      <div class="fl_sw">
        <!--左箭头-->
        <div class="sw_arrow" (click)="preP()" *ngIf="page2 > 1">
          <i class="fa fa-angle-left"></i>
        </div>

        <!--开关量-->
        <div class="sw_content row">
          <div class="sw_cell col-2" *ngFor="let data of switchs2; trackBy: trackByUid;">
            <div class="sw_circle" [ngClass]="{'c_info':data.SwitchStatus === 1, 'c_warning':data.SwitchStatus === 2 }">
            </div>
            <div class="">
              {{ data.ChannelName }}
            </div>
          </div>
        </div>

        <!--右箭头-->
        <div class="sw_arrow" (click)="nextP()" *ngIf="page2 < tpage2">
          <i class="fa fa-angle-right"></i>
        </div>

      </div>
    </div>


    <div class="fl_bottom">
      <div class="fl_head" style="align-items: center;">
        <div class="an_title" style="font-weight: bold;">
          今日运行分析
        </div>
        <div>
          <a class="" style="color: #247bd7;" [routerLink]="['../analysis']">
            历史运行分析报告 >>
          </a>
        </div>
      </div>


      <ul>
        <li>
          <div class="fl_b_label">
            运行时长
          </div>
          <div class="fl_b_value">
            {{analysis?.runtime}} 小时
          </div>
        </li>

        <li>
          <div class="fl_b_label">
            最高排烟温度
          </div>
          <div class="fl_b_value">
            {{analysis?.max_temper}} ℃
          </div>
        </li>

        <li>
          <div class="fl_b_label">
            预估当日燃气消耗量
          </div>
          <div class="fl_b_value">
            {{analysis?.fuel_consumer}} m³
          </div>
        </li>

        <li>
          <div class="fl_b_label">
            启炉次数
          </div>
          <div class="fl_b_value">
            {{analysis?.run_count}} 次
          </div>
        </li>

        <li>
          <div class="fl_b_label">
            平均排烟温度
          </div>
          <div class="fl_b_value">
            {{analysis?.aver_temper}} ℃
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="flash_right ml-3">
    <!--模拟量-->
    <div class="fr_1">
      <div class="an_head">
        <div class="an_title">
          模拟量数据
        </div>
        <div (click)="expand1=true">
          <img src="assets/icons/expand.png" alt="">
        </div>
      </div>
      <div class="an_list">
        <table class="table" style="color: #888888;">
          <tr *ngFor="let data of analogues2; trackBy: trackByUid;">
            <td>
              <!--{{ data.ChannelNumber }}-->
              {{ data.ChannelName }}
              <!--<br/>-->
              <!--<span class="text-muted" style="font-size: 10px;">{{data.TerminalCode}}</span>-->
            </td>
            <td>
              {{ data.Value }}
            </td>
            <td>
              {{ data.Unit }}
            </td>
            <td>
              <span class="label label_info" *ngIf="termStatus === 1 && data.AlarmStatus === false">
                正常
              </span>
              <span class="label label_warning" *ngIf="termStatus === 1 && data.AlarmStatus === true">
                异常
              </span>
              <span class="label label_grey" *ngIf="termStatus !== 1">
                未测定
              </span>
            </td>

          </tr>
        </table>
      </div>

      <div class="an_page">
        <div class="float-right" style="line-height: 25px; margin-left: 10px;">
          共 {{tpage1}} 页
        </div>
        <nz-pagination [(nzPageIndex)]="page1" [nzTotal]="total1" [nzSize]="'small'" (nzPageIndexChange)="pageChange1()" class="float-right"></nz-pagination>
      </div>

    </div>

    <!--状态量-->
    <div class="fr_2">
      <div class="an_head">
        <div class="an_title">
          状态量数据
        </div>
        <div (click)="expand3=true">
          <img src="assets/icons/expand.png" alt="">
        </div>
      </div>
      <div class="an_list">
        <table class="table" style="color: #888888;">
          <tr *ngFor="let data of ranges2; trackBy: trackByUid;" style="">
            <td style="">
              <!--{{ data.ChannelNumber }}-->
              {{ data.ChannelName }}
              <!--<br/>
              <span style="font-size: 10px; opacity: 0.8;">{{data.TerminalCode}}</span>-->
            </td>
            <td style="white-space: nowrap;" *ngIf="termStatus === 1">
              <span class="label" [ngClass]="{'label_info':data.AlarmStatus === false, 'label_warning':data.AlarmStatus === true}">
                {{ data.Remark }}
              </span>
            </td>
          </tr>
        </table>
      </div>

      <div class="an_page">
        <div class="float-right" style="line-height: 25px; margin-left: 10px;">
          共 {{tpage3}} 页
        </div>
        <nz-pagination [(nzPageIndex)]="page3" [nzTotal]="total3" [nzPageSize]="5" [nzSize]="'small'" (nzPageIndexChange)="pageChange3()" class="float-right"></nz-pagination>
      </div>

    </div>
  </div>


</div>



<!--模拟量全屏-->
<div class="an_expand" *ngIf="expand1">
  <div class="ex_head">
    <h6>
      模拟量数据
    </h6>
    <div (click)="expand1=false">
      <img src="assets/icons/expand.png" alt="">
    </div>
  </div>

  <div class="ex_body">
    <div class="ex_l">
      <table class="table" style="color: #888888;">
        <tr *ngFor="let data of analogues | slice: 0 : exTotal1; trackBy: trackByUid;">
          <td>
            {{ data.ChannelName }}
          </td>
          <td>
            {{ data.Value }}
          </td>
          <td>
            {{ data.Unit }}
          </td>
          <td>
             <span class="label label_info" *ngIf="termStatus === 1 && data.AlarmStatus === false">
                正常
              </span>
            <span class="label label_warning" *ngIf="termStatus === 1 && data.AlarmStatus === true">
                异常
              </span>
            <span class="label label_grey" *ngIf="termStatus !== 1">
                未测定
              </span>
          </td>

        </tr>
      </table>
    </div>
    <div class="ex_r">
      <table class="table" style="color: #888888;">
        <tr *ngFor="let data of analogues | slice: exTotal1 : total1; trackBy: trackByUid;">
          <td>
            {{ data.ChannelName }}
          </td>
          <td>
            {{ data.Value }}
          </td>
          <td>
            {{ data.Unit }}
          </td>
          <td>
             <span class="label label_info" *ngIf="termStatus === 1 && data.AlarmStatus === false">
                正常
              </span>
              <span class="label label_warning" *ngIf="termStatus === 1 && data.AlarmStatus === true">
                异常
              </span>
              <span class="label label_grey" *ngIf="termStatus !== 1">
                未测定
              </span>
          </td>

        </tr>
      </table>
    </div>
  </div>


</div>


<!--状态量全屏-->
<div class="an_expand" *ngIf="expand3">
  <div class="ex_head">
    <h6>
      状态量数据
    </h6>
    <div (click)="expand3=false">
      <img src="assets/icons/expand.png" alt="">
    </div>
  </div>

  <div class="ex_body">
    <div class="ex_l">
      <table class="table" style="color: #888888;">
        <tr *ngFor="let data of ranges | slice: 0 : exTotal3; trackBy: trackByUid;" style="">
          <td style="">
            <!--{{ data.ChannelNumber }}-->
            {{ data.ChannelName }}
            <br/>
            <span style="font-size: 10px; opacity: 0.8;">{{data.TerminalCode}}</span>
          </td>
          <td style="white-space: nowrap;" *ngIf="termStatus === 1">
              <span class="label" [ngClass]="{'label_info':data.AlarmStatus === false, 'label_warning':data.AlarmStatus === true}">
                {{ data.Remark }}
              </span>
          </td>
        </tr>
      </table>
    </div>
    <div class="ex_r">
      <table class="table" style="color: #888888;">
        <tr *ngFor="let data of ranges | slice: exTotal3 : total3; trackBy: trackByUid;" style="">
          <td style="">
            <!--{{ data.ChannelNumber }}-->
            {{ data.ChannelName }}
            <br/>
            <span style="font-size: 10px; opacity: 0.8;">{{data.TerminalCode}}</span>
          </td>
          <td style="white-space: nowrap;" *ngIf="termStatus === 1">
              <span class="label" [ngClass]="{'label_info':data.AlarmStatus === false, 'label_warning':data.AlarmStatus === true}">
                {{ data.Remark }}
              </span>
          </td>
        </tr>
      </table>
    </div>
  </div>


</div>




