<!--<div class="breadcrumb">
  信息维护 / 企业信息
</div>-->



<div class="content">
  <div class="mat-card-title">
    <h5 class="text_info pull-left">
      <img src="assets/icons/org.png" alt="">
      企业列表
    </h5>
    <div class="pull-right flex flex-row">

      <div class="input-group">
        <input type="text" class="form-control" placeholder="请输入企业名称" [(ngModel)]="search" >
        <div class="input-group-append" (click)="searchChange()">
          <button class="btn btn_info" type="button"><i class="fa fa-search"></i></button>
        </div>
      </div>



      <!--<div class="ml-3" *ngIf="user && user.Role && user.Role.RoleId <= 10">
        <button class="btn btn_info" (click)="newOrg()">
          新增企业
        </button>
      </div>-->

    </div>
  </div>

  <div class="t_content">
    <nz-spin [nzSize]="'large'" [nzSpinning]="isSpinning">
    <table class="table">
      <thead class="bg_light_primary">
        <th *ngIf="user && user.Role.Id<=10">
          <div class="checkbox c-checkbox white">
            <label>
              <input type="checkbox" [(ngModel)]="allDelete" (change)="allDel();">
              <span class="fa fa-check"></span></label>
          </div>
        </th>
        <th>
          <div style="display: flex; justify-content: center; cursor: pointer;" (click)="orderData('Name')">
            <div>
              企业名称
            </div>
            <div style="margin-left: 10px;">
              <i class="fa fa-caret-up" *ngIf="order!=='desc'" [ngClass]="{'order_color': sort==='Name'&&order===''}"></i>
              <i class="fa fa-caret-down" *ngIf="order==='desc'" [ngClass]="{'order_color': sort==='Name'&&order==='desc'}"></i>
            </div>
          </div>
        </th>
        <th>区域</th>
        <th>地址</th>
        <th>
          <div style="display: flex; justify-content: center; cursor: pointer;" (click)="orderData('Type__Name')">
            企业类型
            <div style="margin-left: 10px;">
              <i class="fa fa-caret-up" *ngIf="order!=='desc'" [ngClass]="{'order_color': sort==='Type__Name'&&order===''}"></i>
              <i class="fa fa-caret-down" *ngIf="order==='desc'" [ngClass]="{'order_color': sort==='Type__Name'&&order==='desc'}"></i>
            </div>
          </div>
        </th>
        <th>操作</th>
      </thead>
      <tbody>
      <tr *ngFor="let org of organizations; trackBy: trackByUid;">
        <td *ngIf="user && user.Role.Id<=10">
          <div class="checkbox c-checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="org.checkDelete" (change)="checkDel(org);" [disabled]="user.Org && user.Org.Uid === org.Uid">
              <span class="fa fa-check"></span></label>
          </div>
        </td>
        <td (click)="goAccount(org.Name)"> {{ org.Name }}  </td>
        <td> <span> {{ org.LocationName }} </span> </td>
        <td> <span> {{ org.Address }} </span> </td>
        <td> <span> {{ org.Type__Name }} </span>  </td>

        <td>
          <button class="btn btn-sm btn_info" (click)="view(org)"
                  *ngIf="user && user.Role.Id > 10">
            <!--<i class="fa fa-eye"></i>-->
            查看
          </button>
          <button class="btn btn-sm btn_info" (click)="edit(org)"
                  *ngIf="user && user.Role.Id <= 10">
            <!--<i class="fa fa-edit"></i>-->
            编辑
          </button>

          <button class="btn btn-sm btn_info ml-2" (click)="addAccount(org)"
                  *ngIf="user && user.Role.Id <= 10">
            <!--<i class="fa fa-plus"></i>-->
            账号
          </button>
          <button class="btn btn-sm btn_info ml-2" (click)="entry(org)"
                  *ngIf="user && user.Role.Id <= 10">
            <!--<i class="fa fa-repeat"></i>-->
            进入
          </button>

          <button class="btn btn-sm btn-danger ml-2" (click)="deleteO(org)"
                  [disabled]="user.Org && user.Org.Uid === org.Uid"
                  *ngIf="user && user.Role.Id <= 10">
            <!--<i class="fa fa-trash"></i>-->
            删除
          </button>

        </td>
      </tr>
      </tbody>
    </table>
    </nz-spin>
    <p class="text-muted" *ngIf="!organizations||organizations.length===0">
      无有效数据
    </p>

    <!--<div class="text-center">
      <nz-spin [nzSize]="'large'" [nzSpinning]="isSpinning"></nz-spin>
    </div>-->

    <div class="t_bottom">
      <div class="pull-left">
        <button class="btn btn_info" (click)="deleteG()"
                nz-button [nzLoading]="isLoading"
                *ngIf="user.Role.Id<=10">
          批量删除
        </button>
      </div>

      <div class="pull-left ml-3" *ngIf="user && user.Role && user.Role.Id <= 10">
        <button class="btn btn_info" (click)="newOrg()">
          新增企业
        </button>
      </div>

      <ngb-pagination class="pull-right"
                      [collectionSize]="totalItems"
                      [pageSize]="pageSize" [(page)]="page"
                      [maxSize]="3" [rotate]="true" [boundaryLinks]="false"
                      (pageChange)="pageChange()">

      </ngb-pagination>
      <div class="pull-right mr-3">
        <select [(ngModel)]="pageSize" class="form-control" (change)="pageSizeChange()">
          <option value="10">10</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
      <div class="pull-right mr-3" style="line-height: 33px;"> 共 {{totalItems}} 项</div>
    </div>
  </div>

</div>











