
.lc_head{
  padding: 10px 10px 0 10px;
}
.lc_head_item{
  display: flex;
  min-width: 20%;
  margin-right: 50px;
}
.lc_head_lable{
  font-size: 12px;
  color: #464855;
  font-weight: bold;
  margin-right: 10px;
}
.lc_head_value{
  font-size: 12px;
  color: #666EE8;
  font-weight: bold;
}

.zutai{
  padding: 10px;
}

.zutai .flex{
  justify-content: space-between;
}


/*组件*/
.component_box{
  width: 21%;
  border: 1px solid #E4E5EC;
  background-color: #F9FAFD;
  border-radius:2px;
  position: relative;
  padding: 0;
  font-size: 12px;
}
.component{
  height: 440px;
  box-sizing: border-box;
  overflow: auto;
}
.component h6{
  background-color: #eeeeee;
  padding: 8px 15px;
  font-size: 14px;
}
.imgBox, .dataBox, .btnBox{
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.component img{
  width: 44%;
  height: 50px;
  margin: 10px 5px;
  cursor: pointer;
}
.com_bottom{
  box-sizing: border-box;
  line-height: 60px;
  height: 60px;
  text-align: center;
  /*background-color: #ffffff;*/
  /*border-top: 1px solid #dddddd;*/
}

.dataBox{
  display: flex;
  margin-bottom: 30px;
  margin-top: 30px;
}
.dataComp{
  border: 1px solid #AAAAAA;
  height: 45px;
  line-height: 43px;
  width: 44%;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
}


/*视图*/
.view_box{
  width: 56%;
}
#capture{
  width: 100%;
  height: 500px;
  border: 1px solid #E4E5EC;
  border-radius:2px;
  overflow: hidden;
  position: relative;
}
#scale {
  width: 15px;
  height: 15px;
  overflow: hidden;
  cursor: se-resize;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: rgb(122, 191, 238);
}



/*移动视图*/
.imgComponent{
  border: 1px solid transparent;
  cursor:move;
}
.imgComponent:hover{
  border: 1px solid #AAAAAA;
}
.imgComponent .scale{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  cursor: se-resize;
}
.imgComponent img{
  width: 100%;
  height: 100%;
}

.dataComponent{
  border: 1px solid transparent;
  cursor:move;
  position:absolute;
  left:0;
  top:0;
  text-align: center;
}
.dataComponent:hover{
  border: 1px solid #AAAAAA;
}
.dataComponent .scale{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 8px;
  height: 8px;
  cursor: se-resize;
}

.dataComponent img{
  width: 100%;
  height: 100%;
}

.btnComponent{
  border: 1px solid transparent;
  cursor:move;
  position:absolute;
  left:0;
  top:0;
  padding:3px 6px;
}
.btnComponent:hover{
  border: 1px solid #AAAAAA;
}
.btnComponent .scale{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 8px;
  height: 8px;
  cursor: se-resize;
}

.b_switch{
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 100px;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
  background-color: #666EE8;
}
.b_switch:after{
  position: absolute;
  top: 1px;
  left: 100%;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 18px;
  content: ' ';
  margin-left: -1px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  box-shadow: 0 2px 4px 0 rgba(0,35,11,.2);
}

/*----------------------*/





#toolbox img{
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.selected{
  outline: 1px solid #9fcdff;
  /*border: 1px solid #AAAAAA;*/
}


#control1 ul li{
  display: flex;
  list-style: none;
}






/*控制*/
.ctrl_container{
  width: 21%;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #E4E5EC;
  background-color: #F9FAFD;
  border-radius:2px;
}
.ctrl_container *{
  font-size: 12px;
}
.ct_item{
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.ct_label{
  /*width: 100px;*/
  /*flex-shrink: 0;*/
  /*flex-grow: 0;*/
  white-space: nowrap;
  margin-right: 10px;
}
.ct_input{
  display: flex;
  /*align-items: center;*/
}
.ct_input input{
  width:90%;
  height:28px;
  border-radius:3px;
  border:1px solid #E4E5EC;
  margin-right: 10px;
}
.ct_select{
  display: flex;
  align-items: flex-end;
}
.ct_select select{
  width:90%;
  height:28px;
  border-radius:3px;
  border:1px solid #E4E5EC;
  margin-right: 10px;
}
.ct_btn_box{
  padding-top: 12px;
  display: flex;
  align-items: center;
}
.ct_btn{

}
