
.file_box{
  position: relative;
  cursor: pointer;
  display: flex;
}


.file_input{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 34px;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

.file_box:hover .btn-outline-info{
  background-color: #17a2b8;
  color: #ffffff;
}
