
<div class="">
  <div class="mat-card-title">
    <h5 class="text_info pull-left">模板列表</h5>

    <div class="pull-right flex flex-row">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="请输入模板名称" [(ngModel)]="search" >
        <div class="input-group-append" (click)="searchChange()">
          <button class="btn btn_info" type="button"><i class="fa fa-search"></i></button>
        </div>
      </div>
      <!--<div class="ml-3" >
        <button class="btn btn_info" (click)="newCluster()">
          新增集群
        </button>
      </div>-->

    </div>

  </div>

  <div class="t_content">
    <nz-spin [nzSize]="'large'" [nzSpinning]="isSpinning">
    <table class="table">
      <thead class="bg_light_primary">
      <th>
        <div class="checkbox c-checkbox white">
          <label>
            <input type="checkbox" [(ngModel)]="allDelete" (change)="allDel();">
            <span class="fa fa-check"></span></label>
        </div>
      </th>
      <th> 序号 </th>
      <th> 模板名称 </th>
      <th> 所属企业 </th>
      <th> 操作 </th>
      </thead>
      <tbody>
      <tr *ngFor="let data of templates; let i = index">
        <td>
          <div class="checkbox c-checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="data.checkDelete" (change)="checkDel(data);">
              <span class="fa fa-check"></span></label>
          </div>
        </td>
        <td> {{ i+1 }}  </td>
        <td> {{ data.Name }}  </td>
        <td> {{ data.Organization?.Name }} </td>
        <td>
          <a [routerLink]="['/admin/template/edit', data.Uid, data.Name]"
             class="btn btn_info btn-sm" style="color: #ffffff;" title="查看及修改模板">
            编辑
          </a>
          <button class="btn btn-danger btn-sm ml-2" title="删除该模板" (click)="delete(data.Uid, data.Name)">
            删除
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    </nz-spin>
    <p class="text-muted" *ngIf="!templates||templates.length===0">
      无有效数据
    </p>
  </div>

  <!--<div class="text-center">
    <nz-spin [nzSize]="'large'" [nzSpinning]="isSpinning"></nz-spin>
  </div>-->

  <div class="t_bottom">
    <div class="pull-left">
      <button class="btn btn_info" (click)="deleteG()">
        批量删除
      </button>
    </div>


    <ngb-pagination class="pull-right"
                    [collectionSize]="totalItems"
                    [pageSize]="pageSize" [(page)]="page"
                    [maxSize]="3" [rotate]="true" [boundaryLinks]="false"
                    (pageChange)="pageChange()">

    </ngb-pagination>
    <div class="pull-right mr-3">
      <select [(ngModel)]="pageSize" class="form-control" (change)="pageSizeChange()">
        <option value="10">10</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
    <div class="pull-right mr-3" style="line-height: 33px;"> 共 {{totalItems}} 项</div>
  </div>

</div>
