<!--<div class="breadcrumb">
  主监控台 / 设备概览
</div>-->

<div class="content">
  <div class="clearfix runtime_header">
    <div class="pull-left flex">
      <a class="text_info" (click)="goBack()">
        <i class="fa fa-reply"></i>
      </a>
      &nbsp;
      <h5 class="text_info">
        {{name}}
      </h5>

    </div>
    <nav class="pull-right">
      <a [routerLink]="['./dashboard']" routerLinkActive="active">动画监测</a>
      <a [routerLink]="['./operate']" routerLinkActive="active">运行参数</a>
      <a [routerLink]="['./history']" routerLinkActive="active">历史数据</a>
      <a [routerLink]="['./alarm']" routerLinkActive="active">设备告警</a>
      <!--<a [routerLink]="['./maintain']" routerLinkActive="active">维保记录</a>-->
    </nav>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>


