<!--<div class="breadcrumb">
  主监控台 / 设备概览
</div>-->

<div class="content">
  <div class="mat-card-title runtime_header">
    <div class="pull-left flex">
      <h5 class="text_info">
        <!--{{name}}-->
        <img src="assets/icons/monitor.png" alt="">
        设备概览
      </h5>

    </div>
    <nav class="pull-right">
      <a [routerLink]="['./dashboard']" routerLinkActive="btn_info" class="btn">动画监测</a>
      <a [routerLink]="['./operate']" routerLinkActive="btn_info" class="btn">运行参数</a>
      <a [routerLink]="['./history']" routerLinkActive="btn_info" class="btn">历史数据</a>
      <a [routerLink]="['./alarm']" routerLinkActive="btn_info" class="btn">设备告警</a>
      <a [routerLink]="['./maintain']" routerLinkActive="btn_info" class="btn">维保信息</a>
      <a [routerLink]="['./life']" routerLinkActive="btn_info" class="btn">生命周期</a>
    </nav>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>


