<div class="breadcrumb">
  主监控台 / 设备概览
</div>

<div class="content">
  <div class="clearfix tab-content">
    <div class="pull-left">
      <a class="text-info" (click)="goBack()">
        <i class="fa fa-reply"></i>
      </a>

      {{name}}
    </div>
    <nav class="pull-right">
      <a [routerLink]="['./dashboard']" routerLinkActive="active">动画监测</a>
      <a [routerLink]="['./operate']" routerLinkActive="active">运行参数</a>
      <a [routerLink]="['./history']" routerLinkActive="active">历史数据</a>
      <a >维保记录</a>
    </nav>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>


