
.runtime_header{
  border-bottom: 1px solid #eeeeee ;
  padding: 10px 0;
}

.runtime_header nav{
  display: flex;
}
.runtime_header nav a{
  display: block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  text-align: center;
  margin-left: 10px;
  border: 1px solid #17a2b8;
  border-radius: 20px;
  color: #17a2b8;
  text-decoration: none;
}
.runtime_header nav a:hover,.runtime_header nav a.active{
  background-color: #17a2b8;
  color: #ffffff;
}


