<div class="">

  <div class="t_content">
    <table class="table">
      <thead class="bg_light_primary">
      <th> 序号 </th>
      <th> 上传时间 </th>
      <th> 创建者 </th>
      <th style="width: 110px;"> 维保状态 </th>
      <th> 操作 </th>
      </thead>
      <tbody>
      <tr *ngFor="let data of maintains; let i = index">
        <td> {{ i+1 }}  </td>
        <td> {{ data.CreatedDate | date: 'yyyy-MM-dd hh:mm:ss' }}  </td>
        <td> {{ data.CreatedBy?.Name}} </td>
        <td>
          <span *ngIf="!data.Status" class="flex">
            <div class="oval oval_green"> </div>
            正常
          </span>
          <span *ngIf="data.Status" class="flex">
            <div class="oval oval_yellow"> </div>
            异常
          </span>
        </td>
        <td>
          <a [routerLink]="['/admin/runtime/'+ uid + '/' + name + '/maintain/view', data.Uid, data.CreatedDate, data.CreatedBy.Name]" target="malfunction"
             class="btn btn_info btn-sm" style="color: #ffffff;">
            查看
          </a>

        </td>
      </tr>
      </tbody>
    </table>
    <p class="text-muted" *ngIf="!maintains||maintains.length===0">
      无有效数据
    </p>
  </div>


  <div class="t_bottom">

    <div class="pull-left" >
      <a class="btn btn_info" [routerLink]="['/admin/runtime/'+ uid + '/' + name + '/maintain/add']">
        新增信息
      </a>
      <button class="btn btn_info ml-3" (click)="export()">
        导出 Excel
      </button>
    </div>

    <ngb-pagination class="pull-right"
                    [collectionSize]="totalItems"
                    [pageSize]="pageSize" [(page)]="page"
                    [maxSize]="3" [rotate]="true" [boundaryLinks]="false"
                    (pageChange)="pageChange()">

    </ngb-pagination>
    <div class="pull-right mr-3">
      <select [(ngModel)]="pageSize" class="form-control" (change)="pageSizeChange()">
        <option value="10">10</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
    <div class="pull-right mr-3" style="line-height: 33px;"> 共 {{totalItems}} 项</div>
  </div>

</div>

