<div class="modal-header">
  <h4 class="modal-title">
    <img src="assets/icons/icon_config3.png" alt="" style="margin-right: 19px;">
    配置信息
  </h4>
</div>

<div class="modal-body m_form">
  <div class="m_item">
    <div class="m_label">
      用户名：
    </div>
    <div class="m_input">
      <input type="text" class="form-control" [(ngModel)]="username" placeholder="请输入用户名">
    </div>
  </div>

  <div class="m_item">
    <div class="m_label">
      单位名称：
    </div>
    <div class="m_input">
      <input type="text" class="form-control" [(ngModel)]="orgName" placeholder="请输入单位名称">
    </div>
  </div>

  <div class="m_item">
    <div class="m_label">
      单位类型：
    </div>
    <div class="m_input">
      <nz-select style="width: 100%;" [(ngModel)]="orgType" nzAllowClear nzPlaceHolder="Choose">
        <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
        <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
      </nz-select>
    </div>
  </div>

  <div class="m_item">
    <div class="m_label">
      地域地址：
    </div>
    <div class="m_input">
      <div>
        <nz-select style="width: 50px;" [(ngModel)]="selectedProvince" (ngModelChange)="provinceChange($event)">
        <nz-option *ngFor="let p of addrList" [nzValue]="p" [nzLabel]="p.Name"></nz-option>
      </nz-select>
        <nz-select style="width: 50px;" [(ngModel)]="selectedCity" (ngModelChange)="cityChange($event)" [nzDisabled]="!selectedProvince || selectedProvince.LocationId===0 ">
          <nz-option *ngFor="let c of cities" [nzValue]="c" [nzLabel]="c.Name"></nz-option>
        </nz-select>
        <nz-select style="width: 50px;" [(ngModel)]="selectedRegion" (ngModelChange)="regionChange($event)" [nzDisabled]="!selectedCity">
          <nz-option *ngFor="let r of regions" [nzValue]="r" [nzLabel]="r.Name"></nz-option>
        </nz-select>
      </div>

      <div>
        <input type="text" class="form-control" [(ngModel)]="address">
      </div>

    </div>
  </div>

  <div class="m_item">
    <div class="m_label">
      邮箱地址：
    </div>
    <div class="m_input">
      <input type="text" class="form-control" [(ngModel)]="email" placeholder="请输入邮箱地址">
    </div>
  </div>

</div>

<div class="modal-footer">
  <button type="button" class="btn" (click)="activeModal.dismiss('close')">取消</button>
  <button type="button" class="btn btn_purple" style="margin-left: 30px;" (click)="save()">确定</button>
</div>





