/* You can add global styles to this file, and also import other style files */
/*@import "assets/css/bootstrap.min.css";*/

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
html,body,app-root,app-main,mat-sidenav-container,.site {
  height: 100%;
  margin: 0;
}
ul,li{
  list-style: none;
}
.content{
  padding: 30px;
}
.tab-content{
  padding: 10px 0;
  border-bottom: 1px solid #eeeeee;
}
.tab-content nav a{
  padding:15px 10px;
  color: #545b62;
  text-decoration: none;
}
.tab-content nav a.active{
  border-bottom: 2px solid #17a2b8;
  color: #17a2b8;
}

.flex{
  display: flex;
}

.table td{
  background-color: #ffffff;
}

h5, .h5 {
  font-size: 1.25rem;
}


/*---------插件样式修改-----------*/
/*模态框*/
.modal-backdrop {
  z-index: 880 !important;
}
.modal{
  z-index: 900 !important;
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0;
}
.cdk-overlay-backdrop{
  z-index: 910;
}

.modal-header .modal-title{
  font-size: 16px;
}



/*下拉列表*/
.ant-select-selection--single {
  height: 100%;
}
.input-group .ant-select-selection{
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.ter_config .ant-select-selection{
  border: none;
}




.text_info {
  color: #17a2b8;
}

.btn_info,.btn_info.ant-btn:focus, .btn_info.ant-btn:hover {
  color: #fff;
  /*background-color: #17a2b8;*/
  /*border-color: #17a2b8;*/
  background-color: #00a4ff;
  border-color: #00a4ff;
}
.btn_info:hover {
  color: #fff;
  /*background-color: #138496;*/
  /*border-color: #117a8b;*/
  background-color: #00a4ff;
  border-color: #00a4ff;
}

.table .btn-danger {
  background-color: #f4523b;
  border-color: #f4523b;
}

.bg_grey{
  /*background-color: #dfe4ed;*/
  background-color: #bfbfbf;
  /*color: #888888;*/
  color: #333333;
}

.bg_info{
  background-color: #00a4ff;
  color: #ffffff;
}
.bg_default{
  background-color: #607D8B;
}
.bg_light_default{
  background-color: #8eacbb;
}
.bg_dark_default{
  background-color: #34515e;
}
.bg_primary{
  background-color: #546e7a;
  color: #ffffff;
}
.bg_light_primary{
  /*background-color: #819ca9;*/
  background-color: #6f94a6;
  background-image: url("./assets/images/table_header.jpg");
  background-position: center;
  background-size: 100% 100%;
  color: #ffffff;
}
.bg_dark_primary{
  background-color: #29434e;
  color: #ffffff;
}
.bg_secondary{
  background-color: #00838f;
  color: #ffffff;
}
.bg_light_secondary{
  background-color: #4fb3bf;
  color: #ffffff;
}
.bg_dark_secondary{
  background-color: #005662;
  color: #ffffff;
}

.bg_light_grey{
  background-color: #E4E9EF;
  color: #34515e;
}
.bg-warning{
  color: #ffffff;
}


.sidenav .mat-nav-list .mat-list-item .mat-list-item-content {
  padding: 0 46px;
}
.mat-card-title{
  position: fixed;
  top: 0;
  left: 290px;
  z-index: 9;
  padding: 15px 0;
  box-sizing: border-box;
}
.mat-card-title .text_info{
  color: #ffffff;
  line-height: 33px;
  margin-bottom: 0;
}
.mat-card-title h5{
  padding-right: 30px;
}
.mat-card-title h5 img{
  width: 22px;
  /*height: 22px;*/
  margin-right: 5px;
}
.mat-card-title .input-group input{
  width: 230px;
}
.mat-card-title nav a{
  color: #ffffff;
}
.tab_map{
  display: flex;
  flex-direction: column;
}
.con_w{
  background-color: #ffffff;
  padding: 20px;
}


/*背景色*/
.mat-drawer-container{
  background-color: #e5e5e5;
}

/*表格样式*/
.content .table{
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 0;
  color: #666666;
}
.content .table td{
  background-color: #ffffff;
  text-align: center;
}
.content .table thead th{
  font-weight: normal;
  height: 70px;
  border: none;
  vertical-align: middle;
  text-align: center;
}
.t_content{
  background-color: #ffffff;
}
.t_content p{
  margin-bottom: 0;
  padding: 20px;
}
.t_bottom{
  background-color: #ffffff;
  overflow: hidden;
  box-sizing: border-box;
  padding: 20px;
}
.t_bottom .pull-right.mr-3{
  display: none;
}

.content .page-link {
  position: relative;
  display: block;
  padding: 0.75rem 1rem;
  line-height: 1.25;
  color: #333333;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  margin: 0 3px;
}
.content .page-item.active .page-link {
  z-index: 1;
  background-color: #00a4ff;
  border-color: #00a4ff;
}
.content .page-link:hover {
  z-index: 2;
  color: #333333;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}



/*滚动条*/
.mat-sidenav-content::-webkit-scrollbar,.sidenav::-webkit-scrollbar,.scroll_bar::-webkit-scrollbar{
  /*width: 6px;     !*高宽分别对应横竖滚动条的尺寸*!*/
  /*height: 7px;*/
  /*background-color: #51aded;*/
  display: none;
}
/*.scroll_bar::-webkit-scrollbar-button{
  background-color:#819ca9;
  background-size: 6px 6px;
}
!*定义滚动条轨道*!
.mat-sidenav-content::-webkit-scrollbar-track,.sidenav::-webkit-scrollbar-track,.scroll_bar::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  !*border-radius: 10px;*!
  !*background-color: #F5F5F5;*!
}
!*定义滑块 内阴影+圆角*!
.mat-sidenav-content::-webkit-scrollbar-thumb,.sidenav::-webkit-scrollbar-thumb, .scroll_bar::-webkit-scrollbar-thumb
{
  border-radius: 5px;
  !*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*!
  background-color: #819ca9;
}*/






/*animate---------------*/

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown{
  0%{opacity:0; -webkit-transform:translateY(-40px);}
  100%{opacity:1; -webkit-transform:translateY(0);}
}
@-moz-keyframes fadeInDown{
  0%{opacity:0; -moz-transform:translateY(-40px);}
  100%{opacity:1; -moz-transform:translateY(0);}
}
@keyframes fadeInDown{
  0%{opacity:0; transform:translateY(-40px);}
  100%{opacity:1; transform:translateY(0);}
}


.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}



@-webkit-keyframes fadeInUp {
  0%{opacity:0; -webkit-transform:translateY(40px);}
  100%{opacity:1; -webkit-transform:translateY(0);}
}

@-moz-keyframes fadeInUp{
  0%{opacity:0; -moz-transform:translateY(40px);}
  100%{opacity:1; -moz-transform:translateY(0);}
}
@keyframes fadeInUp{
  0%{opacity:0; transform:translateY(40px);}
  100%{opacity:1; transform:translateY(0);}
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}



@-webkit-keyframes widhtIn{
  0%{ width:0;}
  100%{ width:350px;}
}
@-moz-keyframes widhtIn{
  0%{ width:0;}
  100%{ width:350px;}
}
@keyframes widhtIn{
  0%{ width:0;}
  100%{ width:350px;}
}




/**
 * Custom form elements
 *    - Checkbox
 *    - Radios
 *    - Switch
 *    - Rounded inputs
 */
.c-checkbox,
.c-radio {
  margin-right: 4px;
}
.c-checkbox *,
.c-radio * {
  cursor: pointer;
}
.c-checkbox input,
.c-radio input {
  opacity: 0;
  position: absolute;
  margin-left: 0 !important;
}
.c-checkbox span,
.c-radio span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  /*margin-left: -20px;*/
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #ccc;
  margin-right: 5px;
  text-align: center;
}
/*white*/
.c-checkbox.white span,
.c-radio.white span {
  border: 1px solid #fff;
}
.c-checkbox span:before,
.c-radio span:before {
  margin-left: 0;
}
.c-checkbox:hover span,
.c-radio:hover span {
  border-color: #5d9cec;
  background-color: #ffffff;
}
.c-checkbox.white:hover span,
.c-radio.white:hover span {
  border-color: #ffffff;
}
.form-inline .c-checkbox span,
.form-inline .c-radio span {
  margin-left: 0;
}
.c-checkbox.c-checkbox-rounded span,
.c-radio.c-checkbox-rounded span,
.c-checkbox.c-radio-rounded span,
.c-radio.c-radio-rounded span {
  border-radius: 500px;
}
.c-checkbox label{
  margin-bottom: 0;
}

/* override for radio */
.c-radio span {
  border-radius: 500px;
}
/* the icon */
.c-checkbox span:before,
.c-radio span:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  text-align: center !important;
  font-size: 12px;
  line-height: 18px;
  vertical-align: middle;
}
/* Checked state */
.c-checkbox,
.c-radio {
  /* override for radio */
  /* Disable state */
  /* override for radio */
}
.c-checkbox input[type=checkbox]:checked + span:before,
.c-radio input[type=checkbox]:checked + span:before,
.c-checkbox input[type=radio]:checked + span:before,
.c-radio input[type=radio]:checked + span:before {
  color: #fff;
  opacity: 1;
  transition: color 0.3s ease-out;
}
.c-checkbox input[type=checkbox]:checked + span,
.c-radio input[type=checkbox]:checked + span,
.c-checkbox input[type=radio]:checked + span,
.c-radio input[type=radio]:checked + span {
  border-color: #5d9cec;
  background-color: #5d9cec;
}
.c-checkbox input[type=radio]:checked + span,
.c-radio input[type=radio]:checked + span {
  background-color: #fff;
}
.c-checkbox input[type=radio]:checked + span:before,
.c-radio input[type=radio]:checked + span:before {
  color: #5d9cec;
}
.c-checkbox input[type=checkbox]:disabled + span,
.c-radio input[type=checkbox]:disabled + span,
.c-checkbox input[type=radio]:disabled + span,
.c-radio input[type=radio]:disabled + span {
  border-color: #dddddd !important;
  background-color: #dddddd !important;
}
.c-checkbox input[type=radio]:disabled + span,
.c-radio input[type=radio]:disabled + span {
  background-color: #fff !important;
}
.c-checkbox input[type=radio]:disabled + span:before,
.c-radio input[type=radio]:disabled + span:before {
  color: #dddddd;
}
.c-radio.c-radio-nofont {
  /* override for radio */
  /* Disable state */
  /* override for radio */
}
.c-radio.c-radio-nofont span:before {
  content: "";
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
  border-radius: 500px;
}
.c-radio.c-radio-nofont input[type=radio]:checked + span:before {
  color: #fff;
  opacity: 1;
  transition: color 0.3s ease-out;
}
.c-radio.c-radio-nofont input[type=radio]:checked + span {
  border-color: #5d9cec;
  background-color: #5d9cec;
}
.c-radio.c-radio-nofont input[type=radio]:checked + span {
  background-color: #fff;
}
.c-radio.c-radio-nofont input[type=radio]:checked + span:before {
  background-color: #5d9cec;
}
.c-radio.c-radio-nofont input[type=radio]:disabled + span {
  border-color: #dddddd !important;
  background-color: #dddddd !important;
}
.c-radio.c-radio-nofont input[type=radio]:disabled + span {
  background-color: #fff !important;
}
.c-radio.c-radio-nofont input[type=radio]:disabled + span:before {
  background-color: #dddddd;
}
.form-control-rounded {
  border-radius: 100px;
}
.switch .form-control {
  padding-top: 7px;
  margin-bottom: 0;
}
.switch * {
  cursor: pointer;
}
.switch input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.switch span {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #dddddd;
  border-radius: 100px;
  transition: all .5s;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1) inset;
  vertical-align: middle;
}
.switch span:after {
  content: "";
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid #ddd;
  border-radius: 400px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .2s;
}
.switch.switch-lg span {
  width: 50px;
  height: 25px;
}
.switch.switch-lg span:after {
  height: 23px;
  width: 23px;
}
.switch.switch-sm span {
  width: 30px;
  height: 15px;
}
.switch.switch-sm span:after {
  height: 13px;
  width: 13px;
}
.switch input:checked + span {
  background-color: #5d9cec;
  border-color: #5d9cec;
  transition: all .5s;
}
.switch input:checked + span:after {
  left: 50%;
  transition: all .2s;
}
.form-control-feedback {
  left: 16px;
  right: auto;
}
.form-control + .form-control-feedback,
.form-control + .parsley-errors-list + .form-control-feedback {
  right: 0;
  left: auto;
  top: 10px;
}
.input-sm + .form-control-feedback,
.input-sm + .parsley-errors-list + .form-control-feedback {
  top: 0;
}
label + .form-control + .form-control-feedback,
label + .form-control + .parsley-errors-list + .form-control-feedback {
  top: 36px;
}
.input-md {
  width: 260px;
}



