/* You can add global styles to this file, and also import other style files */
/*@import "assets/css/bootstrap.min.css";*/

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family:  Arial, "Microsoft Yahei", "Microsoft Sans Serif", sans-serif;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,body,app-root,app-main,mat-sidenav-container,.site {
  height: 100%;
  margin: 0;
}
ul,li{
  list-style: none;
  margin: 0;
}
.form-control{
  /*height: 2rem;*/
}
.content{
  margin: 12px;
  padding: 12px;
  background-color: #ffffff;
  border-radius:2px;
  color: #6B6F82;
  /*min-height: 500px;*/
}
.directive .content{
  padding: 25px 32px;
}

.flex{
  display: flex;
}

h5, .h5 {
  font-size: 1.25rem;
}


.text_primary{
  color: #2D2E4F;
}

.text_purple{
  color:#666EE8;
}
.text_danger{
  color: #FF4961;
}
.text_warning{
  color: #FFC06A;
}
.text_blue{
  color: #1E9FF2;
}
.text_green{
  color: #28D094;
}
.text_grey{
  color: #A7ABBE;
}

.bg_purple{
  background-color:#666EE8;
}
.bg_danger{
  background-color: #FF4961;
}
.bg_warning{
  background-color: #FFC06A;
}
.bg_blue{
  background-color: #1E9FF2;
}
.bg_green{
  background-color: #28D094;
}
.bg_grey{
  background-color: #A7ABBE;
}


/*背景色 material*/
.mat-drawer-container{
  background-color: #F0F1F5;
}
app-header .mat-toolbar-row{
  padding-left: 0;
}
.sidenav .mat-drawer-inner-container {
  overflow-y: auto;
  overflow-x: hidden;
}
.sidenav .mat-list-base{
  padding-top: 0;
}
.sidenav .mat-list-base .mat-list-item{
  height: 40px;
}
.sidenav .mat-nav-list .mat-list-item .mat-list-item-content {
  padding: 0 46px;
}

/*导航栏下拉图标*/
app-header .dropdown-toggle::after{
  display: none;
}



/*列表公共样式*/
/*面包屑导航*/
.bread{
  position: fixed;
  top: 22px;
  left: 336px;
  color: #A7ABBD;
}
.bread span{
  font-size: 16px;
  padding: 0 6px;
}
.directive .bread{
  left: 296px;
}
.formal .bread, .ordinary .bread{
  left: 376px;
}
.directive.formal .bread{
  left: 336px;
}

/*列表页*/
.list_head{
  display: flex;
  justify-content: space-between;
}
.li_head_l h6{
  border-left: 3px solid #666EE8;
  color: #464855;
  padding-left: 17px;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  margin-bottom: 12px;
}
.content_h{
  display: flex;
  justify-content: space-between;
}
.search_box{
  width: 340px;
}
.search_icon{
  width: 16px;
  height: 16px;
  cursor: pointer;
}

/*表格样式*/
.content_t{
  margin-top: 29px;
  overflow: auto;
  height: 460px;
  width: 100%;
}
.content .table{
  color: #666666;
  background-color: #ffffff;

}
.content .table thead th{
  vertical-align: middle;
}
.table-bordered thead th{
  border-bottom-width: 1px;
}
.ant-table-thead>tr>th {
  color: #464855;
  background: #F9FAFD;
  border-bottom: 1px solid #e8e8e8;
  font-weight: bold;
  white-space: nowrap;
}
.ant-table-thead>tr>th {
  padding: 10px 8px;
}
.ant-table-tbody>tr>td{
  padding: 3px 8px;
}

.content_b{
  display: flex;
  justify-content: flex-end;
  margin-top:20px;
}


.content .page-link {
  position: relative;
  display: block;
  padding: 0.75rem 1rem;
  line-height: 1.25;
  color: #333333;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  margin: 0 3px;
}
.content .page-item.active .page-link {
  z-index: 1;
  background-color: #666EE8;
  border-color: #666EE8;
}
.content .page-link:hover {
  z-index: 2;
  color: #333333;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}



/*详情页*/
.info_content{
  /*display: flex;*/
}
.info_head{
  display: flex;
  justify-content: space-between;
  padding-bottom: 18px;
  border-bottom: 1px solid #E4E5EC;
}

.info_l, .info_r{
  flex: 1;
}
.info_basic,.info_config,.info_r{
  margin-top: 24px;
}
.info_basic .info_body{
  height: 324px;
  background-color: #F9FAFD;
}
.info_config .info_body{
  height: 230px;
  background-color: #F9FAFD;
}
.info_r{
  margin-left: 34px;
  display: flex;
  flex-direction: column;
}
.info_r .info_body{
  /*height: 625px;*/
  flex: auto;
  background-color: #F9FAFD;
}
.info_title{
  display: flex;
  justify-content: space-between;
}
.info_tname{
  font-size:22px;
  font-weight:bold;
  color: #464855;
  line-height:30px;
  display: flex;
  align-items: center;
}
.info_tname img{
  /*width: 21px;*/
  /*height: 22px;*/
  margin-right: 18px;
}
.info_title h6{
  border-left: 3px solid #666EE8;
  color: #464855;
  padding-left: 17px;
  font-size: 18px;
  font-weight: bold;
  /*line-height: 25px;*/
  margin-bottom: 25px;
}


.info_body{
  /*border: 1px solid #A7ABBE;*/
  border: 1px solid #E4E5EC;
  padding: 35px 20px;
  border-radius:4px;
}
.info_item{
  display: flex;
  margin-bottom: 17px;
}

.info_item_title{
  line-height: 22px;
  flex-grow: 0;
  flex-shrink: 0;
  width: 80px;
  font-size:16px;
  font-weight: bold;
  color: #464855;
  text-align: right;
  margin-right: 50px;
}
.info_item_value{
  flex: auto;
  font-size: 16px;
  font-weight: bold;
  color: #666EE8;
}
.info_item_value span{
  font-size: 16px;
}

.info_item_date{
  color: #464855;
  width: 156px;
  flex-grow: 0;
  flex-shrink: 0;
}
.info_item_op{
  color: #464855;
  /*margin-left: 20px;*/
}


/*记录列表*/
.operate .li_head_l{
  display: flex;
  align-items: center;
}
.operate .li_head_l h6{
  margin: 0;
}





/*模态框表单样式*/
.modal-header .modal-title{
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.m_form{
  padding-top: 23px;
}
.m_form .m_item{
  display: flex;
  /*margin-bottom: 9px;*/
  margin-bottom: 15px;
  align-items: center;
}
.m_form .m_item .m_label{
  flex-grow: 0;
  flex-shrink: 0;
  width: 120px;
  text-align: right;
  margin-right: 10px;
  color: #464855;
  line-height: 30px;
}
.m_form .m_item .m_label span{
  color: #666EE8;
}
.m_form .m_item .m_input{
  /*flex:auto;*/
  width: 240px;
  position: relative;
}
.m_form .sign_tip{
  position: absolute;
  bottom: -17px;
}
.m_form .sign_tip span{
  font-size: 10px;
}

.m_form .m_item .m_text{
  color: #666EE8;
  margin-left: 10px;
  width: 240px;
}
.modal-footer{
  border-top: 1px solid transparent;
  padding-top: 0;
  padding-bottom: 30px;
}
.modal_m .m_form .m_item .m_input{
  width: 359px;
}
.modal_m .m_form .m_item .m_label{
  font-size: 12px;
}


/*分页*/
.ant-pagination-item-active:focus, .ant-pagination-item-active:hover {
  border-color: #666EE8;
  background-color: #666EE8;
  color: #FFFFFF;
}
.ant-pagination-item-active {
  border-color: #666EE8;
  background-color: #666EE8;
  color: #FFFFFF;
}
.ant-pagination-item:focus, .ant-pagination-item:hover {
  border-color: #666EE8;
  transition: all .3s;
}
.ant-pagination-next:focus .ant-pagination-item-link, .ant-pagination-next:hover .ant-pagination-item-link, .ant-pagination-prev:focus .ant-pagination-item-link, .ant-pagination-prev:hover .ant-pagination-item-link {
  color: #666EE8;
  border-color: #666EE8;
}
.ant-pagination-item-link .anticon{
  vertical-align: 0;
}




/*---------插件样式修改-----------*/
/*模态框 ngbootstrap*/
.modal-backdrop {
  z-index: 880 !important;
}
.modal{
  z-index: 900 !important;
}
.modal_md .modal-dialog{
  /*margin-top: 10%;*/
  width: 435px;
}
.modal_m .modal-dialog{
  max-width: 600px;
}
.modal_m2 .modal-dialog{
  max-width: 664px;
}
.modal_l .modal-dialog{
  max-width: 790px;
}
.modal_lg .modal-dialog{
  max-width: 1050px;
}

.m_img .ant-upload.ant-upload-select-picture-card{
  border-radius: 0;
  border: none;
  margin-bottom: 0;
}
.m_img .ant-upload.ant-upload-select-picture-card>.ant-upload{
  padding: 0;
}



.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0;
}
.cdk-overlay-backdrop{
  z-index: 910;
}

.modal-header{
  display: flex;
  justify-content: center;
}

.modal-footer{
  display: flex;
  justify-content: center;
}

@media (min-width: 576px){

}
@media (min-width: 992px){

}


/*ng-zorro*/
.customize .ant-modal-close{
  display: none;
}
.customize .ant-modal-title *{
  text-align: center;
  font-size: 16px;
  color: #000000;
}
.customize .ant-modal-footer{
  text-align: center;
}
.customize .ant-modal-footer button{
  margin-left: 17px;
  margin-right: 17px;
}

.maintain_modal .ant-upload.ant-upload-select-picture-card{
  width: 20px;
  height: 20px;
  margin-right: 22px;
  margin-bottom: 0;
  background-color: #ffffff;
  border: none;
  border-radius: 0;
}
.maintain_modal .ant-upload.ant-upload-select-picture-card>.ant-upload{
  padding: 0;
}
.maintain_modal .ant-upload-list-picture-card .ant-upload-list-item{
  width: 28px;
  height: 24px;
  margin-right: 22px;
  margin-bottom: 0;
  border-radius: 0;
}
.maintain_modal .ant-upload-list-picture .ant-upload-list-item, .maintain_modal .ant-upload-list-picture-card .ant-upload-list-item{
  padding: 0;
}
.maintain_modal .ant-upload-list-item-info>span {
  height: 100%;
}

.ant-upload-list-picture-card .ant-upload-list-item-uploading-text{
  display: none;
}

.ant-upload-list-item-info {
  padding: 0 20px 0 4px;
}


.cal .ant-select-selection{
  border: none;
}


/*datepicker*/
.charts .ant-input {
  height: 26px;
  padding: 1px 5px;
}
.charts .anticon {
  vertical-align: .125em;
}

.cycle .ant-calendar-picker{
  width: 100%;
}
.cycle .anticon {
  vertical-align: .125em;
}




/*sweetalert2*/
/*提示框内容样式*/
.success_tip{
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  display: flex;
  align-items: center;
  color: #464855;
  margin-bottom: 23px;
  margin-left: 7px;
}
.success_tip img{
  width: 16px;
  margin-right: 16px;
}
.success_tip_mes{
  text-align: left;
  margin-left: 39px;
  color: #7A7B7E;
}
.success_tip_time{
  text-align: left;
  margin-left: 39px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #666EE8;
  cursor: pointer;
}

.swal2-popup .swal2-title {
  word-break: break-all;
}




/*ng-zorro提示框*/
.confirm_modal_title{
  margin-top: 10px;
}
.confirm_modal_title img{
  width: 22px;
  height: 22px;
  margin-right: 16px;
}
.confirm_modal_title b{
  font-size: 16px;
  color: #464855;
}
.confirm_modal_text{
  color: #6B6F82;
  margin-left: 38px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.comfirm_modal .ant-modal-footer {
  border-top: 1px solid transparent;
}
.ant-modal-confirm-body>.anticon+.ant-modal-confirm-title+.ant-modal-confirm-content {
  margin-left: 30px;
}


/*ng-zorro按钮*/
.ant-btn:hover {
  color: #666EE8;
  background-color: #fff;
  border-color: #666EE8;
}
.ant-btn:focus{
  color: #666EE8;
  background-color: #fff;
  border-color: #666EE8;
}
.ant-btn-primary:focus, .ant-btn-primary:hover {
  color: #fff;
  background-color: #666EE8;
  border-color: #666EE8;
}
.ant-btn-primary {
  background-color: #666EE8;
  border-color: #666EE8;
}
.ant-btn.active, .ant-btn:active {
  color: #666EE8;
  background-color: #fff;
  border-color: #666EE8;
}

.ant-modal-confirm-body .ant-modal-confirm-title span{
  font-size: 16px;
  font-weight: bold;
}

/*图标*/
.ant-modal-confirm-body>.anticon svg {
  font-size: 22px;
}
header .anticon svg{
  font-size: 18px;
}






/*下拉列表ng-zorro*/
.ant-select-selection--single {
  height: 100%;
}
.input-group .ant-select-selection{
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.ter_config .ant-select-selection{
  border: none;
}
.ant-select-dropdown-menu-item:hover {
  background-color: #9DA4FF;
  color: #FFFFFF;
}
.ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover {
  background-color: #9DA4FF;
  color: #FFFFFF;
}
.ant-select-dropdown-menu-item-active {
  background-color: #9DA4FF;
  color: #FFFFFF;
}
.ant-input-group-addon .ant-select-focused .ant-select-selection, .ant-input-group-addon .ant-select-open .ant-select-selection {
   color: #9DA4FF;
}

.ant-dropdown-menu-item>a{
  transition: none;
}

.search_box .ant-select-selection__rendered {
  min-width: 100px;
}
/*通道位置下拉*/
.ant-dropdown-menu-submenu-title .ant-dropdown-menu-submenu-arrow {
  top: 0;
}
.ant-dropdown-menu-submenu-title .ant-dropdown-menu-submenu-arrow-icon{
  color: inherit;
}


/*模板批量分配下拉*/
.template .ant-select-selection__rendered {
  line-height: 24px;
}
.template .li_head_r .ant-select-selection__rendered *{
  font-size: 11px;
}
.template .li_head_r .ant-select-arrow .ant-select-arrow-icon svg{
  font-size: 11px;
}
.ant-select-selection {
  border-top-width: 1px;
}


/*批量禁用下拉列表*/
/*.m_input .ant-select-selection--single{
  width: 180px;
}*/



/*新增模板- 步骤条ng-zorro*/
.template_add .ant-steps-item-content, .ant-steps-item-icon{
  display: block;
}
.template_add .ant-steps-item-title::after {
  top: -16px;
}
.template_add .ant-steps-item-title {
  padding-right:0;
  font-size: 14px;
  /*color: #464855;*/
}
.template_add .ant-steps-item-finish .ant-steps-item-icon {
  margin-left: 12px;
  border-color: #666EE8;
}
.template_add .ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon {
  color: #666EE8;
}
.template_add .ant-steps-item-icon>.ant-steps-icon .anticon {
  vertical-align: 0.125em;
}
.template_add .ant-steps-item-finish>.ant-steps-item-content>.ant-steps-item-title::after,.template_add .ant-steps-item-finish>.ant-steps-item-tail::after {
  background-color: #666EE8;
}
.template_add .ant-steps-item-process .ant-steps-item-icon {
  background: #666EE8;
  border-color: #666EE8;
  margin-left: 12px;
}
.template_add .ant-steps-item-wait .ant-steps-item-icon {
  margin-left: 12px;
}

.template_add  .ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item {
  margin-right: 0;
}

.template_add .ant-steps-item-process>.ant-steps-item-content>.ant-steps-item-title {
  color: #464855;
}




.text_info {
  color: #17a2b8;
}



/*按钮*/
.btn_info,.btn_info.ant-btn:focus, .btn_info.ant-btn:hover {
  color: #fff;
  background-color: #00a4ff;
  border-color: #00a4ff;
}
.btn_info:hover {
  color: #fff;
  background-color: #00a4ff;
  border-color: #00a4ff;
}




.btn_purple {
  color: #fff;
  background-color: #666EE8;
  border-color: #666EE8;
}
.btn_purple:hover{
  color: #666EE8;
  background-color: #fff;
  border-color: #666EE8;
}
/*.btn_purple:focus{

}*/
.btn.bpm{
  width: 76px;
  height: 26px;
  line-height: 1.2;
  font-size: 12px;
  border-radius:3px;
}
.btn.bps{
  width: 26px;
  height: 26px;
  padding: 4px 5px;
  background-color: #E5E9FB;
  border-radius:3px;
}
.btn-sm {
  padding: 0.1rem 0.58rem;
}
.btn.bpm img{
  width: 15px;
  height: 15px;
  margin-top: -2px;
  margin-right: 2px;
}
.btn.bpm i{
  margin-right: 5px;
}
.btn.bps i{
  font-size: 16px;
  line-height: 1em;
}
.btn.bps i.iconicon_comeback1{
  vertical-align: 0.25em;
}

.btn_purple-o {
  color: #666EE8;
  background-color: transparent;
  border-color: #666EE8;
}
.btn.bpm .anticon, .btn.bps .anticon{
  vertical-align: .025em;
}
.btn_purple-o:hover{
  color: #fff;
  background-color: #666EE8;
  border-color: #666EE8;
}
/*.btn_purple-o:focus{

}*/

a.btn_purple{
  color: #ffffff;
}
a:not([href]):not([tabindex]).btn_purple{
  color: #FFFFFF;
}
a:not([href]):not([tabindex]).btn_purple:hover{
  color: #666EE8;
}
.btn_round{
  /*border-radius:16px;*/
  border-radius:5px;
}

.btn_dark{
  background-color: #464855;
  color: #FFFFFF;
}
.btn_green{
  background-color: #28D094;
  color: #FFFFFF;
}
.btn_green:hover{
  color: #28D094;
  background-color: #fff;
  border-color: #28D094;
}
.btn_red{
  background-color: #FF4961;
  color: #FFFFFF;
}
.btn_red:hover{
  color: #FF4961;
  background-color: #fff;
  border-color: #FF4961;
}
.btn_warning{
  background-color: #FFC06A;
  color: #FFFFFF;
}
.btn_warning:hover{
  color: #FFC06A;
  background-color: #fff;
  border-color: #FFC06A;
}
.btn_blue{
  background-color: #1E9FF2;
  color: #FFFFFF;
}
.btn_blue:hover{
  color: #1E9FF2;
  background-color: #fff;
  border-color: #1E9FF2;
}
span.iconfont.iconedit{
  cursor: pointer;
}



/*修改ng-zorro checkbox*/
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #666EE8;
  border-color: #666EE8;
}
.ant-checkbox-input:focus+.ant-checkbox-inner, .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner {
  border-color: #666EE8;
}
.ant-checkbox-inner::after{
  left: 23%;
}
.ant-checkbox-wrapper+.ant-checkbox-wrapper {
  margin-left: 0;
}
.ant-checkbox-disabled .ant-checkbox-inner {
  background-color: #f5f5f5;
}
.ant-radio-checked .ant-radio-inner {
  border-color: #666EE8;
}
.ant-radio-inner::after {
  background-color: #666EE8;
}
.ant-radio-input:focus+.ant-radio-inner, .ant-radio-wrapper:hover .ant-radio, .ant-radio:hover .ant-radio-inner {
  border-color: #666EE8;
}

/*正常radio*/
.success .ant-radio-checked .ant-radio-inner {
  border-color: #28D094;
}
.success .ant-radio-inner::after {
  background-color: #28D094;
}
.success .ant-radio-input:focus+.ant-radio-inner,.success .ant-radio-wrapper:hover .ant-radio, .success .ant-radio:hover .ant-radio-inner {
  border-color: #28D094;
}

/*异常radio*/
.error .ant-radio-checked .ant-radio-inner {
  border-color: #FFC06A;
}
.error .ant-radio-inner::after {
  background-color: #FFC06A;
}
.error .ant-radio-input:focus+.ant-radio-inner,.error .ant-radio-wrapper:hover .ant-radio, .error .ant-radio:hover .ant-radio-inner {
  border-color: #FFC06A;
}


/*按钮式单选*/
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: #fff;
  background: #666EE8;
  border-color: #666EE8;
}
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
  color: #fff;
  background: #666EE8;
  border-color: #666EE8;
}
.ant-radio-button-wrapper:hover {
  position: relative;
  color: #666EE8;
}
.ant-radio-button-wrapper{
  height: 26px;
  line-height: 24px;
}
.ant-radio-button-wrapper span{
  font-size: 12px;
}



@media (max-width: 1366px) {
  .mat-card-title .input-group input{
    width: 180px;
  }
}




/*动画监测*/
.an_page .ant-pagination-item-active{
  background-color: #00a4ff;
  color: #ffffff;
}
.an_page .ant-pagination-item{
  border-radius: 20px;
}


/*滚动条*/
.mat-sidenav-content::-webkit-scrollbar,.mat-drawer-inner-container::-webkit-scrollbar, .sidenav::-webkit-scrollbar,.scroll_bar::-webkit-scrollbar{
  width: 0;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 12px;
  /*background-color: #51aded;*/
  background-color: #eeeeee;
  /*display: none;*/
}
.scroll_bar::-webkit-scrollbar-button{
  /*background-color:#819ca9;*/
  /*background-size: 6px 6px;*/
}
/*定义滚动条轨道*/
.mat-sidenav-content::-webkit-scrollbar-track,.sidenav::-webkit-scrollbar-track,.scroll_bar::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  /*border-radius: 10px;*/
  /*background-color: #F5F5F5;*/
}
/*定义滑块 内阴影+圆角*/
.mat-sidenav-content::-webkit-scrollbar-thumb,.sidenav::-webkit-scrollbar-thumb, .scroll_bar::-webkit-scrollbar-thumb
{
  border-radius: 5px;
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
  /*background-color: #819ca9;*/
  background-color: #51aded;
}


.content_t::-webkit-scrollbar{
  width: 8px;
  height: 8px;
  /*background-color: #eeeeee;*/
}
.content_t::-webkit-scrollbar-track{
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
}
.content_t::-webkit-scrollbar-thumb{
  border-radius: 4px;
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
  background-color: #7A7A7A;
}


/*---------------通道配置------------------------------*/
.channel{
  margin-top: 10px;
}
.channel *{
  font-size: 12px;
}
.conf_title{
  height: 35px;
  background-color: #586188;
  color: #FFFFFF;
  text-align: center;
  line-height: 35px;
  font-size: 12px;
  position: relative;
}
.conf_add{
  position: absolute;
  right: 10px;
  top: 7px;
  color: #666EE8;
}
.conf_add a{
  display: block;
  width: 20px;
  height: 20px;
  line-height: 16px;
  border-radius:3px;
  text-align: center;
  background-color: #FFFFFF;
}
.conf_add:hover a{
  background-color: #f0f1ff;
}
.conf_add a i{
  font-size: 14px;
  font-weight: bold;
}

.channel_content table{
  border-collapse: collapse;
}
.channel_content table th{
  background-color: #F9FAFD;
}
.channel_content table .t_head th *{
  font-size: 12px;
  color: #464855;
}
.channel_content table tr td{
  vertical-align: middle;
  padding: 0;
}
.channel_content table tr td input, .channel_content table tr td select{
  border: none;
  border-radius: 0;
}
.channel_content .t_btn{
  padding: 0 10px;
}
/*---------------end通道配置---------------------------*/



/*switch*/
.ant-switch-checked {
  background-color: #666EE8;
}






/*material input*/
.invoice_input .mat-form-field-flex {
  border: 1px solid #C4C6CF;
  padding: 10px 20px 0px 20px;
  border-radius:3px;
}
.invoice_input .mat-form-field-flex input{
  height: 22px;
}
.invoice_input .mat-form-field-label-wrapper {
  top: -1.2em;
}

.invoice_input .mat-form-field-appearance-legacy .mat-form-field-label {
  top: 1.8em;
}

.invoice_input .mat-form-field-appearance-legacy .mat-form-field-label {
  top: 1em;
}
.mat-form-field-appearance-legacy .mat-form-field-label {
  top: 1.8em;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  color: rgba(0,0,0,.54);
}
/*animate---------------*/

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown{
  0%{opacity:0; -webkit-transform:translateY(-40px);}
  100%{opacity:1; -webkit-transform:translateY(0);}
}
@-moz-keyframes fadeInDown{
  0%{opacity:0; -moz-transform:translateY(-40px);}
  100%{opacity:1; -moz-transform:translateY(0);}
}
@keyframes fadeInDown{
  0%{opacity:0; transform:translateY(-40px);}
  100%{opacity:1; transform:translateY(0);}
}


.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}



@-webkit-keyframes fadeInUp {
  0%{opacity:0; -webkit-transform:translateY(40px);}
  100%{opacity:1; -webkit-transform:translateY(0);}
}

@-moz-keyframes fadeInUp{
  0%{opacity:0; -moz-transform:translateY(40px);}
  100%{opacity:1; -moz-transform:translateY(0);}
}
@keyframes fadeInUp{
  0%{opacity:0; transform:translateY(40px);}
  100%{opacity:1; transform:translateY(0);}
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}



@-webkit-keyframes widhtIn{
  0%{ width:0;}
  100%{ width:350px;}
}
@-moz-keyframes widhtIn{
  0%{ width:0;}
  100%{ width:350px;}
}
@keyframes widhtIn{
  0%{ width:0;}
  100%{ width:350px;}
}




/**
 * Custom form elements
 *    - Checkbox
 *    - Radios
 *    - Switch
 *    - Rounded inputs
 */
.c-checkbox,
.c-radio {
  margin-right: 4px;
}
.c-checkbox *,
.c-radio * {
  cursor: pointer;
}
.c-checkbox input,
.c-radio input {
  opacity: 0;
  position: absolute;
  margin-left: 0 !important;
}
.c-checkbox span,
.c-radio span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  /*margin-left: -20px;*/
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #ccc;
  margin-right: 5px;
  text-align: center;
}
/*white*/
.c-checkbox.white span,
.c-radio.white span {
  border: 1px solid #fff;
}
.c-checkbox span:before,
.c-radio span:before {
  margin-left: 0;
}
.c-checkbox:hover span,
.c-radio:hover span {
  border-color: #5d9cec;
  background-color: #ffffff;
}
.c-checkbox.white:hover span,
.c-radio.white:hover span {
  border-color: #ffffff;
}
.form-inline .c-checkbox span,
.form-inline .c-radio span {
  margin-left: 0;
}
.c-checkbox.c-checkbox-rounded span,
.c-radio.c-checkbox-rounded span,
.c-checkbox.c-radio-rounded span,
.c-radio.c-radio-rounded span {
  border-radius: 500px;
}
.c-checkbox label{
  margin-bottom: 0;
}

/* override for radio */
.c-radio span {
  border-radius: 500px;
}
/* the icon */
.c-checkbox span:before,
.c-radio span:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  text-align: center !important;
  font-size: 12px;
  line-height: 18px;
  vertical-align: middle;
}
/* Checked state */
.c-checkbox,
.c-radio {
  /* override for radio */
  /* Disable state */
  /* override for radio */
}
.c-checkbox input[type=checkbox]:checked + span:before,
.c-radio input[type=checkbox]:checked + span:before,
.c-checkbox input[type=radio]:checked + span:before,
.c-radio input[type=radio]:checked + span:before {
  color: #fff;
  opacity: 1;
  transition: color 0.3s ease-out;
}
.c-checkbox input[type=checkbox]:checked + span,
.c-radio input[type=checkbox]:checked + span,
.c-checkbox input[type=radio]:checked + span,
.c-radio input[type=radio]:checked + span {
  border-color: #5d9cec;
  background-color: #5d9cec;
}
.c-checkbox input[type=radio]:checked + span,
.c-radio input[type=radio]:checked + span {
  background-color: #fff;
}
.c-checkbox input[type=radio]:checked + span:before,
.c-radio input[type=radio]:checked + span:before {
  color: #5d9cec;
}
.c-checkbox input[type=checkbox]:disabled + span,
.c-radio input[type=checkbox]:disabled + span,
.c-checkbox input[type=radio]:disabled + span,
.c-radio input[type=radio]:disabled + span {
  border-color: #dddddd !important;
  background-color: #dddddd !important;
}
.c-checkbox input[type=radio]:disabled + span,
.c-radio input[type=radio]:disabled + span {
  background-color: #fff !important;
}
.c-checkbox input[type=radio]:disabled + span:before,
.c-radio input[type=radio]:disabled + span:before {
  color: #dddddd;
}
.c-radio.c-radio-nofont {
  /* override for radio */
  /* Disable state */
  /* override for radio */
}
.c-radio.c-radio-nofont span:before {
  content: "";
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
  border-radius: 500px;
}
.c-radio.c-radio-nofont input[type=radio]:checked + span:before {
  color: #fff;
  opacity: 1;
  transition: color 0.3s ease-out;
}
.c-radio.c-radio-nofont input[type=radio]:checked + span {
  border-color: #5d9cec;
  background-color: #5d9cec;
}
.c-radio.c-radio-nofont input[type=radio]:checked + span {
  background-color: #fff;
}
.c-radio.c-radio-nofont input[type=radio]:checked + span:before {
  background-color: #5d9cec;
}
.c-radio.c-radio-nofont input[type=radio]:disabled + span {
  border-color: #dddddd !important;
  background-color: #dddddd !important;
}
.c-radio.c-radio-nofont input[type=radio]:disabled + span {
  background-color: #fff !important;
}
.c-radio.c-radio-nofont input[type=radio]:disabled + span:before {
  background-color: #dddddd;
}
.form-control-rounded {
  border-radius: 100px;
}
.switch .form-control {
  padding-top: 7px;
  margin-bottom: 0;
}
.switch * {
  cursor: pointer;
}
.switch input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.switch span {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #dddddd;
  border-radius: 100px;
  transition: all .5s;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1) inset;
  vertical-align: middle;
}
.switch span:after {
  content: "";
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid #ddd;
  border-radius: 400px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .2s;
}
.switch.switch-lg span {
  width: 50px;
  height: 25px;
}
.switch.switch-lg span:after {
  height: 23px;
  width: 23px;
}
.switch.switch-sm span {
  width: 30px;
  height: 15px;
}
.switch.switch-sm span:after {
  height: 13px;
  width: 13px;
}
.switch input:checked + span {
  background-color: #5d9cec;
  border-color: #5d9cec;
  transition: all .5s;
}
.switch input:checked + span:after {
  left: 50%;
  transition: all .2s;
}
.form-control-feedback {
  left: 16px;
  right: auto;
}
.form-control + .form-control-feedback,
.form-control + .parsley-errors-list + .form-control-feedback {
  right: 0;
  left: auto;
  top: 10px;
}
.input-sm + .form-control-feedback,
.input-sm + .parsley-errors-list + .form-control-feedback {
  top: 0;
}
label + .form-control + .form-control-feedback,
label + .form-control + .parsley-errors-list + .form-control-feedback {
  top: 36px;
}
.input-md {
  width: 260px;
}



