
.m_row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.m_form .m_item{
  margin-bottom: 0;
}
.m_form .m_item .m_label{
  width: 98px;
  text-align: left;
}
.m_btn i{
  cursor: pointer;
}

.m_table{
  padding-top: 15px;
}
.m_table .table tr th{
  background-color: #F9FAFD;
}
.m_table .table td input{
  /*border: none;*/
}
