<div class="t_cmt">
  <div class="t_ctm_c">
    <div class="m_item">
      <div class="m_label">
        波特率：
      </div>
      <div class="m_input">
        <select [(ngModel)]="baudRate" class="form-control">
          <option *ngFor="let data of baudRateList" [value]="data.value" >{{data.name}}</option>
        </select>
      </div>
    </div>

    <div class="m_item">
      <div class="m_label">
        数据位：
      </div>
      <div class="m_input">
        <select [(ngModel)]="dataBit" class="form-control">
          <option *ngFor="let data of dataBitList" [value]="data.value" >{{data.name}}</option>
        </select>
      </div>
    </div>

    <div class="m_item">
      <div class="m_label">
        停止位：
      </div>
      <div class="m_input">
        <select [(ngModel)]="stopBit" class="form-control">
          <option *ngFor="let data of stopBitList" [value]="data.value" >{{data.name}}</option>
        </select>
      </div>
    </div>

    <div class="m_item">
      <div class="m_label">
        校验位：
      </div>
      <div class="m_input">
        <select [(ngModel)]="parity" class="form-control">
          <option *ngFor="let data of parityList" [value]="data.value" >{{data.name}}</option>
        </select>
      </div>
    </div>

    <div class="m_item">
      <div class="m_label">
        通信接口：
      </div>
      <div class="m_input">
        <select [(ngModel)]="correspond" class="form-control">
          <option *ngFor="let data of correspondList" [value]="data.value" >{{data.name}}</option>
        </select>
      </div>
    </div>

    <div class="m_item">
      <div class="m_label">
        数据包类型：
      </div>
      <div class="m_input">
        <select [(ngModel)]="dataType" class="form-control">
          <option *ngFor="let data of dataTypeList" [value]="data.value" >{{data.name}}</option>
        </select>
      </div>
    </div>

    <div class="m_item">
      <div class="m_label">
        心跳包频率：
      </div>
      <div class="m_input">
        <select [(ngModel)]="heartbeat" class="form-control">
          <option *ngFor="let data of heartbeatList" [value]="data.value" >{{data.name}}</option>
        </select>
      </div>
    </div>
  </div>

</div>

<div class="t_add_b">
  <div class="btn-group">
    <button class="btn btn_purple bpm" (click)="pre()">
      上一步
    </button>
    <button class="btn btn_purple bpm" (click)="save()"
            [disabled]="!baudRate || !dataBit || !stopBit || !parity || !correspond || !dataType || !heartbeat"
            style="margin-left: 1px;">
      下一步
    </button>
  </div>

</div>

