

<div class="content">
  <div class="list_head">
    <div class="li_head_l">
      <h6>
        重要提醒
      </h6>
    </div>
    <div class="li_head_r">
      <!--刷新-->
      <!--<button class="btn btn_purple-o btn_round bps" (click)="searchChange()">
        <i class="iconfont iconicon_Refresh"></i>
      </button>-->

      <!--返回-->
      <button class="btn btn_purple-o btn_round bps" [routerLink]="['/admin/ordinary/home/dashborad']">
        <i class="iconfont iconicon_comeback1"></i>
      </button>

      <button class="btn btn_purple btn_round bpm ml-1">
        标记已读
      </button>

      <button class="btn btn_purple btn_round bpm ml-1">
        全部已读
      </button>

      <button class="btn btn_purple btn_round bpm ml-1">
        全部删除
      </button>

    </div>
  </div>

  <div class="list_content">
    <div class="content_h">
      <div class="search_box">
        <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate" [nzSuffix]="addOnAfterTemplate">
          <input type="text" nz-input [(ngModel)]="value" (keyup)="searchEnter($event)" maxlength="20"/>
        </nz-input-group>
        <ng-template #addOnBeforeTemplate>
          <nz-select [(ngModel)]="search">
            <nz-option [nzLabel]="'标题内容'" [nzValue]="'name'"></nz-option>
          </nz-select>
        </ng-template>
        <ng-template #addOnAfterTemplate>
          <img src="assets/icons/icon_seach.png" alt="" class="search_icon" (click)="searchChange()">
        </ng-template>

      </div>
      <div class="flex">


      </div>
    </div>
    <div class="content_t">
      <nz-table
        #dataTable
        [nzFrontPagination]="false"
        [nzShowPagination] = "false"
        [nzLoading]="loading"
        [nzData]="dataLists"
      >
        <thead>
        <tr>
          <th
            nzShowCheckbox
            [(nzChecked)]="isAllChecked"
            (nzCheckedChange)="checkAll($event)"
          >
          </th>
          <th>标题内容</th>
          <th>提交时间</th>
          <th>
            <nz-dropdown [nzTrigger]="'click'">
              <a nz-dropdown>
                类型
                <i nz-icon type="down" style="color: #898EA3;"></i>
              </a>

              <ul nz-menu>
                <li nz-menu-item (click)="searchStatus('')">
                  <a>全部</a>
                </li>
                <li nz-menu-item (click)="searchStatus('1')">
                  <a>1</a>
                </li>
                <li nz-menu-item (click)="searchStatus('2')">
                  <a>2</a>
                </li>

              </ul>
            </nz-dropdown>
          </th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of dataTable.data">
          <td
            nzShowCheckbox
            [(nzChecked)]="data.checked"
            [nzDisabled]="data.disabled"
            (nzCheckedChange)="refreshStatus()"
          ></td>
          <td> {{data.name}} </td>
          <td> {{data.terminal_code}} </td>
          <td>
            <span *ngIf="data.status === 0">
              正常
            </span>
            <span *ngIf="data.status === 1" style="color: #BE1414;">
              禁用
            </span>
          </td>
          <td>
            <a class="btn btn_purple btn-sm" [routerLink]="['/admin/ordinary/runtime', data.uid]">
              详情
            </a>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>

    <ng-template #totalTemplate let-total> 共计 {{ totalItems }} 项 </ng-template>

    <div class="content_b">
      <nz-pagination nzShowSizeChanger
                     [nzTotal]="totalItems"
                     [nzShowTotal]="totalTemplate"
                     [(nzPageIndex)]="page"
                     [(nzPageSize)]="pageSize"
                     (nzPageIndexChange)="pageChange()"
                     (nzPageSizeChange)="pageSizeChange()"
                     [nzPageSizeOptions] = "pageSizeList">

      </nz-pagination>
      <div class="ant-pagination-options-quick-jumper"> 跳至
        <input type="number" [(ngModel)]="pageNum"> 页 </div>
      <button (click)="goPage()" nz-button class="btn_purple ml-3">跳转</button>
    </div>

  </div>

</div>

