

<div class="content">
  <div class="list_head">
    <div class="li_head_l">
      <h6>
        蓝牙列表
      </h6>
    </div>
    <div class="li_head_r">
      <!--刷新-->
      <button class="btn btn_purple-o btn_round bps" (click)="searchChange()">
        <i class="iconfont iconicon_Refresh"></i>
      </button>

      <button class="btn btn_purple btn_round bpm ml-1" (click)="addData()">
        新增蓝牙
      </button>

      <button class="btn btn_purple btn_round bpm ml-1" (click)="batchDelete()">
        批量删除
      </button>

    </div>
  </div>

  <div class="list_content">
    <div class="content_h">
      <div class="search_box">
        <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate" [nzSuffix]="addOnAfterTemplate">
          <input type="text" nz-input [(ngModel)]="value" (keyup)="searchEnter($event)" maxlength="20"/>
        </nz-input-group>
        <ng-template #addOnBeforeTemplate>
          <nz-select [(ngModel)]="search">
            <nz-option [nzLabel]="'蓝牙序列号'" [nzValue]="'id'"></nz-option>
            <nz-option [nzLabel]="'蓝牙名称'" [nzValue]="'name'"></nz-option>
            <nz-option [nzLabel]="'MAC地址'" [nzValue]="'mac'"></nz-option>
            <nz-option [nzLabel]="'关联设备'" [nzValue]="'terminal_code'"></nz-option>
          </nz-select>
        </ng-template>
        <ng-template #addOnAfterTemplate>
          <img src="assets/icons/icon_seach.png" alt="" class="search_icon" (click)="searchChange()">
        </ng-template>

      </div>
      <div class="flex">


      </div>
    </div>
    <div class="content_t">
      <nz-table
        #dataTable
        [nzFrontPagination]="false"
        [nzShowPagination] = "false"
        [nzLoading]="loading"
        [nzData]="dataLists"
      >
        <thead>
        <tr>
          <th
            nzShowCheckbox
            [(nzChecked)]="isAllChecked"
            (nzCheckedChange)="checkAll($event)"
          >
          </th>
          <th>蓝牙序列号</th>
          <th>蓝牙名称</th>
          <th>MAC地址</th>
          <th>关联设备</th>
          <th>所属单位</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of dataTable.data">
          <td
            nzShowCheckbox
            [(nzChecked)]="data.checked"
            [nzDisabled]="data.disabled"
            (nzCheckedChange)="refreshStatus()"
          ></td>
          <td> {{data.id}} </td>
          <td> {{data.name}} </td>
          <td> {{data.mac}} </td>
          <td> {{data.ept_name || '空'}} ({{data.terminal_code || '空'}}) </td>
          <td> {{data.org_name || '空'}} </td>
          <td>
            <a class="btn btn_purple btn-sm" [routerLink]="['/admin/formal/bluetooth/info', data.uid, page]">
              设置
            </a>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>

    <ng-template #totalTemplate let-total> 共计 {{ totalItems }} 项 </ng-template>

    <div class="content_b">
      <nz-pagination nzShowSizeChanger
                     [nzTotal]="totalItems"
                     [nzShowTotal]="totalTemplate"
                     [(nzPageIndex)]="page"
                     [(nzPageSize)]="pageSize"
                     (nzPageIndexChange)="pageChange()"
                     (nzPageSizeChange)="pageSizeChange()"
                     [nzPageSizeOptions] = "pageSizeList">

      </nz-pagination>
      <div class="ant-pagination-options-quick-jumper"> 跳至
        <input type="number" [(ngModel)]="pageNum"> 页 </div>
      <button (click)="goPage()" nz-button class="btn_purple ml-3">跳转</button>
    </div>

  </div>

</div>




