
.c_ept{
  padding-top: 30px;
  padding-bottom: 40px;
  width: 433px;
  margin: auto;
}

.m_item{
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  position: relative;
}
.m_label{
  width: 70px;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 12px;
  text-align: right;
  padding-top: 5px;
}
.m_input{
  flex: auto;
  display: flex;
  align-items: flex-end;
  font-size: 12px;
}
.sign_tip{
  position: absolute;
  left: 70px;
  top: 100%;
}
.sign_tip *{
  font-size: 10px;
}
.m_img{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 10px;
}
.img_text{
  width: 156px;
  font-size: 12px;
  color: #464855;
}



.t_add_b{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

