<!--<div class="bread">
  信息维护 <span> / </span>订单管理
</div>-->


<div class="content">
  <div class="info_head">
    <div class="info_tname">
      <img src="assets/icons/invoice.png" alt="">
      发票详情
    </div>
    <div style="text-align: right;">
      <!--返回-->
      <button class="btn btn_purple-o btn_round bps" [routerLink]="['/admin/finance/invoice/list', {page: listPage}]">
        <i class="iconfont iconicon_comeback1"></i>
      </button>
      <button class="btn btn_purple btn_round bpm ml-1" (click)="statusSet()">
        状态设置
      </button>
    </div>
  </div>

  <div class="info_c0">
    <div class="flex">
      <div>
        订单编号：
      </div>
      <div class="text_purple">
        {{uid}}
      </div>
    </div>

    <div>
      开票状态：
      <span style="color: #1E9FF2;" *ngIf="basic && basic.invoiced_status">已完成</span>
      <span style="color: #FFC06A;" *ngIf="basic && !basic.invoiced_status">未完成</span>
    </div>

  </div>

  <div class="info_content">
    <div class="info_order_1">
      <div class="info_title">
        <h6>
          支付信息
        </h6>
      </div>
      <div class="info_body">
        <div class="ord1_con">
          <div class="ord1_l">
            <div class="order1_item">
              <div class="or_item_label">
                订单编号
              </div>
              <div class="or_item_text">
                {{uid}}
              </div>
            </div>

            <div class="order1_item">
              <div class="or_item_label">
                创建时间
              </div>
              <div class="or_item_text">
                {{basic?.created_at | date: 'yyyy-MM-dd HH:mm:ss'}}
              </div>
            </div>

            <div class="order1_item">
              <div class="or_item_label">
                订单创建账号
              </div>
              <div class="or_item_text">
                {{basic?.created_username || '空'}} ({{basic?.created_name || '空'}})
              </div>
            </div>

            <div class="order1_item">
              <div class="or_item_label">
                所属单位
              </div>
              <div class="or_item_text">
                {{basic?.created_org}}
              </div>
            </div>

            <div class="order1_item">
              <div class="or_item_label">
                订单类型
              </div>
              <div class="or_item_text">
                <!--<span *ngIf="basic&&basic.item_type === 1">
                  定期
                </span>
                <span *ngIf="basic&&basic.item_type === 2">
                  永久
                </span>-->
                <span *ngIf="basic&&basic?.item_type === 1">产品购买</span>
                <span *ngIf="basic&&basic?.item_type === 2">功能升级</span>
                <span *ngIf="basic&&basic?.item_type === 3">服务购买</span>
                <span *ngIf="basic&&basic?.item_type === 4">数据流量</span>
              </div>
            </div>
          </div>

          <div style="width: 2px; height:143px; background-color: #666EE8;"></div>

          <div class="ord1_r">
            <div class="order1_item">
              <div class="or_item_label">
                支付状态
              </div>
              <div class="or_item_text">
                <!--<span *ngIf="basic && !basic.order_status" style="color: #B20000;">
                  待支付
                </span>
                <span *ngIf="basic && basic.order_status">
                  支付完成
                </span>-->

                <span class="text_purple" *ngIf="basic && basic.order_status === 3">支付完成</span>
                <span style="color: #B20000;" *ngIf="basic && basic.order_status === 1">待支付</span>
                <span style="color: #A7ABBE;" *ngIf="basic && basic.order_status === 2">作废</span>
                <span style="color: #A7ABBE;" *ngIf="basic && basic.order_status === 0">已取消</span>
              </div>
            </div>

            <div class="order1_item">
              <div class="or_item_label">
                支付完成时间
              </div>
              <div class="or_item_text">
                {{basic?.pay_at | date: 'yyyy-MM-dd HH:mm:ss'}}
              </div>
            </div>

            <div class="order1_item">
              <div class="or_item_label">
                支付金额
              </div>
              <div class="or_item_text">
                {{basic?.pay_money | currency: '￥'}}
              </div>
            </div>

            <div class="order1_item">
              <div class="or_item_label">
                支付方式
              </div>
              <div class="or_item_text">
                <span *ngIf="basic&&basic.pay_method === 2">
                  <img src="assets/images/alipay2.png" alt="">
                </span>
                <span *ngIf="basic&&basic.pay_method === 1">
                  对公转账
                </span>
              </div>
            </div>

            <div class="order1_item">
              <div class="or_item_label">
                支付账号
              </div>
              <div class="or_item_text">
                {{basic?.buyer_account}}
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="info_order_2">
      <div class="info_title">
        <h6>
          设备清单
        </h6>
      </div>
      <div class="info_body">
        <div class="item_c0">
          <div class="item_c1">
            <div class="de_item_c1">
              <div class="item_c1_label">
                发票类型
              </div>
              <div class="item_c1_value">
                增值税专用发票
              </div>
            </div>

            <div class="de_item_c1">
              <div class="item_c1_label">
                公司名称
              </div>
              <div class="item_c1_value">
                {{invoice?.company}}
              </div>
            </div>
          </div>

          <div class="item_c1">
            <div class="de_item_c1">
              <div class="item_c1_label">
                纳税人识别号
              </div>
              <div class="item_c1_value">
                {{invoice?.taxpayer_id}}
              </div>
            </div>

            <div class="de_item_c1">
              <div class="item_c1_label">
                开户银行名称
              </div>
              <div class="item_c1_value">
                {{invoice?.bank_account}}
              </div>
            </div>

            <div class="de_item_c1">
              <div class="item_c1_label">
                基本开户账号
              </div>
              <div class="item_c1_value">
                {{invoice?.open_account}}
              </div>
            </div>

            <div class="de_item_c1">
              <div class="item_c1_label">
                注册场所地址
              </div>
              <div class="item_c1_value">
                {{invoice?.register_place}}
              </div>
            </div>

            <div class="de_item_c1">
              <div class="item_c1_label">
                注册固定电话
              </div>
              <div class="item_c1_value">
                {{invoice?.register_tel}}
              </div>
            </div>

          </div>




        </div>

        <div class="flex">
          <div class="item_c1_label" style="padding-top: 11px;">
            收件信息
          </div>
          <div class="item_c2_value">
            <div style="margin-bottom: 15px;">
              <b style="font-size: 18px; color: #000000;">{{invoice?.name}}</b>
              <span style="font-size: 12px; color: #666666;">
                {{invoice?.tel}}
              </span>
            </div>
            <div style="font-size: 15px; color: #000000;">
              {{invoice?.location_name}}
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>




