
<div>
  <div class="mat-card-title clearfix" style="padding: 15px 0;">
    <div class="pull-right flex flex-row">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="请输入设备名称" [(ngModel)]="search" >
        <div class="input-group-append" >
          <button class="btn btn_info" type="button"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>

  <div class="grid grid-pad row">
    <div *ngFor="let data of clusters" class="col-6 mb-2">
      <div class="module flex">
        <div class="status_content">
          <a [routerLink]="['/admin/monitor/cluster', data.uid]">
            <h5 class="mb-4">
              {{data.name}}
            </h5>
          </a>

          <div class="status_row ">
            <div class="status_col bg_grey">
              终端 <br/> {{data.termOnline}}/{{data.termOffline}}
            </div>
            <div class="status_col bg_grey">
              设备 <br/> {{data.eptOnline}}/{{data.eptCounts}}
            </div>
            <div class="status_col " [ngClass]="{'bg_grey':!data.Online, 'bg-warning':data.Online && data.Warning , 'bg_light_secondary':data.Online && !data.Warning}">
              告警 <br/> {{data.alarmCounts}}
            </div>
            <div class="status_col"
                 [ngClass]="{'bg_grey':!data.Online, 'bg-warning':data.Online && data.Malfunction , 'bg_light_secondary':data.Online && !data.Malfunction}" style="margin-bottom: 0">
              <!--{{data.malfunction}}--> 故障
            </div>
          </div>
        </div>
        <div class="img_content">
          <a [routerLink]="['/admin/monitor/cluster', data.uid]">
            <img src="{{data.img}}" alt="">
          </a>
        </div>

      </div>
    </div>
  </div>

  <div class="clearfix mt-2">
    <div class="pull-left"> 共 {{totalItems}} 项</div>
    <ngb-pagination class="pull-right"
                    [collectionSize]="totalItems"
                    [pageSize]="4" [(page)]="page"
                    [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                    (pageChange)="pageChange()">
    </ngb-pagination>
  </div>

</div>
