
<div class="mt-lg-3">

    <div class="form-group">
      <label class="control-label">当前密码</label>
      <input type="password" class="form-control" [(ngModel)]="profile.password" /> </div>
    <div class="form-group">
      <label class="control-label">新密码</label>
      <input type="password" class="form-control" [(ngModel)]="profile.password_new" /> </div>
    <div class="form-group">
      <label class="control-label">重新输入新密码</label>
      <input type="password" class="form-control" [(ngModel)]="profile.password_new_confirm"/> </div>
    <div class="margin-top-10 clearfix">
      <a href (click)="updateUserPassword()" class="btn btn-info pull-right"> 修改密码 </a>

    </div>

</div>
