<div>

  <div style="">
    <div nz-row nzType="flex" nzJustify="start" nzGutter="32">
      <div nz-col nzSpan="8" *ngFor="let data of urlList; let i = index;">
        <div class="v_item" style="">
          <div class="v_item_head">
            <div style="color: #333333;">
              {{ data.Name }}
            </div>
            <div style="color: #003eee;">
              {{ data.Remark }}
            </div>
          </div>
          <div class="v_item_body">
            <!--<video [id]="'myPlayer'+i" poster="" controls playsInline webkit-playsinline style="width: 100%;">
              <source [src]="data.url" type="application/x-mpegURL" />
            </video>-->
            <a [routerLink]="['/video-view', data.LiveAddress, data.Name]" target="_blank">
              <img src="assets/images/video.jpg" alt="" style="width: 100%; ">
            </a>

          </div>
        </div>
      </div>

    </div>
  </div>

  <!--<div class="v_bottom">
    <ngb-pagination class="pull-right"
                    [collectionSize]="totalItems"
                    [pageSize]="pageSize" [(page)]="page"
                    [maxSize]="3" [rotate]="true" [boundaryLinks]="false"
                    (pageChange)="pageChange()">

    </ngb-pagination>
  </div>-->



</div>
